<div class="dp-msj-error bounceIn">
  <p>
    Ouch! These aren't VTEX api data connection ( Message Error )
    <a href="#">contact Support</a>
  </p>
</div>
<div class="dp-msj-warning bounceIn">
  <p>
    Ouch! These aren't VTEX api data connection ( Message Warning )
    <a href="#">contact Support</a>
  </p>
</div>
<div class="dp-msj-succes fadeInUp">
  <p>
    Ouch! These aren't VTEX api data connection ( Message Succes )
    <a href="#">contact Support</a>
  </p>
</div>
<div class="dp-msj-user fadeInDown">
  <p>
    Ouch! These aren't VTEX api data connection ( Message for User )
    <a href="#">contact Support</a>
  </p>
</div>
