<aside class="dpsg-navigation-wrap">
  <nav class="dpsg-navigation">
    <ul>
      <li><a href="layout.html" class="">Inicio</a></li>
    </ul>
  </nav>
  <h3>Componentes UI</h3>
  <nav class="dpsg-navigation">
    <ul>
      <li><a href="colors-component.html" class="">Colores</a></li>
      <li><a href="buttons-component.html" class="">Botones</a></li>
      <li><a href="table-component.html" class="">Tablas</a></li>
      <li><a href="tooltip-component.html" class="">Tooltip</a></li>
      <li><a href="breadcrumb-component.html" class="">Breadcrumb</a></li>
      <li>
        <a href="messages-component.html" class="">Mensajes para el usuario</a>
      </li>
      <li><a href="modal-component.html" class="">Modales</a></li>
      <li><a href="preload-component.html" class="">Preload</a></li>
      <li>
        <a href="account-message-component.html" class="">estados de cuenta</a>
      </li>
      <li><a href="animations-component.html" class="">Animaciones</a></li>
    </ul>
  </nav>
  <h3>Layouts</h3>
  <nav class="dpsg-navigation">
    <ul>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Confirmación Email</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Forgot Password</a></li>
      <li><a href="#">Integration Shopify</a></li>
    </ul>
  </nav>
</aside>
