<ul class="nav">
  <li class="nav-item"><span class="ms-icon icon-doppler-logo"></span></li>
  <li class="nav-item"><a href="index.html" class="nav-link">Doppler UI</a></li>
  <li class="nav-item"><a href="header.html" class="nav-link">Header</a></li>
  <li class="nav-item"><a href="footer.html" class="nav-link">Footer</a></li>
  <li class="nav-item">
    <a href="messages-header.html" class="nav-link">Messages header</a>
  </li>
  <li class="nav-item"><a href="modal.html" class="nav-link">Modals</a></li>
  <li class="nav-item">
    <a href="reports-filters.html" class="nav-link">Reports</a>
  </li>
  <li class="nav-item">
    <a href="loading-page.html" class="nav-link">Loading</a>
  </li>
  <li class="nav-item"><a href="signup.html" class="nav-link">Sign Up</a></li>
  <li class="nav-item">
    <a href="confirmation-page.html" class="nav-link">Confirmation</a>
  </li>
  <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>
  <li class="nav-item">
    <a href="forgot-password.html" class="nav-link">Forgot</a>
  </li>
  <li class="nav-item">
    <a href="integrations.html" class="nav-link">Integrations</a>
  </li>
</ul>
<!-- nav -->
