<aside class="dpsg-navigation-wrap">
  <nav class="dpsg-navigation">
    <ul>
      <li class="dpsg-nav-item" data-number="1">
        <a href="index.html" class="dpsg-nav-link">Inicio</a>
      </li>
    </ul>
    <h3>Componentes UI</h3>
    <ul>
      <li class="dpsg-nav-item" data-number="2">
        <a href="colors-component.html" class="dpsg-nav-link">Colores</a>
      </li>
      <li class="dpsg-nav-item" data-number="3">
        <a href="buttons-component.html" class="dpsg-nav-link">Botones</a>
      </li>
      <li class="dpsg-nav-item" data-number="42">
        <a href="component-elements-checked.html" class="dpsg-nav-link"
          >Elements checked</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="4">
        <a href="table-component.html" class="dpsg-nav-link">Tablas</a>
      </li>
      <li class="dpsg-nav-item" data-number="20">
        <a href="header-component.html" class="dpsg-nav-link">Header</a>
      </li>
      <li class="dpsg-nav-item" data-number="31">
        <a href="nav-user-component.html" class="dpsg-nav-link">Nav User</a>
      </li>
      <li class="dpsg-nav-item" data-number="24">
        <a href="hero-banner-component.html" class="dpsg-nav-link"
          >Hero banner</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="25">
        <a href="tabs-component.html" class="dpsg-nav-link">tabs</a>
      </li>
      <li class="dpsg-nav-item" data-number="18">
        <a href="footer-component.html" class="dpsg-nav-link">Footer</a>
      </li>
      <li class="dpsg-nav-item" data-number="5">
        <a href="tooltip-component.html" class="dpsg-nav-link">Tooltip</a>
      </li>
      <li class="dpsg-nav-item" data-number="6">
        <a href="breadcrumb-component.html" class="dpsg-nav-link">Breadcrumb</a>
      </li>
      <li class="dpsg-nav-item" data-number="28">
        <a href="cards-component.html" class="dpsg-nav-link">Cards</a>
      </li>
      <li class="dpsg-nav-item" data-number="26">
        <a href="accordion-component.html" class="dpsg-nav-link">Accordion</a>
      </li>
      <li class="dpsg-nav-item" data-number="7">
        <a href="messages-component.html" class="dpsg-nav-link"
          >Mensajes para el usuario</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="8">
        <a href="modal-component.html" class="dpsg-nav-link">Modales</a>
      </li>
      <li class="dpsg-nav-item" data-number="9">
        <a href="preload-component.html" class="dpsg-nav-link">Preload</a>
      </li>
      <li class="dpsg-nav-item" data-number="10">
        <a href="account-message-component.html" class="dpsg-nav-link"
          >estados de cuenta</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="11">
        <a href="animations-component.html" class="dpsg-nav-link"
          >Animaciones</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="40">
        <a href="carousel-component.html" class="dpsg-nav-link">Carousel</a>
      </li>
      <li class="dpsg-nav-item" data-number="17">
        <a href="grid-system-component.html" class="dpsg-nav-link"
          >Grid system</a
        >
      </li>
    </ul>
    <h3>Layouts</h3>
    <ul>
      <li class="dpsg-nav-item" data-number="33">
        <a href="big-data-input.html" class="dpsg-nav-link">Big data input</a>
      </li>
      <li class="dpsg-nav-item" data-number="27">
        <a href="doppler-plus.html" class="dpsg-nav-link">Doppler Plus</a>
      </li>
      <li class="dpsg-nav-item" data-number="32">
        <a href="plan-calculator.html" class="dpsg-nav-link">Plan calculator</a>
      </li>
      <li class="dpsg-nav-item" data-number="29">
        <a href="doppler-plus-plans-form.html" class="dpsg-nav-link"
          >Form for Agencies</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="30">
        <a href="form_exclusive_features.html" class="dpsg-nav-link"
          >Form exclusive features</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="23">
        <a href="themes.html" class="dpsg-nav-link">theme dark</a>
      </li>
      <li class="dpsg-nav-item" data-number="21">
        <a href="reports.html" class="dpsg-nav-link">reports</a>
      </li>
      <li class="dpsg-nav-item" data-number="12">
        <a href="signup.html" class="dpsg-nav-link">Sign Up</a>
      </li>
      <li class="dpsg-nav-item" data-number="13">
        <a href="confirmation-page.html" class="dpsg-nav-link"
          >Confirmación Email</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="14">
        <a href="login.html" class="dpsg-nav-link">Login</a>
      </li>
      <li class="dpsg-nav-item" data-number="15">
        <a href="forgot-password.html" class="dpsg-nav-link">Forgot Password</a>
      </li>
      <li class="dpsg-nav-item" data-number="16">
        <a href="integrations.html" class="dpsg-nav-link"
          >Integration Shopify</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="19">
        <a href="subscriber-history.html" class="dpsg-nav-link"
          >Subscriber History</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="34">
        <a href="contact-policy.html" class="dpsg-nav-link">Contact Policy</a>
      </li>
      <li class="dpsg-nav-item" data-number="37">
        <a href="list-selection-page.html" class="dpsg-nav-link"
          >List selection page</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="38">
        <a href="promotional-page.html" class="dpsg-nav-link"
          >Promotional Page</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="35">
        <a href="big-query.html" class="dpsg-nav-link">Big Query</a>
      </li>
      <li class="dpsg-nav-item" data-number="36">
        <a href="payment-process.html" class="dpsg-nav-link">Payment Process</a>
      </li>
      <li class="dpsg-nav-item" data-number="41">
        <a href="checkout-success.html" class="dpsg-nav-link"
          >Checkout Success</a
        >
      </li>
      <li class="dpsg-nav-item" data-number="39">
        <a href="dashboard.html" class="dpsg-nav-link">Dashboard</a>
      </li>
    </ul>
  </nav>
</aside>
