<aside class="dpsg-navigation-wrap">
  <nav class="dpsg-navigation">
    <ul>
      <li><a href="layout.html" class="active">Inicio</a></li>
    </ul>
  </nav>
  <h3>Componentes UI</h3>
  <nav class="dpsg-navigation">
    <ul>
      <li><a href="#">Colores</a></li>
      <li><a href="#">Botones</a></li>
      <li>
        <a href="table-component.html" class="">Tablas</a>
      </li>
      <li>
        <a href="tooltip-component.html" class="">Tooltip</a>
      </li>
      <li>
        <a href="breadcrumb-component.html" class="">Breadcrumb</a>
      </li>
      <li>
        <a href="mensajes-component.html" class="">Mensajes para el usuario</a>
      </li>
      <li><a href="#">Modales</a></li>
      <li><a href="#">Preload</a></li>
      <li><a href="#">Mensajes header</a></li>
      <li><a href="#">Animaciones</a></li>
      <li><a href="#">Componente</a></li>
    </ul>
  </nav>
  <h3>Layouts</h3>
  <nav class="dpsg-navigation">
    <ul>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Confirmación Email</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Forgot Password</a></li>
      <li><a href="#">Integration Shopify</a></li>
    </ul>
  </nav>
</aside>
