<table class="dp-c-table">
  <caption></caption>
  <thead>
    <tr>
      <th>
        <a href="#">Estado</a>
      </th>
      <th>
        <a href="#">Tipo</a>
      </th>
      <th>
        <a href="#">Nombre</a>
      </th>
      <th>
        <a href="#">Fecha de creación</a>
      </th>
      <th>
        <a href="#">Acciones</a>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">Single column for footer</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>
        <span>Content 1</span>
      </td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
    <tr>
      <td>Content 1</td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
    <tr class="sync">
      <td colspan="1">Enderec (dplrvetex)</td>
      <td colspan="1">Lista nueva</td>
      <td colspan="3">
        <span class="text-sync">
          <i class="ms-icon icon-clock"></i> Synchronizing...
        </span>
      </td>
    </tr>
    <tr>
      <td>Content 1</td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
    <tr>
      <td>Content 1</td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
    <tr>
      <td>Content 1</td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
    <tr>
      <td>Content 1</td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
    <tr class="sync">
      <td colspan="1">Enderec (dplrvetex)</td>
      <td colspan="1">Lista nueva</td>
      <td colspan="3">
        <span class="text-sync">
          <i class="ms-icon icon-clock"></i> Synchronizing...
        </span>
      </td>
    </tr>
    <tr>
      <td>Content 1</td>
      <td>Content 2</td>
      <td>Content 3</td>
      <td>Content 4</td>
      <td>Content 5</td>
    </tr>
  </tbody>
</table>
;
