<h2>Tooltip component</h2>
<p>
  Podemos utilizar las clases dp-tooltip-top, dp-tooltip-right,
  dp-tooltip-bottom, dp-tooltip-left para posicionar el tooltip donde lo
  necesitemos.
</p>
<div class="wrapper-tooltip">
  <div class="dp-box">
    <p class="dp-tooltip-top">
      dooplertip top
      <span class="tooltiptext"
        >Lorem ipsum dolor sit amet. <a href="#">tips para seguir</a></span
      >
    </p>
  </div>
  <div class="dp-box">
    <p class="dp-tooltip-right">
      dooplertip right
      <span class="tooltiptext"
        >Lorem ipsum dolor sit amet. <a href="#">tips para seguir</a></span
      >
    </p>
  </div>
  <div class="dp-box">
    <p class="dp-tooltip-bottom">
      dooplertip bottom
      <span class="tooltiptext"
        >Lorem ipsum dolor sit amet. <a href="#">tips para seguir</a></span
      >
    </p>
  </div>
  <div class="dp-box">
    <p class="dp-tooltip-left">
      dooplertip left
      <span class="tooltiptext"
        >Lorem ipsum dolor sit amet. <a href="#">tips para seguir</a></span
      >
    </p>
  </div>
</div>
