.settings
.svn
.project
*.map
*.scssc
node_modules/
bower_components/
static/styles/libs/*
dev/css/*
dist
dev/fonts/*
/assets/scss/libs/iconfont/*.scss
/assets/fonts/icon-font.*
/dev/index.html
/dev/**

/assets/scss/libs/webfont/compiled/template.css
