////
/// @access private
/// @author
/// Classes for layout Dashboard
////

.dp-library {
  .dp-dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    h2 {
      display: flex;
    }
  }
  .dp-dashboard-title-link {
    font-size: $dp-sizing--lvl1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &::before {
      width: 15px;
      height: 16px;
      margin-right: 5px;
      background: url('../img/dashboard-list-icon-title.svg') no-repeat 0 0;
      content: '';
    }
  }
  .dp-dashboard-panel {
    margin-bottom: 80px;
    position: relative;

    .dp-overlay {
      position: absolute;
      background-color: $dp-color-ghostwhite;
      width: calc(100% - 24px);
      height: 100%;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      border: 2px solid $dp-color-silver;
      border-radius: 3px;
      margin: 0 12px;
      font-size: 16px;
      color: $dp-color-darkgrey;
      display: none;
      &.show {
        display: flex;
      }
    }

    .dp-dashboard-kpi {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid $dp-color-snow;
      padding: 30px;
      border-radius: 3px;
    }
    .dp-kpi-value {
      font-size: $dp-sizing--lvl7;
      line-height: $dp-sizing--lvl7;
      padding-bottom: $dp-spaces--lv2;
    }
    .dp-kpi-title {
      font-size: $dp-sizing--lvl2;
      line-height: $dp-sizing--lvl2;
    }
    .dp-kpi-period {
      font-size: $dp-sizing--lvl1;
      line-height: $dp-sizing--lvl5;
      text-transform: uppercase;
    }
    .dp-bold {
      font-weight: bold;
    }
    &.disabled {
      .dp-dashboard-icon.deliveries {
        background-image: url('../img/dashboard-deliveries-disabled.svg');
      }
      .dp-dashboard-icon.open-rate {
        background-image: url('../img/dashboard-open-rate-disabled.svg');
      }
      .dp-dashboard-icon.ctr {
        background-image: url('../img/dashboard-ctr-disabled.svg');
      }
      .dp-dashboard-icon.book {
        background-image: url('../img/dashboard-book-disabled.svg');
      }
      .dp-dashboard-icon.user-new {
        background-image: url('../img/dashboard-user-new-disabled.svg');
      }
      .dp-dashboard-icon.user-removed {
        background-image: url('../img/dashboard-user-removed-disabled.svg');
      }
    }
  }
  .dp-dashboard-icon {
    width: 50px;
    height: auto;
    display: block;
    min-height: 50px;
    margin-bottom: 18px;
    background-position: center center;
    background-repeat: no-repeat;

    &.deliveries {
      background-image: url('../img/dashboard-deliveries.svg');
    }
    &.open-rate {
      background-image: url('../img/dashboard-open-rate.svg');
    }
    &.ctr {
      background-image: url('../img/dashboard-ctr.svg');
    }
    &.book {
      background-image: url('../img/dashboard-book.svg');
    }
    &.user-new {
      background-image: url('../img/dashboard-user-new.svg');
      background-position: center bottom;
    }
    &.user-removed {
      background-image: url('../img/dashboard-user-removed.svg');
      background-position: center bottom;
    }
  }
  .dp-dashboard-icon-title {
    width: 30px;
    height: auto;
    display: inline-block;
    min-height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;

    &.deliveries {
      background-image: url('../img/dashboard-deliveries-icon-title.svg');
    }
    &.subscribers {
      background-image: url('../img/dashboard-subscribers-icon-title.svg');
    }
    &.dp-learn-with-doppler {
      background-image: url('../img/icon-book.svg');
    }
  }

  .dp-icon-steps {
    width: 30px;
    height: auto;
    display: inline-block;
    min-height: 30px;
    margin-right: $dp-spaces--lv2;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('../img/icon-pennant.svg');
  }

  .dp-title-section-steps {
    display: flex;
    align-items: center;
    margin-top: $dp-spaces--lv6;
    padding-bottom: $dp-spaces--lv4;
  }
  .dp-step {
    padding: $dp-spaces--lv4 $dp-spaces--lv3;
    border: 2px solid $dp-color-snow;
    border-radius: 3px;
    margin-bottom: $dp-spaces--lv4;

    .dp-iconstep {
      background-repeat: no-repeat;
      width: 21px;
      height: 21px;
      margin-right: $dp-spaces--lv2;
    }

    &.dp-welcom {
      .dp-iconstep {
        background-image: url(../img/ok-icon.svg);
      }
    }

    &.dp-step--success {
      .dp-iconstep {
        background-image: url(../img/step-ok.svg);
      }
    }

    &.dp-step--one {
      border: 2px solid $dp-greenBorder-forFlashcards;
      .dp-iconstep {
        background-image: url(../img/number-1.svg);
      }
    }

    &.dp-step--two {
      border: 2px solid $dp-greenBorder-forFlashcards;
      .dp-iconstep {
        background-image: url(../img/number-2.svg);
      }
    }

    &.dp-step--three {
      border: 2px solid $dp-greenBorder-forFlashcards;
      .dp-iconstep {
        background-image: url(../img/number-3.svg);
      }
    }

    &.dp-step--warning {
      border: 2px solid $dp-yellowBorder-forFlashcards;
      .dp-iconstep {
        background-image: url(../img/step-warning.svg);
      }
    }

    h4 {
      text-transform: none;
      display: flex;
      padding-bottom: $dp-spaces--lv3;
    }
  }

  @include media-breakpoint('ipad') {
    .dp-dashboard-kpi {
      margin: $dp-spaces--lv3 $dp-spaces--lv0;
    }
  }
}
