////
/// Layout Doppler plus
/// It will apply annotations to all items from file.
/// @access private
/// @author Gustavo Baamonde
/// Classes for Doppler plus
////

.dp-library {
  .dp-app-container {
    min-height: 100vh;
    overflow: hidden;
  }

  .dp-gray-page {
    background-color: $dp-color-wild-sand;
    flex: 1;

    .dp-tit-plans {
      text-align: center;
      font-size: $dp-sizing--lvl9;
      line-height: $dp-sizing--lvl10;
      font-weight: bold;
      font-family: 'proxima-nova';
      letter-spacing: -1px;
      max-width: 460px;
      padding: $dp-spaces--lv9 $dp-spaces--lv0;
      margin: $dp-spaces--lv0 auto;
    }
  }

  .dp-white-page {
    background-color: $dp-color-white;
    flex: 1;
  }

  .dp-align-center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    @media screen and (max-width: 480px) {
      flex-wrap: nowrap;
    }

    .dpsg-tit-card {
      font-size: 14px;
      width: 285px;
      height: 65px;
      line-height: 20px;
      text-transform: uppercase;
    }

    .dp-title-faq {
      font-size: $dp-sizing--lvl8;
      line-height: $dp-sizing--lvl9;
      padding: $dp-spaces--lv9 $dp-spaces--lv0;
    }
  }

  @media screen and (max-width: 1025px) {
    .dp-align-center {
      margin: $dp-spaces--lv0 auto;
      display: flex;
      flex-direction: column;
    }
  }

  .dp-show-details-plans {
    margin: $dp-spaces--lv0;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: $dp-color-grey;
    text-decoration: none;
    line-height: 24px;
    padding-left: $dp-spaces--lv4;
    @include transition-all;

    &:hover {
      color: $dp-color-darkgrey;
    }

    &:before {
      width: 5px;
      height: 7px;
      content: '';
      left: 15px;
      top: 4px;
      border-left: solid 4px $dp-color-grey;
      border-bottom: solid 4px transparent;
      border-top: solid 4px transparent;
      position: absolute;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
    }
  }

  .dp-banner {
    padding: $dp-spaces--lv4;
    width: 100%;
    background-color: $dp-color-white;
    border: 2px solid $dp-color-snow;
    border-radius: $dp-border-radius;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: $dp-spaces--lv5 $dp-spaces--lv0;

    header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .dp-img-banner {
      width: 60px;
      padding: 0 6px;
      display: inline-block;
    }

    .dp-tit-banner {
      display: inline-block;
    }

    .dp-content-banner {
      display: inline-block;
      padding: 12px;
    }

    .dp-banner-cta {
      width: 100%;
      padding: 18px 0;
    }
  }
}
