/* footer */

.footer-main {
  box-shadow: 0 -4px 0 0 $dp-color-snow;
  border-top: 1px solid $dp-color-silver;
  height: 80px;
}

.footer-wrapper {
  font-size: 11px;
  font-family: $dp-font-family;
  padding-left: $dp-spaces--lv5;
  padding-right: $dp-spaces--lv5;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
