/* footer */
.footer-wraper {
  font-size: 11px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-main {
  box-shadow: 0 -4px 0 0 #eaeaea;
  border-top: 1px solid #ccc;
  padding: 0 2%;
  height: 80px;
}