.nav {
  margin: 10px 0 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-item {
  display: inline-block;

  .icon-doppler-logo {
    margin-right: 20px;
  }
}

.nav-link {
  text-decoration: none;
  position: relative;
  color: $dp-color-darkgrey;
  font-size: $dp-headers-h5-font-size;
  font-weight: $dp-font-weight-bold;
  font-family: $dp-font-family-proximanova;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
  padding: 15px 0;
  margin-right: 25px;
  text-transform: uppercase;

  &:before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid $dp-color-darkyellow;
    bottom: 0;
    right: 350px;
    transition: all 0.5s;
  }

  &:hover:before {
    right: 0;
  }

  &:active,
  &:hover {
    color: $dp-color-darkyellow;
  }
}

.nav-item .active {
  color: $dp-color-darkyellow;
}

.nav-item .active:before {
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 3px solid $dp-color-darkyellow;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}

.main-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.section-module {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0;
  border-bottom: 1px solid $dp-color-sylver;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-card {
  border: 1px solid $dp-color-ghostwhite;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.5em $dp-color-sylver;
  overflow: hidden;
  margin-bottom: 30px;
  width: 210px;
}

.color-list {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;

  li {
    margin-bottom: 10px;
    text-align: center;
  }
}

.sample-color {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.description-color {
  width: 100%;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $dp-color-white;
  font-size: $dp-font-size;
  border-top: 1px solid $dp-color-snow;

  code {
    padding: 3px 5px;
    border-radius: 3px;
  }

  p {
    color: $dp-color-darkgrey;
  }
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.buttons-card {
  height: 235px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  width: 300px;
  text-align: left;
}

.button-list {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;

  li {
    margin-bottom: 10px;
    text-align: left;
  }
}
/* content align buttons in modals-layout */

.content {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  .button-small {
    font-size: $dp-font-size-small;
    font-family: $dp-font-family;
    color: #FFF;
    height: 40px;
    padding-left: 25px;
    text-transform: none;
    padding-right: 25px;
  }

  .button--primary {
    background: $dp-color-green;
  }

  .button--primary:active,
  .button--primary:hover {
    background: $dp-color-darkgreen;
  }
}