.nav {
  margin: 10px 0 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid $dp-color-sylver;
}

.nav-item {
  display: inline-block;

  .icon-doppler-logo {
    margin-right: 20px;
  }
}

.nav-link {
  text-decoration: none;
  position: relative;
  color: $dp-color-darkgrey;
  font-size: $dp-headers-h5-font-size;
  font-weight: $dp-font-weight-bold;
  font-family: $dp-font-family-proximanova;
  display: block;
  overflow: hidden;
  padding: 15px 0;
  margin-right: 25px;
  text-transform: uppercase;
  @include transition;

  &:before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid $dp-color-darkyellow;
    bottom: 0;
    right: 350px;
    @include transition;
  }

  &:hover:before {
    right: 0;
  }

  &:active,
  &:hover {
    color: $dp-color-darkyellow;
  }
}

.nav-item .active {
  color: $dp-color-darkyellow;
}

.nav-item .active:before {
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 3px solid $dp-color-darkyellow;
  bottom: 0;
  right: 0;
  @include transition;
}

.main-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.section-module {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-card {
  border: 1px solid $dp-color-ghostwhite;
  height: 200px;
  border-radius: $dp-border-radius;
  box-shadow: 0 0.5em 1em -0.5em $dp-color-sylver;
  overflow: hidden;
  margin-bottom: 30px;
  width: 210px;
}

.color-list {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;

  li {
    margin-bottom: 10px;
    text-align: center;
  }
}

.sample-color {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.description-color {
  width: 100%;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $dp-color-white;
  font-size: $dp-font-size;
  border-top: 1px solid $dp-color-snow;

  code {
    padding: 3px 5px;
    border-radius: $dp-border-radius;
  }

  p {
    color: $dp-color-darkgrey;
  }
}
/* buttons */
.main-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.buttons-card {
  border-radius: 5px;
  margin-bottom: 30px;
  width: 25%;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: left;

  &:before {
    opacity: 0;
    border-radius: $dp-border-radius;
    box-shadow: 0 4px 20px rgba(black, 0.1);
    transform: scale(1.3, 1.3);
  }

  &:hover:before {
    opacity: 1;
    transform: scale(1, 1);
  }

  &:after {
    @include transition;
    border: 1px solid rgba(153, 153, 153, 0.9);
  }

  &:hover:after {
    transform: scale(0, 0);
    opacity: 0;
  }
}

.box-button {
  position: relative;
  min-height: 260px;
  @include transition;
}

.box-button::before,
.btn::after {
  content: '';
  position: absolute;
  @include transition;
  top: -15px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button-description {
  position: relative;
  display: flex;
  padding-top: 20px;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.button-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;

  li {
    text-align: left;
    padding: 5px 0;
  }
}