.nav {
  margin: 10px 0 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid $dp-color-sylver;
}

.nav-item {
  display: inline-block;

  .icon-doppler-logo {
    margin-right: 20px;
  }
}

.nav-link {
  text-decoration: none;
  position: relative;
  color: $dp-color-darkgrey;
  font-size: $dp-font-size-15;
  font-weight: $dp-font-weight-bold;
  font-family: $dp-font-family-proximanova;
  display: block;
  overflow: hidden;
  padding: 15px 0;
  margin-right: $dp-spaces--lv3;
  text-transform: uppercase;
  @include transition-all;

  &:before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid $dp-color-darkyellow;
    bottom: 0;
    right: 350px;
    @include transition-all;
  }

  &:hover:before {
    right: 0;
  }

  &:active,
  &:hover {
    color: $dp-color-darkyellow;
  }
}

.nav-item .active {
  color: $dp-color-darkyellow;
}

.nav-item .active:before {
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 3px solid $dp-color-darkyellow;
  bottom: 0;
  right: 0;
  @include transition-all;
}

.main-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.section-module {
  width: 100%;
  max-width: $dp-wrapper-max-width;
  margin: 0 auto;
  padding: 50px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-card {
  border: 1px solid $dp-color-ghostwhite;
  height: 200px;
  border-radius: $dp-border-radius;
  box-shadow: 0 0.5em 1em -0.5em $dp-color-sylver;
  overflow: hidden;
  margin-bottom: 30px;
  width: 212px;
}

.color-list {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;

  li {
    margin-bottom: 10px;
    text-align: center;
  }
}

.sample-color {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.description-color {
  width: 100%;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $dp-color-white;
  font-size: $dp-font-size;
  border-top: 1px solid $dp-color-snow;

  code {
    padding: 3px 5px;
    border-radius: $dp-border-radius;
  }

  p {
    color: $dp-color-darkgrey;
  }
}
/* modals */

.list-modal {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  align-items: center;
  max-width: $dp-wrapper-min-width;
  margin: 0 auto;
}
/* buttons */
.main-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.buttons-card {
  border-radius: 5px;
  margin-bottom: 30px;
  width: 25%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.button-description {
  position: relative;
  display: flex;
  padding-top: 20px;
  padding-left: 5px;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.button-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;

  li {
    text-align: left;
    padding: 5px 0;
  }
}
