.dp-integration {
  margin-top: 20px;

  @at-root {
    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $dp-spaces--lv4;
    }
  }

  &--info {
    margin-top: $dp-spaces--lv4;
    padding-bottom: $dp-spaces--lv4;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button--has-icon {
        color: $dp-color-lightgrey;

        &.is-spinning {
          [class*='-icon'] {
            animation-name: counterspin;
          }
        }
      }
    }
  }
}

.dp-block {
  padding: $dp-spaces--lv5 $dp-spaces--lv4;

  time {
    font-weight: $dp-font-weight-bold;
  }
}

.dp-integration__status {
  .status__data {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
  }

  .status__link {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }

  img {
    width: 80px;
    display: block;
  }

  p {
    margin: $dp-spaces--lv0;
  }
}

hr {
  @include dp-hr($dp-border-grey);
}
