.dp-library {
  &.dp-bg-snow {
    background-color: $dp-color-snow;
  }

  .dp-wrapper-payment-process {
    .dp-accordion {
      padding-top: 0;

      li {
        border: 1px solid $dp-color-silver;
        background-color: $dp-color-white;
        padding: 18px;
        border-radius: 3px;
        margin-bottom: 18px;
        position: relative;
        width: 95%;
        margin-left: 25px;
        min-height: auto;

        &::before {
          content: '';
          position: absolute;
          border-left: 2px solid $dp-color-silver;
          height: 100%;
          top: 31px;
          left: -24px;
        }

        &.dp-form-successful:before {
          border-left: 2px solid $dp-color-green;
        }
      }

      li:last-child {
        &::before {
          content: '';
          position: absolute;
          border-left: 0;
        }
      }

      .dp-number-item {
        position: absolute;
        left: -36px;
        border-radius: 100%;
        border: 2px solid $dp-color-silver;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dp-color-silver;
        background-color: $dp-color-white;
        letter-spacing: 1px;

        &.dp-successful {
          color: $dp-color-green;
          background-color: $dp-color-white;
          border: 2px solid $dp-color-green;
          transition: all 0.3s ease-in-out;
        }
      }

      .dp-accordion-thumb {
        font-weight: normal;
        text-transform: uppercase;

        &:before {
          border: none;
        }
      }

      .dp-form-payment-process {
        padding-left: 6px;

        .field-item {
          border: 0;
          padding: 6px;
          position: relative;
          display: inline-block;
          width: 100%;
          margin-left: 0;
          margin-bottom: 6px;
        }

        .field-item--50 {
          width: 50%;
        }

        .dropdown-arrow {
          right: 18px;
          top: 2.8em;
        }
      }
    }
  }

  /* zigzag */
}
