.dp-library {
  &.dp-bg-softgrey {
    background-color: $dp-bg-softgrey;
  }

  .dp-wrapper-payment-process {
    .dp-accordion {
      padding-top: $dp-spaces--lv0;

      li {
        border: 1px solid $dp-color-silver;
        background-color: $dp-color-white;
        padding: $dp-spaces--lv3;
        border-radius: 3px;
        margin-bottom: $dp-spaces--lv3;
        position: relative;
        width: 95%;
        margin-left: $dp-spaces--lv4;
        min-height: auto;

        &::before {
          content: '';
          position: absolute;
          border-left: 2px solid $dp-color-silver;
          height: 100%;
          top: 31px;
          left: -24px;
        }

        &.dp-form-successful:before {
          border-left: 2px solid $dp-color-green;
        }
      }

      li:last-child {
        &::before {
          content: '';
          position: absolute;
          border-left: 0;
        }
      }

      .dp-number-item {
        position: absolute;
        left: -36px;
        border-radius: 100%;
        border: 2px solid $dp-color-silver;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dp-color-silver;
        background-color: $dp-color-white;
        letter-spacing: 1px;

        &.dp-successful {
          color: $dp-color-green;
          background-color: $dp-color-white;
          border: 2px solid $dp-color-green;
          transition: all 0.3s ease-in-out;
        }
      }

      .dp-accordion-thumb {
        font-weight: normal;
        text-transform: uppercase;

        &:before {
          border: none;
        }
      }

      .dp-form-payment-process,
      .dp-form-billing-information {
        padding-left: $dp-spaces--lv1;

        .field-item {
          border: 0;
          padding: $dp-spaces--lv1;
          position: relative;
          display: inline-block;
          width: 100%;
          margin-left: $dp-spaces--lv0;
          margin-bottom: $dp-spaces--lv1;
        }

        .field-item--50 {
          width: 50%;
        }

        .dropdown-arrow {
          right: 18px;
          top: 2.8em;
        }

        [type='number']::-webkit-inner-spin-button,
        [type='number']::-webkit-outer-spin-button {
          height: 0;
          display: none;
        }
      }

      .dp-form-billing-information {
        .checkmark {
          top: 5px;
          left: 12px;
        }

        input[type='checkbox'] {
          left: 12px;
          &:focus {
            top: 6px;
            left: 13px;
          }
        }

        .field-item__checkbox label {
          margin-left: $dp-spaces--lv5;
          width: auto;
        }
      }
    }
  }

  /* zigzag */
}
