.report-filters {
  background: $dp-color-ghostwhite;
  border-bottom: 1px solid $dp-color-sylver;
  box-shadow: 0 -4px 0 0 $dp-color-snow inset;
  padding: 0 6.5%;

  h3 {
    color: $dp-color-darkgrey;
    font-weight: $dp-font-weight-bold;
    font-size: $dp-font-size-24;
    flex: 100%;
  }

  p {
    color: $dp-color-grey;
    font-size: $dp-font-size-15;
    padding-bottom: 32px;
    max-width: 70%;
  }

  .arrow {
    position: absolute;
    bottom: -36px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid $dp-color-ghostwhite;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    box-shadow: inset 10px 10px rgba(0,0,0, .8);
  }
}

.report-wrapper {
  max-width: $dp-wrapper-max-width;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-filters {
  width: 100%;
  font-family: $dp-font-family;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form-filters .filter {
  width: 30%;
  position: relative;

  .verified--domain {
    font-size: $dp-font-size-xsmall;
    margin-top: 10px;
    display: inline-block;
  }

  .check--again {
    color: $dp-color-green;
    font-size: $dp-font-size-xsmall;
    text-transform: uppercase;
    font-weight: $dp-font-weight-bold;
    padding-left: 10px;
  }

  .check--again:hover {
    color: $dp-color-darkgreen;
  }

  .dropdown-arrow {
    top: 43px;
  }
}

/* Section KPI */
.container-kpi {
  width: 100%;
  padding: 60px 0;

  .wrapper-kpi {
    display: flex;
    max-width: $dp-wrapper-max-width;
    margin: 0 auto;
    justify-content: space-between;

      .reports-box {
        @include dp-box($dp-color-sylver, 30%, 408px, 395px);

      }
    }
}

.number-kpi {
  font-size: $dp-font-size-xxl;
  color: $dp-color-darkgrey;
  margin: 0;
  position: relative;
}

.subtitle-kpi {
  font-size: $dp-font-size-small;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.date-range {
  text-transform: uppercase;
  font-size: $dp-font-size-xsmall;
  color: $dp-color-grey;
}

.text-kpi {
  font-size: $dp-font-size-small;
  margin: 50px 0 90px;
  position: relative;
  color:$dp-color-grey;

  &:before {
      content:"";
      position: absolute;
      border-bottom: 3px solid $dp-color-green;
      width: 127px;
      top: -25px;
  }
}
.group-options {
  display: flex;
  justify-content: flex-start;

  .group-item {
    display: inline-block;
    margin-right: 12px;

    a {
      color:$dp-color-green;
      font-weight: bold;
      text-transform: uppercase;
      font-size: $dp-font-size-xsmall;
      font-family: Arial;
      @include transition-all;
    }
    a:hover {
      color:#008046;
    }
    .icon-kpi {
      font-size: 14px;
      bottom: 2px;
      margin-right: 2px;
      position: relative;
    }
  }
}
.warning--kpi {
  .number-kpi {
    color:$dp-color-red;
  }
  .text-kpi {
    &:before {
      border-bottom: 3px solid $dp-color-red;
    }
  }
}
