.panel-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .main-panel {
    width: 525px;
    height: 100vh;
    padding: $dp-spaces--lv7 $dp-spaces--lv6;
    background-color: $dp-color-white;
    overflow-y: auto;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo-doppler {
      height: 30px;
    }

    .content-signin {
      display: inline-block;
      margin-top: $dp-spaces--lv3;
      font-family: $dp-font-family-proximanova;
      font-style: italic;

      a {
        font-style: normal;
        font-weight: $dp-font-weight-bold;
      }
    }

    h5 {
      margin: $dp-spaces--lv10 $dp-spaces--lv0 $dp-spaces--lv2;
      font-family: $dp-font-family-proximanova;
      color: $dp-color-brown;
      font-weight: $dp-font-weight-bold;
      text-transform: uppercase;
      font-size: $dp-font-size-15;
    }

    .content-subtitle {
      margin: $dp-spaces--lv0;
      font-family: $dp-font-family-proximanova;
      font-style: italic;
    }

    .content-promotion {
      padding-top: $dp-spaces--lv3;
      border-top: 1px $dp-color-grey dashed;
      font-family: $dp-font-family-proximanova;
    }

    small {
      font-family: $dp-font-family-proximanova;
    }

    .content-legal {
      margin-top: $dp-spaces--lv4;

      p {
        font-size: $dp-font-size-rpgd;
        line-height: $dp-line-height-rpgd;
      }
    }

    footer {
      padding-top: $dp-spaces--lv3;
    }
  }

  .feature-panel {
    flex: 4;
    height: 100vh;
    padding: $dp-spaces--lv5 $dp-spaces--lv8;
    background-image: url("../img/signup-img.png");
    background-size: cover;
  }

  .feature-content {
    max-width: 500px;

    h6 {
      margin-bottom: $dp-spaces--lv2;
      font-family: $dp-font-family-proximanova;
      font-weight: $dp-font-weight-bold;
      color: $dp-color-white;
      text-transform: uppercase;
    }

    h3 {
      margin: $dp-spaces--lv2 0;
      font-family: $dp-font-family-proximanova;
      font-weight: $dp-font-weight-bold;
      color: $dp-color-white;
    }

    p {
      font-family: $dp-font-family-proximanova;
      color: $dp-color-white;
    }
  }
}
@include media-breakpoint('desktop') {
  .panel-wrapper {
    .main-panel {
      width: 100%;

      .field-item--50 {
        width: 100%;
        // Left Column
        &:nth-of-type(odd) {
          padding-right: $dp-spaces--lv0;
        }
      }
    }

    .feature-panel {
      display: none;
    }
  }
}
// Language selector

.link--title {
  font-weight: $dp-font-weight-bold;
  font-size: $dp-font-size-small;
}

.language-selector {
  display: flex;
  align-items: center;
  font-family: $dp-font-family;
  position: relative;
  top: 10px;

  .option--item {
    display: none;
  }

  .option.open {
    .option--item {
      display: block;
    }
  }

  .option span {
    position: relative;
    cursor: pointer;
    display: block;
    color: $dp-color-darkgrey;
    font-size: $dp-font-size-xsmall;
    padding: 6px 13px 6px 15px;
  }

  .option img {
    height: 20px;
    width: auto;
    padding-right: 3px;
  }

  .option a strong,
  .option span strong {
    position: relative;
    top: -5px;
  }

  .option span:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 5px solid $dp-color-darkgrey;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: 15px;
    right: 0;
  }

  .option a {
    position: absolute;
    right: 0;
    background-color: $dp-color-white;
    color: $dp-color-darkgrey;
    font-size: $dp-font-size-xsmall;
    font-weight: $dp-font-weight-bold;
    padding: 6px 11px 5px;
    border: 1px solid $dp-color-yellow;
    border-radius: $dp-border-radius;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    z-index: 5;
  }

  .option a:hover {
    background-color: #f2f1e9;
  }
}