.panel-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .main-panel {
    width: 500px;
    min-width: 500px;
    height: 100vh;
    padding: 40px 50px;
    background-color: $dp-color-white;
    overflow-y: auto;

    .logo-doppler {
      height: 30px;
    }

    .content-signin {
      float: right;
      display: inline-block;
      margin-top: 6px;
      font-family: $dp-font-family-proximanova;
      font-style: italic;

      a {
        font-style: normal;
        font-weight: bold;
      }
    }

    h5 {
      margin: 60px 0 0;
      font-family: $dp-font-family-proximanova;
      color: $dp-color-brown;
      font-weight: bold;
      text-transform: uppercase;
    }

    .content-subtitle {
      margin: 10px 0 30px;
      font-family: $dp-font-family-proximanova;
      font-style: italic;
    }

    .content-promotion {
      padding-top: 16px;
      border-top: 1px $dp-color-grey dashed;
      font-family: $dp-font-family-proximanova;
    }

    small {
      font-family: $dp-font-family-proximanova;
    }


      p {
        font-size: 12px;
        line-height: 16px;
      }
    }

    footer {
      padding-top: 15px;
    }
  }

  .feature-panel {
    flex: 4;
    height: 100vh;
    padding: 60px 70px;
    background-image: url("../img/signup-img.png");
    background-size: cover;
  }

  .feature-content {
    max-width: 500px;

    h6 {
      margin-bottom: 10px;
      font-family: $dp-font-family-proximanova;
      font-weight: bold;
      color: $dp-color-white;
      text-transform: uppercase;
    }

    h3 {
      margin: 10px 0;
      font-family: $dp-font-family-proximanova;
      font-weight: bold;
      color: $dp-color-white;
    }

    p {
      font-family: $dp-font-family-proximanova;
      color: $dp-color-white;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $dp-border-grey;
    height: 600px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $dp-color-lightgrey;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $dp-color-lightgrey;
  }
}
@include media-breakpoint('ipad') {
  .panel-wrapper {
    .main-panel {
      width: 100%;
    }

    .feature-panel {
      display: none;
    }
  }
}
