////
/// @access private
/// @author Gustavo Baamonde
/// Classes for the Form component
////
///
/// historical subscriber behavior
///

.dp-campaign {
  padding: 6px;

  li {
    margin-bottom: 6px;
  }

  .dp-date {
    font-style: italic;
  }
}
