/// Colors
/// All colors that use in Doppler Branding

$dp-color-white: #ffffff;
$dp-color-ghostwhite: #f2f2f2;
$dp-color-snow: #eaeaea;
$dp-color-silver: #cccccc;
$dp-color-cement: #c4c4c4;
$dp-color-lightgrey: #999999;
$dp-color-grey: #666666;
$dp-color-darkgrey: #333333;
$dp-color-black: #000000;
$dp-color-lightgreen: #65c192;
$dp-color-green: #33ad73;
$dp-color-darkgreen: #008046;
$dp-color-green-brightness: #ebf7f1;
$dp-color-lightyellow: #fde577;
$dp-color-lemonyellow: #c6b159;
$dp-color-yellow: #fab221;
$dp-color-darkyellow: #e58900;
$dp-color-yellow-brightness: #fff7e9;
$dp-color-lightred: #ec8a83;
$dp-color-red: #e34f45;
$dp-color-darkred: #a63a33;
$dp-color-red-brightness: #fcedec;
$dp-color-lightbrown: #838370;
$dp-color-brown: #302100;
$dp-color-brown--hover: #594103;
$dp-color-brown-brightness: rgba(48, 33, 0, 0.2);
$dp-color-orange-focus: #e58900;
$dp-color-orange-carousel: #e79433;
$dp-color-orange-carousel-back: rgba(250, 178, 33, 0.1);
$dp-color-orange-carousel-border: rgba(250, 178, 33, 0.4);
$dp-color-purple-carousel: #8c6698;
$dp-color-purple-carousel-back: rgba(229, 207, 227, 0.2);
$dp-color-purple-carousel-border: rgba(180, 143, 193, 0.5);
$dp-color-blue: #669df3;
$dp-color-blue-brightness: #eaf5f9;
$dp-color-separator: #e0dfdb;

/// Flashcards and borders

$dp-greenBorder-forFlashcards: #99d6b9;
$dp-yellowBorder-forFlashcards: #ffdc95;
$dp-redBorder-forFlashcards: #f8b3b2;
$dp-blueBorder-forFlashcards: #abc9f9;

/// Highlighted words background

$dp-greenBackground-forWords: #e0f3ea;
$dp-redBackground-fowWords: #ffd7d7;

/// Internal use color variables

$dp-color-default: #c9c7bd;
$dp-bg-modal: #f7f7f7;
$dp-bg-overlay: rgba(34, 34, 34, 0.95);
$dp-border-grey: #e8e8e8;
$dp-color-wild-sand: #f6f6f6;
$dp-color-hover-table: #fff7e8;

/// Colors Payment process

$dp-bg-softgrey: #e5e5e5;

/// Colors reports

$dp-color-violet: #9b7ba6;

/// Variables Colors Style Guides

$dpsg-brown-light: #f1ede1;
$dpsg-light-blue: #00bcf2;
$dpsg-orange: #ee7752;

/// Variables Colors Doppler Plus

$dp-violet-doppler-plus: #8c6398;
$dp-violet-tabs: #c9a9d5;

/// Color background icon Client Manager

$dp-color-iconcm: #ef9c70;

///
/// Class Colors Style Guides
///

.dp-library {
  .dp-white {
    background: $dp-color-white;
  }

  .dp-ghostwhite {
    background: $dp-color-ghostwhite;
  }

  .dp-snow {
    background: $dp-color-snow;
  }

  .dp-silver {
    background: $dp-color-silver;
  }

  .dp-lightgrey {
    background: $dp-color-lightgrey;
  }

  .dp-color-lightgrey {
    color: $dp-color-lightgrey;
  }
  .dp-grey {
    background: $dp-color-grey;
  }

  .dp-color-grey {
    color: $dp-color-grey;
  }

  .dp-darkgrey {
    background: $dp-color-darkgrey;
  }

  .dp-black {
    background: $dp-color-black;
  }

  .dp-lightgreen {
    background: $dp-color-lightgreen;
  }

  .dp-green {
    background: $dp-color-green;
  }

  .dp-color-green {
    color: $dp-color-green;
  }

  .dp-darkgreen {
    background: $dp-color-darkgreen;
  }

  .dp-green-brightness {
    background: $dp-color-green-brightness;
  }

  .dp-lightyellow {
    background: $dp-color-lightyellow;
  }

  .dp-lemonyellow {
    background: $dp-color-lemonyellow;
  }

  .dp-yellow {
    background: $dp-color-yellow;
  }

  .dp-color-yellow {
    color: $dp-color-yellow;
  }

  .dp-darkyellow {
    background: $dp-color-darkyellow;
  }

  .dp-yellow-brightness {
    background: $dp-color-yellow-brightness;
  }

  .dp-lightred {
    background: $dp-color-lightred;
  }

  .dp-red {
    background: $dp-color-red;
  }

  .dp-color-red {
    color: $dp-color-red;
  }

  .dp-darkred {
    background: $dp-color-darkred;
  }

  .dp-lightbrown {
    background: $dp-color-lightbrown;
  }

  .dp-brown {
    background: $dp-color-brown;
  }

  .dp-brown--hover {
    background: $dp-color-brown--hover;
  }

  .dp-brown-brightness {
    background: $dp-color-brown-brightness;
  }

  .dp-color-orange-focus {
    background: $dp-color-orange-focus;
  }

  .dp-green-border-flashcards {
    background: $dp-greenBorder-forFlashcards;
  }

  .dp-yellow-border-flashcards {
    background: $dp-yellowBorder-forFlashcards;
  }

  .dp-red-border-flashcards {
    background: $dp-redBorder-forFlashcards;
  }

  .dp-blue-border-flashcards {
    background: $dp-blueBorder-forFlashcards;
  }

  .dp-red-highlighted-word {
    background: $dp-redBackground-fowWords;
  }

  .dp-green-highlighted-word {
    background: $dp-greenBackground-forWords;
  }
}
