.ghostwhite {
  background-color: $dp-color-ghostwhite;
}

.light-grey {
  background-color: $dp-color-lightgrey;
}

.grey {
  background-color: $dp-color-grey;
}

.dark-grey {
  background-color: $dp-color-darkgrey;
}

.sylver {
  background-color: $dp-color-sylver;
}

.snow {
  background-color: $dp-color-snow;
}

.light-green {
  background-color: $dp-color-lightgreen;
}

.green {
  background-color: $dp-color-green;
}

.dark-green {
  background-color: $dp-color-darkgreen;
}

.light-yellow {
  background-color: $dp-color-lightyellow;
}

.yellow {
  background-color: $dp-color-yellow;
}

.dark-yellow {
  background-color: $dp-color-darkyellow;
}

.light-red {
  background-color: $dp-color-lightred;
}

.red {
  background-color: $dp-color-red;
}

.dark-red {
  background-color: $dp-color-darkred;
}

.white {
  background-color: $dp-color-white;
}
