
html,
body {
  padding: 0;
  margin: 0;

  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
}

.hero-section {
  background: url("../img/background.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
}

.section-cards {
	max-width: 1100px;
	margin: 0 auto;
}

.cards {
  display: flex;
}

.card {
  padding: 50px 10px;
  text-decoration: none;
  text-align: center;
}


.card-title {
  padding: 20px 0;
  text-align: center;
  color: #666666;
  font-weight: bold;
}

.card-title:hover {
  color: #353535;
}

.card-summary {
  color: #666666;
}
