a {
  color: $dp-color-green;
}

a:hover {
  color: $dp-color-darkgreen;
}
/*Elements form*/
legend {
  display: none;
}

label {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  padding: 0;
  color: $dp-color-grey;
  font-weight: $dp-font-weight-bold;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;
}
/* span with class .dropdown-arrow to draw arrow dropdown */

.dropdown-arrow {
  border-style: solid;
  height: 0;
  width: 0;
  border-width: 7px 5.5px 0 5.5px;
  border-color: $dp-color-lightgrey transparent transparent transparent;
  position: absolute;
  right: 15px;
  top: 2.5em;
  z-index: 10;
  pointer-events: none;
}

select {
  height: 40px;
  color: $dp-color-grey;
  width: 100%;
  background-color: $dp-color-white;
  border: 1px solid $dp-color-sylver;
  border-radius: $dp-border-radius;
  font-size: $dp-font-size-small;
  padding: 0 40px 0 10px;
  text-align: left;
  line-height: 40px;
  cursor: pointer;
  -webkit-appearance: button;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  outline: none;
}

select:disabled {
  background-color: $dp-color-snow;
  border: 1px solid $dp-color-sylver;
  color: $dp-color-sylver;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  color: $dp-color-grey;
  border-radius: $dp-border-radius;
  font-size: $dp-font-size-form;
  border: 1px solid $dp-color-sylver;

  &::placeholder {
    color: $dp-color-default;
    font-style: italic;
  }

  :focus {
    border: 1px solid $dp-color-yellow;
  }
}

.checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid $dp-color-lightbrown;
  border-radius: $dp-border-radius;
  background-color: $dp-color-white;
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid $dp-color-white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

/* validate form*/

.field-group {
  .field-item {
    position: relative;
    display: inline-block;
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: $dp-spaces--lv5;

    &__checkbox {
      cursor: pointer;
      margin-bottom: $dp-spaces--lv2;

      label {
        font-weight: normal;
        vertical-align: middle;
        margin-left: $dp-spaces--lv4;
      }

      &:nth-last-child(1) {
        margin-bottom: $dp-spaces--lv3;
      }
    }
    /* Field checkbox */
    &--50 {
      width: 50%;
      /* Left Column */
      &:nth-of-type(odd) {
        padding-right: $dp-spaces--lv3;
      }
    }
    /* Field to 50% percent */
    .show-hide {
      float: right;
      font-size: $dp-font-size-small;
      font-weight: normal;
      font-style: normal;
      color: $dp-color-lightbrown;
      vertical-align: bottom;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    .icon-view:before,
    .icon-hide:before {
      position: relative;
      top: 2px;
    }

    .content-eye {
      font-family: $dp-font-family-proximanova;
      font-size: $dp-font-size-small;
      font-style: italic;
    }
  }
}

input[type='checkbox'] {
  opacity: 0;
  z-index: 0;
  cursor: pointer;
  zoom: 2.5;
  position: absolute;

  &:checked {
    & ~ .checkmark {
      border-color: $dp-color-green;
      background-color: $dp-color-green;

      &:after {
        display: block;
      }
    }
  }

  &:focus {
    & ~ .checkmark {
      color: $dp-color-lightbrown;
      border: 1px solid $dp-color-yellow;
      border-radius: $dp-border-radius;
      -webkit-box-shadow: 0 0 0 2px $dp-color-brown-brightness;
      box-shadow: 0 0 0 2px $dp-color-brown-brightness;
      outline: none;
    }
  }
}

input:not([type='checkbox']) {
  padding: 10px 12px;
  height: 40px;
  width: 100%;
  color: $dp-color-lightbrown;
  border: 1px solid $dp-color-lightbrown;
  border-radius: $dp-border-radius;
  background-color: $dp-color-white;
  font-size: $dp-font-size-form;
  font-family: $dp-font-family-proximanova;
  line-height: 20px;

  &::placeholder {
    color: $dp-color-lightbrown;
    font-style: italic;
  }

  &:required {
    box-shadow: none;
  }

  &:focus {
    color: $dp-color-lightbrown;
    border: 1px solid $dp-color-yellow;
    border-radius: $dp-border-radius;
    -webkit-box-shadow: 0 0 0 2px $dp-color-brown-brightness;
    box-shadow: 0 0 0 2px $dp-color-brown-brightness;
    outline: none;
  }
}

input[type="tel"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.wrapper-errors {
  display: none;
}

.error {
  .checkmark,
  input,
  select,
  textarea {
    border: 1px solid $dp-color-red;
  }

  .wrapper-errors {
    display: inline-block;

    .error-message {
      margin: $dp-spaces--lv0;
      color: $dp-color-red;
      font-size: $dp-font-size-small;
    }
  }
  /* animation to show the errors (optional) */
  @keyframes bounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
  }
}
/* Classes of error messages */
.wrapper-password {
  display: block;
  margin-top: $dp-spaces--lv1;

  .password-message {
    margin: $dp-spaces--lv0;
    font-size: $dp-font-size-small;
    font-family: $dp-font-family-proximanova;
  }

  .complete-message {
    margin-right: $dp-spaces--lv4;
    color: $dp-color-lightgrey;
    @include circle($dp-color-lightgrey);
  }
  /* Class to indicate that this validation is complete */
  .waiting-message {
    margin-right: $dp-spaces--lv4;
    color: $dp-color-grey;
    @include circle($dp-color-yellow);
  }
  /* Class for waiting complete the password */
  .lack-message {
    margin-right: $dp-spaces--lv4;
    color: $dp-color-red;
    @include circle($dp-color-red);
  }
  /* Class for lack digit in the password */
  .secure-message {
    margin-right: $dp-spaces--lv4;
    color: $dp-color-green;
    @include circleCheck($dp-color-green, $dp-color-white);
  }
  /* Class to indicate that password is secure */
}
/* Classes of messages to verify the password */
