/*Elements form*/
/* separate button inside the form - review it later*/

form {
  .dp-button {
    margin-left: 10px;
  }
}

legend {
  display: none;
}

label {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  padding: 0;
  color: $dp-color-grey;
  font-weight: $dp-font-weight-bold;
  font-size: $dp-font-size-small;
  font-family: $dp-font-family;
}
/* span with class .dropdown-arrow to draw arrow dropdown */

.dropdown-arrow {
  border-style: solid;
  height: 0;
  width: 0;
  border-width: 7px 5.5px 0 5.5px;
  border-color: $dp-color-lightgrey transparent transparent transparent;
  position: absolute;
  right: 15px;
  top: 2.5em;
  z-index: 10;
  pointer-events: none;
}

select {
  height: 40px;
  color: $dp-color-grey;
  width: 100%;
  background-color: $dp-color-white;
  border: 1px solid $dp-color-sylver;
  border-radius: $dp-border-radius;
  font-size: $dp-font-size-small;
  padding: 0 40px 0 10px;
  text-align: left;
  line-height: 40px;
  cursor: pointer;
  -webkit-appearance: button;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  outline: none;
}

select:disabled {
  background-color: $dp-color-snow;
  border: 1px solid $dp-color-sylver;
  color: $dp-color-sylver;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  color: $dp-color-grey;
  border-radius: $dp-border-radius;
  font-size: $dp-font-size-form;
  border: 1px solid $dp-color-sylver;

  &::placeholder {
    color: $dp-color-default;
    font-style: italic;
  }

  :focus {
    border: 1px solid $dp-color-yellow;
  }
}
/* validate form*/

.field-group {
  .field-item {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: $dp-spaces--lv5;
  }
}

.wrapper-errors {
  display: none;
}

.error {
  input,
  select,
  textarea {
    border: 1px solid $dp-color-red;
  }

  .wrapper-errors {
    display: inline-block;

    .error-message {
      margin: 0;
      color: $dp-color-red;
      font-size: $dp-font-size-small;
    }
  }
  /* animation to show the errors (optional) */
  @keyframes bounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
  }
}

input[type='checkbox'] {
  flex: 0 1 80px;
  margin-left: -20px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  opacity: 0;

  &:checked {
    & ~ .checkmark {
      border-color: $dp-color-green;
      background-color: $dp-color-green;

      &:after {
        display: block;
      }
    }
  }
}

input:not(.button):not([type='checkbox']) {
  padding: 10px 12px;
  height: 40px;
  width: 100%;
  border: 1px solid $dp-color-lightgrey;
  border-radius: $dp-border-radius;
  background-color: $dp-color-white;
  font-size: $dp-font-size-form;
  font-family: $dp-font-family-proximanova;
  line-height: 20px;

  &::placeholder {
    color: $dp-color-default;
    font-style: italic;
  }

  &:required {
    box-shadow: none;
  }

  &:focus {
    color: $dp-color-default;
    border: 1px solid $dp-color-yellow;
    border-radius: $dp-border-radius;
    -webkit-box-shadow: 0 0 0 2px $dp-color-brown-brightness;
    box-shadow: 0 0 0 2px $dp-color-brown-brightness;
    outline: none;

    &::placeholder {
      font-style: normal;
    }
  }
}

input[type="tel"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.field-item--50 {
  width: 50%;
  /* Left Column */
  &:nth-of-type(2n+1) {
    padding-right: 20px;
  }
}/* Field to 50% percent */
