@import "./settings";

body {
  color: $dp-color-grey;
}

button,
html {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $dp-font;
  font-weight: 400;
  color: $dp-color-darkgrey;
}

h1 {
  margin: 0;
  font-size: $dp-font-size--lv18;
  font-weight: $dp-font-weight-bold;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: $dp-font-family;
}

h2 {
  margin: 0;
  font-size: $dp-font-size--lv17;
  line-height: 1.4;
  font-family: $dp-font-family;
}

h3 {
  font-size: $dp-font-size--lv16;
}

h4 {
  font-size: $dp-font-size--lv13;
}

h5 {
  font-size: $dp-font-size--lv9;
}

h6 {
  font-size: $dp-font-size--lv4;
}

strong {
  font-weight: $dp-font-weight-bold;
}

p {
  font: $dp-font;
  font-size: $dp-font-size;
  line-height: $dp-font-lineheight;
}

small {
  font: $dp-font;
  font-size: $dp-font-size--lv4;
  line-height: $dp-font-small-lineheight;
}

.link-green {
  color: $dp-color-green;

  &:hover {
    color: $dp-color-darkgreen;
  }
}

.cursive {
  font-family: 'hand-of-sean';
}

.text-italic {
  font-style: italic;
}

@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova.eot");
  src: url("../fonts/proxima-nova.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova.woff2") format('woff2'), url("../fonts/proxima-nova.woff") format('woff'), url(".../fonts/proxima-nova.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-italic.eot");
  src: url("../fonts/proxima-nova-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova-italic.woff2") format('woff2'), url("../fonts/proxima-nova-italic.woff") format('woff'), url(".../fonts/proxima-nova-italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova-bold.woff2") format('woff2'), url("../fonts/proxima-nova-bold.woff") format('woff'), url("../fonts/proxima-nova-bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-bold-italic.eot");
  src: url("../fonts/proxima-nova-bold-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova-bold-italic.woff2") format('woff2'), url("../fonts/proxima-nova-bold-italic.woff") format('woff'), url("../fonts/proxima-nova-bold-italic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'hand-of-sean';
  src: url("../fonts/HandOfSeanPro-webfont.eot");
  src: url("../fonts/HandOfSeanPro-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/HandOfSeanPro-webfont.woff2") format('woff2'), url("../fonts/HandOfSeanPro-webfont.woff") format('woff'), url("../fonts/HandOfSeanPro-webfont.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
