////
/// Typography
/// Init typography basic settings
/// @group Typography
////

///
@import "./settings";

///
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova.eot");
  src: url("../fonts/proxima-nova.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova.woff2") format('woff2'), url("../fonts/proxima-nova.woff") format('woff'), url(".../fonts/proxima-nova.ttf") format('truetype');
  font-weight: $dp-font-weight;
  font-style: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-italic.eot");
  src: url("../fonts/proxima-nova-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova-italic.woff2") format('woff2'), url("../fonts/proxima-nova-italic.woff") format('woff'), url(".../fonts/proxima-nova-italic.ttf") format('truetype');
  font-weight: $dp-font-weight;
  font-style: italic;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova-bold.woff2") format('woff2'), url("../fonts/proxima-nova-bold.woff") format('woff'), url("../fonts/proxima-nova-bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-bold-italic.eot");
  src: url("../fonts/proxima-nova-bold-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/proxima-nova-bold-italic.woff2") format('woff2'), url("../fonts/proxima-nova-bold-italic.woff") format('woff'), url("../fonts/proxima-nova-bold-italic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "hand-of-sean";
  src: url("../fonts/HandOfSeanPro-webfont.eot");
  src: url("../fonts/HandOfSeanPro-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/HandOfSeanPro-webfont.woff2") format('woff2'), url("../fonts/HandOfSeanPro-webfont.woff") format('woff'), url("../fonts/HandOfSeanPro-webfont.ttf") format('truetype');
  font-weight: $dp-font-weight;
  font-style: normal;
}

body {
  font-family: $dp-font-family;
  color: $dp-color-grey;
}

button,
html {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $dp-font;
  font-weight: $dp-font-weight;
  color: $dp-color-darkgrey;
}

h1 {
  margin: 0;
  font-size: $dp-sizing--lvl7;
  font-weight: $dp-font-weight-bold;
  line-height: $dp-spaces--lv6;
  font-family: $dp-font-family;
}

h2 {
  margin: 0;
  font-size: $dp-sizing--lvl6;
  line-height: 28px;
  font-family: $dp-font-family;
}

h3 {
  font-size: $dp-sizing--lvl4;
  line-height: $dp-font-lineheight;
}

h4 {
  font-size: $dp-sizing--lvl3;
  line-height: $dp-font-lineheight;
}

h5 {
  font-size: $dp-sizing--lvl3;
  line-height: $dp-font-lineheight;
}

h6 {
  font-size: $dp-sizing--lvl2;
  line-height: $dp-font-lineheight;
}

strong {
  font-weight: $dp-font-weight-bold;
}

p {
  font-size: $dp-sizing--lvl3;
  line-height: #{$dp-font-lineheight / $dp-sizing--lvl3}; // Unitless equivalent to ems
}

small {
  font: $dp-font;
  font-size: $dp-sizing--lvl2;
  line-height: $dp-font-small-lineheight;
}

a {
  color: $dp-color-green;

  &:hover {
    color: $dp-color-darkgreen;
  }
}

.dp-text {
  &--cursive {
    font-family: $dp-font-family-handofsean;
  }

  &--italic {
    font-style: italic;
  }
}
