////
/// Typography
/// Init typography basic settings
/// @group Typography
////

$dp-font-lineheight: 22px !default;
$dp-font-small-lineheight: 18px;
$dp-font-weight: 400 !default;
$dp-font-family: Arial, sans-serif !default;
$dp-font-family-proximanova: "proxima-nova", Helvetica;
$dp-font-size: 16px !default;
$dp-font: $dp-font-weight $dp-font-size $dp-font-family !default;
$dp-font-weight-light: 300 !default;
$dp-font-weight-regular: $dp-font-weight !default;
$dp-font-weight-semibold: 600 !default;
$dp-font-weight-bold: 700 !default;
$dp-font-color: #101010 !default;
$dp-font-color-bright: #edede6 !default;
$dp-font-color-dark: $dp-font-color !default;
$dp-font-color-white: #fff !default;

////
/// Font Size settings
///
$dp-sizing--lvl10: 60px;
$dp-sizing--lvl9: 50px;
$dp-sizing--lvl8: 40px;
$dp-sizing--lvl7: 32px;
$dp-sizing--lvl6: 24px;
$dp-sizing--lvl5: 22px;
$dp-sizing--lvl4: 18px;
$dp-sizing--lvl3: 15px;
$dp-sizing--lvl2: 13px;
$dp-sizing--lvl1: 11px;
$dp-sizing--lvl0: 0;

//
// variables margins/paddings
//
$dp-spaces--lv0: 0;
$dp-spaces--lv1: 6px;
$dp-spaces--lv2: 12px;
$dp-spaces--lv3: 18px;
$dp-spaces--lv4: 24px;
$dp-spaces--lv5: 30px;
$dp-spaces--lv6: 36px;
$dp-spaces--lv7: 42px;
$dp-spaces--lv8: 48px;
$dp-spaces--lv9: 54px;
$dp-spaces--lv10: 60px;
$dp-spaces--lv11: 66px;
$dp-spaces--lv12: 72px;
$dp-spaces--lv13: 78px;
$dp-spaces--lv14: 84px;
$dp-spaces--lv15: 90px;
$dp-spaces--lv16: 96px;

/// Settings File
/// Init colors variables
/// @group Colors
////
/// Colors ///
///
$dp-color-ghostwhite: #F2F2F2;
$dp-color-lightgrey: #999999;
$dp-color-grey: #666666;
$dp-color-darkgrey: #333333;
$dp-color-lightgreen: #65C192;
$dp-color-green: #33AD73;
$dp-color-darkgreen: #008046;
$dp-color-green-brightness: rgba(51,173,115,.2);
$dp-color-sylver: #CCCCCC;
$dp-color-snow: #EAEAEA;
$dp-color-lightyellow: #FDE577;
$dp-color-lemonyellow: #C6B159;
$dp-color-yellow: #FBB224;
$dp-color-darkyellow: #E58900;
$dp-color-yellow-brightness: rgba(252,229,121,.2);
$dp-color-lightred: #EC8A83;
$dp-color-red: #E34F45;
$dp-color-darkred: #A63A33;
$dp-color-white: #FFFFFF;
$dp-border-grey: #E8E8E8;
$dp-color-default: #C9C7BD;
$dp-color-lightbrown: #838370;
$dp-color-brown: #302100;
$dp-color-brown--hover: #594103;
$dp-bg-modal: #F7F7F7;
$dp-bg-overlay: rgba(34, 34, 34, 0.95);
$dp-color-brown-brightness: rgba(48,33,0,.2);
$dp-background: $dp-color-ghostwhite !default;

//
// variables generic
//
$dp-border-radius: 3px;
$dp-border-radius--lv1: 30px;
$dp-header-height: 4em;
$dp-text-aling: center;
$dp-font-size-rpgd: 12px;
$dp-line-height-rpgd: 16px;
