/* @include transition(all,2s,ease); */
@mixin transition-all($what: all, $time: 0.25s, $how: ease) {
  transition: $what $time $how;
}
/* variables*/
$dp-border-radius: 3px;
$dp-header-height: 4em;
$dp-text-aling: center;

.micro {
  font-size: 11px;
  line-height: 13px;
  color: $dp-color-grey;
  text-transform: uppercase;
}
/* TEXT COLORS - grey */

.c-dark-grey {
  color: $dp-color-darkgrey;
  /* text */
}

.c-grey {
  color: $dp-color-grey;
  /* icons fonts */
}

.c-light-grey {
  color: $dp-color-lightgrey;
  /* placeholders, hovers*/
}
/* VERTICAL SPACES */

.space-0 {
  margin-bottom: 0;
}

.space-8 {
  margin-bottom: 8px;
  /* drag boxes distanse, inputs conditional boxes */
}

.space-24 {
  margin-bottom: 24px;
  /* inputs distance */
}

.space-48 {
  margin-bottom: 48px;
  /* forms distance */
}

.space-64 {
  margin-bottom: 64px;
}
/* SPACES */
.margin--0 {
  margin: 0;
  /* when p is a title of a paragraph */
}
/* BACKGROUNDS COLORS */
.grey-bg {
  background-color: $dp-color-grey;
  /* disabled inputs */
}

.light-grey-bg {
  background-color: $dp-color-lightgrey;
}

.snow {
  background-color: $dp-color-snow;
  /* disabled inputs */
}

.ghost-white-bg {
  background-color: $dp-color-ghostwhite;
  /* backgrounds grid, cebra */
}
/* TEXT COLORS */
.dark-grey-txt {
  color: $dp-color-darkgrey;
  /* variant of <p> */
  font-weight: $dp-font-weight-bold;
}
/* BORDER COLORS */
.sylver {
  border-color: $dp-color-sylver;
  /* strokes */
}
/* DISABLED ICON STATES */
.disabled-icon {
  opacity: 0.6;
  /* strokes */
}