////
/// Base File
/// Init css basic settings
/// @group Base
////
@import "./typography";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  font: $ds-font;
  color: $ds-font-color;
}

body {
  background-color: #FFF;
  margin: 0;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  outline: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
}

menu,
nav {
  li,
  ul {
    margin: 0;
    padding: 0;
  }
}

hr {
  width: 100%;
  height: 20px;
  margin: 0 0 20px;
  border: none;
  border-bottom: 1px dashed;
}

button {
  &:focus {
    outline: none;
  }
}

a {
  color: $color-green;
  text-decoration: none;
  transition: all $ds-transition-duration $ds-transition-timing;

  &:hover {
    color: $color-green-hover;
  }
}

main {
  position: relative;
  z-index: 0;
}