////
/// Accordion Component Classes
/// @access private
/// @author Gustavo Baamonde
////
.dp-library {
  .dp-accordion {
    padding: $dp-spaces--lv4 $dp-spaces--lv0;
    width: 100%;
    margin: $dp-spaces--lv0;

    li {
      width: 100%;
      max-width: 100%;
      padding: $dp-spaces--lv4 $dp-spaces--lv0 $dp-spaces--lv0 $dp-spaces--lv2;
      position: relative;

      .dp-accordion-thumb {
        margin: $dp-spaces--lv0;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        font-size: 16px;
        color: $dp-color-grey;
        text-decoration: none;
        line-height: 24px;

        &:before {
          width: 5px;
          height: 7px;
          content: '';
          left: -12px;
          top: 5px;
          border-left: solid 4px $dp-color-grey;
          border-bottom: solid 4px transparent;
          border-top: solid 4px transparent;
          position: absolute;
          transition: all 0.35s;
        }
      }

      &.active a:before {
        border-left: solid 4px $dp-color-grey;
        transform: rotate(90deg);
      }
    }

    .dp-accordion-panel {
      display: none;
      margin: $dp-spaces--lv0;
      padding: $dp-spaces--lv4 $dp-spaces--lv0;
      position: relative;
      overflow: hidden;

      ul {
        list-style: none;
        padding: $dp-spaces--lv0;
        margin: $dp-spaces--lv0;

        li {
          padding: $dp-spaces--lv0;

          &:before {
            content: none;
          }

          a {
            display: inline-block;
          }
        }
      }

      a,
      span {
        display: block;
      }
    }
  }
}
