/* atomic class for margin */

.margin--lv0 {
  margin: 0;
}

.margin--lv1 {
  margin: 6px;
}
/* atomic class for margin bottom */

.m-bottom--lv0 {
  margin-bottom: 0;
}

.m-bottom--lv1 {
  margin-bottom: 6px;
}

.m-bottom--lv2 {
  margin-bottom: 12px;
}

.m-bottom--lv3 {
  margin-bottom: 18px;
}

.m-bottom--lv4 {
  margin-bottom: 24px;
}

.m-bottom--lv5 {
  margin-bottom: 30px;
}

.m-bottom--lv6 {
  margin-bottom: 36px;
}

.m-bottom--lv7 {
  margin-bottom: 42px;
}

.m-bottom--lv8 {
  margin-bottom: 48px;
}