.background {
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  position: absolute;

  &.bg-b {
    background-image: url('../img/background-pattern-b.svg');
    height: 170px;
    width: 230px;
  }

  &.bg-c {
    background-image: url('../img/background-pattern-c.svg');
    height: 227px;
    width: 289px;
  }
}
