////
/// Button component
/// Mixin creator of classes for buttons. Primary and secondary buttons.
/// @access private
/// @author Gustavo Baamonde
/// Classes for the button component
////

@mixin dp-button() {
  .dp-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    appearance: none;
    font-family: $dp-font-family-proximanova;
    border-radius: $dp-border-radius;
    font-weight: $dp-font-weight-bold;
    letter-spacing: 0.6px;
    @include transition-all;

    &.button-big {
      font-size: $dp-sizing--lvl3;
      line-height: 15px;
      padding: 16px 35px;
    }

    &.button-medium {
      font-size: $dp-sizing--lvl2;
      line-height: 13px;
      padding: 13px 25px;
    }

    &.button-small {
      font-size: $dp-sizing--lvl1;
      line-height: 11px;
      padding: 10px 15px;
    }

    &.button--loading {
      @include dp-preloader($dp-color-white, 1.5em);
      padding-left: 3em;
      position: relative;
      display: flex;
      align-items: center;

      &:after {
        left: 1em;
      }
    }

    &.button--centered-loading {
      @include dp-preloader($dp-color-white, 1.5em);

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;

      &:after {
        left: 0;
        position: relative;
      }
    }

    &.button--round {
      text-transform: uppercase;
      border-radius: $dp-border-radius--lv1;
    }

    &.primary- {
      &green {
        background-color: $dp-color-green;
        color: $dp-color-white;

        &:hover {
          background-color: $dp-color-darkgreen;
          color: $dp-color-white;
        }
      }

      &grey {
        background-color: $dp-color-grey;
        color: $dp-color-white;

        &:hover {
          background-color: $dp-color-darkgrey;
          color: $dp-color-white;
        }
      }

      &brown {
        background-color: $dp-color-brown;
        color: $dp-color-white;

        &:hover {
          background-color: $dp-color-brown--hover;
          color: $dp-color-white;
        }
      }
    }

    &.secondary- {
      &green {
        background: transparent;
        color: $dp-color-green;
        box-shadow: inset 0 0 0 1px $dp-color-green;

        &:hover {
          background: $dp-color-green-brightness;
        }

        &:focus {
          box-shadow: inset 0 0 0 2px $dp-color-orange-focus,
            inset 0 0 0 3px $dp-color-white;
          background: $dp-color-green-brightness;
        }
      }

      &brown {
        background: transparent;
        color: $dp-color-brown;
        box-shadow: inset 0 0 0 1px $dp-color-brown;

        &:hover {
          background: $dp-color-brown-brightness;
        }

        &:focus {
          box-shadow: inset 0 0 0 2px $dp-color-orange-focus,
            inset 0 0 0 3px $dp-color-white;
          background: $dp-color-brown-brightness;
        }
      }
    }

    &.link- {
      &green {
        color: $dp-color-green;
        font-weight: normal;

        &:hover {
          color: $dp-color-darkgreen;
        }
      }
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    &.button--has-icon {
      border: 1px solid $dp-border-grey;
      border-radius: $dp-border-radius;
      font-size: $dp-sizing--lvl5;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $dp-spaces--lv2;
      margin-left: $dp-spaces--lv4;

      &.is-spinning {
        [class*='-icon'] {
          display: inherit;
          animation: spin 1s linear infinite;
        }
      }

      &:hover {
        border-color: darken($dp-border-grey, 10%);
        background-color: $dp-color-white;
      }
    }

    &.dp-button-bd {
      border: 1px solid $dp-border-grey;
      border-radius: $dp-border-radius;
      font-size: $dp-sizing--lvl3;
      background-color: $dp-color-snow;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2px;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      color: $dp-color-grey;
      width: 42px;
      height: 34px;
      position: relative;
      right: 3px;
      top: 0px;

      &:hover,
      &:active {
        background: $dp-color-white;
      }

      &:focus,
      &.active {
        box-shadow: inset 0 0 0 2px $dp-color-orange-focus,
          inset 0 0 0 3px $dp-color-white;
        background: $dp-color-white;
      }
    }

    &.dp-button-exit {
      border: 1px solid $dp-color-silver;
      border-radius: $dp-border-radius;
      font-size: $dp-sizing--lvl2;
      background-color: $dp-color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2px;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      color: $dp-color-grey;
      height: 34px;
      position: relative;
      right: 3px;
      top: 0px;

      &:hover,
      &:active {
        background: $dp-color-white;
      }

      &:focus {
        box-shadow: inset 0 0 0 2px $dp-color-orange-focus,
          inset 0 0 0 3px $dp-color-white;
      }
      &.active {
        background: $dp-color-white;
      }
    }
  }
}
.dp-library {
  @include dp-button();

  .dp-button:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $dp-color-orange-focus,
      inset 0 0 0 3px $dp-color-white;
  }

  /* Swicht */

  .dp-text-switch {
    display: flex;
  }

  .dpsg-list-switch {
    width: 100%;
    li {
      margin-bottom: $dp-spaces--lv3;
    }
  }

  .dp-switch {
    position: relative;
    margin-right: $dp-spaces--lv2;

    label {
      cursor: pointer;
    }

    input[type='checkbox'] {
      position: absolute;
      left: -9999px;
      width: 47px;
      height: 24px;
    }

    input[type='checkbox']:focus {
      outline: 3px solid $dp-color-orange-focus;
      outline-offset: 0;
      top: 1px;
      position: absolute;
      left: 1px;
    }

    label {
      display: flex;
      align-items: center;
    }

    span:last-child {
      position: relative;
      width: 50px;
      height: 26px;
      border-radius: 15px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
      background: $dp-color-silver;
      transition: all 0.2s;
    }

    span:last-child::before,
    span:last-child::after {
      content: '';
      position: absolute;
    }

    span:last-child::before {
      left: 1px;
      top: 1px;
      width: 24px;
      height: 24px;
      background: $dp-color-white;
      border-radius: 50%;
      z-index: 1;
      transition: transform 0.3s;
    }

    span:last-child::after {
      top: 50%;
      right: 8px;
      width: 12px;
      height: 12px;
      transform: translateY(-50%);
      background-size: 12px 12px;
    }

    [type='checkbox']:checked + label span:last-child {
      background: $dp-color-green;
    }

    [type='checkbox']:checked + label span:last-child::before {
      transform: translateX(24px);
    }

    [type='checkbox']:checked + label span:last-child::after {
      width: 14px;
      height: 14px;
      left: 8px;
    }

    .dp-text {
      display: inline-block;
      width: 100%;
    }
  }

  /* Slide double */

  [slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 45px 0 10px 0;
    width: 100%;
  }

  [slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 14px;
  }

  [slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    width: 70%;
    height: 5px;
    border-radius: 10px;
    background-color: $dp-color-silver;
    margin: 0 7px;
  }

  [slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    width: 70%;
    height: 5px;
    border-radius: 10px;
    background-color: $dp-color-silver;
    margin: 0 7px;
  }

  [slider] > div > [range] {
    position: absolute;
    left: 30%;
    right: 40%;
    height: 5px;
    border-radius: 14px;
    background-color: $dp-color-green;
  }

  [slider] > div > [thumb] {
    position: absolute;
    top: -12px;
    z-index: 2;
    height: 28px;
    width: 54px;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
  }

  [slider] > input[type='range'] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 28px;
    top: -12px;
    width: 100%;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }

  div[slider] > input[type='range']::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
  }

  div[slider] > input[type='range']::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
  }

  div[slider] > input[type='range']:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
  }

  div[slider] > input[type='range']:focus {
    outline: none;
  }

  div[slider] > input[type='range']::-ms-thumb {
    pointer-events: all;
    width: 54px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
  }

  div[slider] > input[type='range']::-moz-range-thumb {
    pointer-events: all;
    width: 54px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
  }

  div[slider] > input[type='range']::-webkit-slider-thumb {
    pointer-events: all;
    width: 54px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    -webkit-appearance: none;
  }

  div[slider] > input[type='range']::-ms-fill-lower {
    background: transparent;
    border: 0 none;
  }

  div[slider] > input[type='range']::-ms-fill-upper {
    background: transparent;
    border: 0 none;
  }

  div[slider] > input[type='range']::-ms-tooltip {
    display: none;
  }

  [slider] > div > [sign] {
    display: flex;
    position: absolute;
    margin-left: -12px;
    top: -12px;
    z-index: 3;
    background-color: $dp-color-green;
    color: $dp-color-white;
    width: 52px;
    height: 28px;
    border-radius: 28px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  [slider] > div > [sign-one] {
    left: 30%;
  }

  [slider] > div > [sign-two] {
    left: 60%;
  }

  [slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
  }

  [slider]:hover > div > [sign] {
    opacity: 1;
  }
}
