@mixin dp-button() {
  .dp-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin: 0 5px;
    appearance: none;
    font-family: $dp-font-family-proximanova;
    border-radius: $dp-border-radius;
    @include transition-all;

    &.button-big {
      font-size: $dp-font-button-big;
      line-height: 15px;
      font-weight: $dp-font-weight-light;
      padding: 16px 35px;
    }

    &.button-medium {
      font-size: $dp-font-button-medium;
      line-height: 13px;
      font-weight: $dp-font-weight-light;
      padding: 13px 25px;
    }

    &.button-small {
      font-size: $dp-font-button-small;
      line-height: 11px;
      font-weight: $dp-font-weight-light;
      padding: 10px 15px;
    }

    &.primary- {
      &green {
        background-color: $dp-color-green;
        border: 1px solid $dp-color-green;
        color: $dp-color-white;

        &:hover {
          background-color: $dp-color-darkgreen;
          border: 1px solid $dp-color-darkgreen;
        }
      }
    }
  }
}
@include dp-button();