@mixin dp-button() {
  .dp-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    appearance: none;
    font-family: $dp-font-family-proximanova;
    border-radius: $dp-border-radius;
    @include transition-all;

    .ms-icon {
      font-size: 20px;
      line-height: 7px;
      position: relative;
      left: -5px;
    }

    &.button-big {
      font-size: $dp-font-button-big;
      line-height: 15px;
      font-weight: $dp-font-weight-light;
      padding: 16px 35px;
    }

    &.button-medium {
      font-size: $dp-font-button-medium;
      line-height: 13px;
      font-weight: $dp-font-weight-light;
      padding: 13px 25px;
    }

    &.button-small {
      font-size: $dp-font-button-small;
      line-height: 11px;
      font-weight: $dp-font-weight-light;
      padding: 10px 15px;
    }

    &.primary- {
      &green {
        background-color: $dp-color-green;
        border: 1px solid $dp-color-green;
        color: $dp-color-white;

        &:hover {
          background-color: $dp-color-darkgreen;
          border: 1px solid $dp-color-darkgreen;
        }
      }

      &grey {
        background-color: $dp-color-grey;
        border: 1px solid $dp-color-grey;
        color: $dp-color-white;

        &:hover {
          background-color: $dp-color-lightgrey;
          border: 1px solid $dp-color-lightgrey;
        }
      }
    }

    &.secondary- {
      &green {
        background-color: transparent;
        border: 1px solid $dp-color-green;
        color: $dp-color-green;

        &:hover {
          background-color: $dp-color-green-brightness;
        }

        .loader {
          color: $dp-color-green;
        }
      }
    }

    &.secondary- {
      &grey {
        background-color: transparent;
        border: 1px solid $dp-color-sylver;
        color: $dp-color-grey;

        &:hover {
          background-color: $dp-color-snow;
        }

        .loader {
          color: $dp-color-grey;
        }
      }
    }
  }
}
/* spinner */
.button-text {
  display: block;
}

.loader,
.loader:after,
.loader:before {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  animation-fill-mode: both;
  animation: spinner 1.5s infinite ease-in-out;
}

.loader {
  color: $dp-color-white;
  font-size: 5px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.14s;
}

.loader:after,
.loader:before {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -15px;
  animation-delay: -0.28s;
}

.loader:after {
  left: 15px;
}
@keyframes spinner {
  0%,
  100%,
  80% {
    box-shadow: 0 15px 0 -15px;
  }

  40% {
    box-shadow: 0 15px 0 0;
  }
}

.button-loading {
  min-width: 140px;

  .button-text {
    display: none;
  }

  .loader,
  .loader:after,
  .loader:before {
    display: block;
  }
}
@include dp-button();