////
/// Cards for doppler plus plans
/// It will apply annotations to all items from file.
/// @access private
/// @author Gustavo Baamonde
/// Classes for Cards Doppler plus
////

.dp-library {
  %card {
    position: relative;
    width: 296px;
    min-height: 394px;
    padding: 30px 24px;
    background: $dp-color-white;
    flex-wrap: nowrap;
    border-radius: $dp-border-radius;
    margin: 30px 12px;
    box-sizing: border-box;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $dp-color-snow;
    text-align: center;
    transition: 0.3s;
    margin: 0 12px 24px;
    font-family: 'proxima-nova';
    position: relative;
    flex: 1;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }

    button {
      display: block;
      margin: 0 auto;
    }

    h3 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: $dp-spaces--lv4;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
    }

    .dp-what-plan {
      display: block;
      text-transform: uppercase;
      margin: 10px 0 0 0;
      font-weight: bold;
      font-size: $dp-sizing--lvl2-14;
    }

    .dp-calculate-price {
      display: inline-block;
      font-weight: bold;
      margin: 10px 0 0;
      font-size: $dp-sizing--lvl2-14;
    }

    .dp-content-plans {
      height: 132px;
      overflow: hidden;
    }

    .dp-content-plans-free {
      height: 132px;
      overflow: hidden;
      min-height: 265px;
    }

    .dp-current-plan {
      position: relative;
      background-color: $dp-color-ghostwhite;
      border-radius: 3px;
      font-size: $dp-sizing--lvl2;
      line-height: 13px;
      font-weight: 300;
      padding: 13px 25px;
      display: inline-block;
    }
  }

  .dp-card {
    @extend %card;
  }

  .dp-highlighthed {
    border: 2px solid $dp-violet-doppler-plus;
  }

  .dp-price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 132px;
    margin: 0 auto;
    width: 150px;
    color: $dp-color-darkgrey;

    .dp-time-lapse-top {
      position: absolute;
      top: 24px;
      font-size: 14px;
    }
    .dp-time-lapse-bottom {
      position: absolute;
      bottom: 24px;
      font-size: 14px;
    }

    .dp-amount {
      display: flex;
      flex-direction: column;
      position: relative;

      .dp-plan-currency {
        position: absolute;
        left: -42px;
        top: 18px;
      }
    }

    .dp-money-number {
      font-size: $dp-sizing--lvl9;
      color: $dp-color-darkgrey;
      letter-spacing: -2px;
      line-height: $dp-spaces--lv9;
      position: relative;
    }
  }

  .dpsg-tit-card {
    font-size: 12px;
    width: 285px;
    text-transform: uppercase;
  }

  .dp-maximum {
    border-radius: 3px;
    background-color: $dp-color-ghostwhite;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    padding: 13px 25px;
    display: inline-block;
  }

  .dp-card-asset {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 132px;
    margin: 0 auto;
    width: 150px;
    color: $dp-color-darkgrey;
  }

  .dp-cta-plan {
    height: 70px;
  }

  /// plan detail

  .dp-plan-detail {
    text-align: left;
    color: $dp-color-darkgrey;
    border-top: 1px solid $dp-color-snow;
    margin-top: $dp-spaces--lv4;
    padding-top: $dp-spaces--lv4;

    h4 {
      font-size: 15px;
      padding-bottom: 6px;
      text-transform: none;
      font-weight: bold;
      padding-left: 15px;
    }

    .dp-list-detail {
      line-height: 20px;
      font-size: 15px;

      li {
        margin-bottom: 10px;
        padding-left: 25px;
        display: flex;
        align-items: flex-start;
        position: relative;
      }

      .dp-tooltip-block {
        left: -12px;
      }
    }
  }

  /// icons card expanded

  .dp-icostar {
    background: url('../img/ico-star.svg') 0 0 no-repeat;
    position: absolute;
    left: 3px;
    top: 2px;
    width: 16px;
    height: 16px;
  }

  .dp-icobd {
    background-color: $dp-color-violet;
    color: $dp-color-white;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    position: absolute;
    left: -24px;
  }

  .dp-icodot {
    background-color: $dp-color-white;
    color: $dp-color-darkgrey;
    border-radius: 100%;
    padding: 0px 2px;
    text-align: center;
    margin-right: 5px;
    font-size: 35px;
    line-height: 0;
    position: absolute;
    left: 5px;
  }

  .dp-new {
    background-color: $dp-color-violet;
    color: $dp-color-white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 10px;
  }
  .dp-coming {
    background-color: #fcedec;
    color: #ec8a83;
    border: 1px solid #ec8a83;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 9px;
    letter-spacing: 0.05em;
  }
}
