/* form-request - user-menu */

.form-request {
  font-family: $dp-font-family;
  padding: 20px 0 0;

  li {
    position: relative;
  }

  .fieldset-cta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $dp-color-sylver;
    text-align: right;
  }
}

.content-checkbox {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 20px 0;

  .checkbox {
    display: flex;
    cursor: pointer;
    align-items: center;

    label {
      margin-left: -34px;
      margin-bottom: 0;
      font-weight: normal;
    }
  }

  .checkmark {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    position: absolute;
    border: 1px solid $dp-color-lightgrey;
    border-radius: 3px;
    background-color: $dp-color-white;
    pointer-events: none;

    &:after {
      content: '';
      top: 1px;
      left: 5px;
      width: 5px;
      height: 10px;
      position: absolute;
      border: solid $dp-color-white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}
