/* form-request - user-menu */

.form-request {
  font-family: $dp-font-family;
  padding: 20px 0 0;

  li {
    position: relative;
  }

  .fieldset-cta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $dp-color-sylver;
    text-align: right;
  }
}
}
}
