@function columns($columns, $total-columns) {
  @return percentage($columns / $total-columns);
}

@media screen and (min-width: 320px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      max-width: columns($i, 12);
      flex: 0 0 columns($i, 12);
    }
  }
  .dp-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      max-width: columns($i, 12);
      flex: 0 0 columns($i, 12);
    }
  }
  .dp-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1260px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      max-width: columns($i, 12);
      flex: 0 0 columns($i, 12);
    }
  }
  .dp-container {
    max-width: 1260px;
  }
}

.dp-container-fluid {
  width: 100%;
  padding-right: $dp-spaces--lv2;
  padding-left: $dp-spaces--lv2;
  margin-right: auto;
  margin-left: auto;
}

.dp-container {
  padding-right: $dp-spaces--lv2;
  padding-left: $dp-spaces--lv2;
  margin-right: auto;
  margin-left: auto;
}

.dp-rowflex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$dp-spaces--lv2;
  margin-left: -$dp-spaces--lv2;
}

[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: $dp-spaces--lv2;
  padding-left: $dp-spaces--lv2;
}

.dp-box-shadow {
  @include dp-box($dp-color-silver, 30%, 408px, 250px);
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  border: 1px solid $dp-color-silver;
  position: relative;
}

.dpsg-content-sample {
  width: 100%;
  padding: $dp-spaces--lv3;
}
