////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @access private
/// @author Gustavo Baamonde
/// Classes for the Images component
////

@mixin icon-table {
  width: 20px;
  height: 17px;
  display: inline-block;
  font-size: $dp-sizing--lvl3;
}

@mixin icon-user-table {
  position: relative;
  top: -2px;
  left: 0;
  font-size: 14px;
  margin-right: 6px;
}

[class*='user--'] {
  position: relative;
}

///
/// Mixin campaign status icons
///

@mixin icon-campaing($background-color) {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: $dp-spaces--lv0;
  border-radius: 50%;
  background-color: $background-color;
}

/// placeholder para los iconos

%states-campaing {
  padding-left: $dp-spaces--lv3;
  display: flex;
  align-items: flex-start;
  max-width: 200px;
}

.dp-calification {
  display: flex;
  align-items: center;

  .icon-star {
    @include icon-table;
    color: $dp-color-yellow;
  }

  .icon-star-filled {
    @include icon-table;
    color: $dp-color-silver;
  }
}

///
/// Icons for Subscriber History
///

// User active
.user--active:before {
  @include icon-user-table;
  color: $dp-color-green;
}

// User active not associated to lists
.user--active-with-no-list:before {
  @include icon-user-table;
  color: $dp-color-yellow;
}

// User pending
.user--pending:before {
  @include icon-user-table;
  color: $dp-color-yellow;
}

// User removed client
.user--removed-client:before {
  @include icon-user-table;
  color: $dp-color-red;
}

// User removed hard bounces
.user--removed-hard-bounces:before {
  @include icon-user-table;
  color: $dp-color-red;
}

// User removed no openings
.user--removed-no-openings:before {
  @include icon-user-table;
  color: $dp-color-grey;
}

// User removed soft bounces
.user--removed-soft-bounces:before {
  @include icon-user-table;
  color: $dp-color-red;
}

// User subscriber removed
.user--removed-subscriber:before {
  @include icon-user-table;
  color: $dp-color-grey;
}

///
/// campaign status icons
///

.user--open {
  @extend %states-campaing;

  &:before {
    @include icon-campaing($dp-color-green);
  }
}

.user--not-open {
  @extend %states-campaing;

  &:before {
    @include icon-campaing($dp-color-grey);
  }
}
.user--not-sent {
  @extend %states-campaing;

  &:before {
    @include icon-campaing($dp-color-yellow);
  }
}
