/*
Language selector
*/

.language-selector {
  position: relative;
  height: 34px;
  width: 63px;
  overflow: hidden;
  margin-bottom: -10px;
  font-family: $dp-font-family;

  &.is-open {
    overflow: visible;
  }

  button {
    appearance: none;
    position: relative;
    line-height: 20px;
    padding: 7px 13px 7px 35px;
    color: $dp-color-darkgrey;
    font-size: $dp-font-size-xsmall;
    font-weight: $dp-font-weight-bold;
    text-align: right;
    background-repeat: no-repeat;
    background-position: 12px center;
    outline: 0;
  }

  .lang-option {
    width: 63px;
    height: 34px;

    &.option--selector {
      button {
        &:after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          border-top: 5px solid $dp-color-darkgrey;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
    }

    &:not(.option--selector) {
      button {
        position: absolute;
        top: 36px;
        border-radius: $dp-border-radius;
        box-shadow: 0 0 0 1px $dp-color-yellow, 0 0 0 2px rgba(0,0,0,.1);
        z-index: 5;

        &:hover {
          background-color: #f2f1e9;
        }
      }
    }
  }

  [data-lang="ES"] {
    background-image: url(../img/flag--spanish.svg);
  }
  [data-lang="EN"] {
    background-image: url(../img/flag--english.svg);
  }
}
