/*
Language selector
*/

.language-selector {
  display: flex;
  align-items: center;
  font-family: $dp-font-family;
  position: relative;
  top: 10px;

  .option--item {
    display: none;
  }

  .option.open {
    .option--item {
      display: block;
    }
  }

  .option span {
    position: relative;
    cursor: pointer;
    display: block;
    color: $dp-color-darkgrey;
    font-size: $dp-font-size-xsmall;
    padding: 6px 13px 6px 15px;
  }

  .option img {
    height: 20px;
    width: auto;
    padding-right: 3px;
  }

  .option a strong,
  .option span strong {
    position: relative;
    top: -5px;
  }

  .option span:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 5px solid $dp-color-darkgrey;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: 15px;
    right: 0;
  }

  .option a {
    position: absolute;
    right: 0;
    background-color: $dp-color-white;
    color: $dp-color-darkgrey;
    font-size: $dp-font-size-xsmall;
    font-weight: $dp-font-weight-bold;
    padding: 6px 11px 5px;
    border: 1px solid $dp-color-yellow;
    border-radius: $dp-border-radius;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    z-index: 5;
  }

  .option a:hover {
    background-color: #f2f1e9;
  }
}
