@mixin dp-preloader($color, $size, $background: '') {
  @if $background != '' {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.9;
    background-color: $background;

    &:before {
      content: '';
      left: 0;
      opacity: 0.9;
      position: absolute;
    }
  }

  &:after {
    content: '';
    width: $size;
    height: $size;
    position: absolute;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgba($color, 0.3);
    border-top-color: $color;
    animation: dp-preloader-spin 0.7s infinite linear;
  }
}

@keyframes dp-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.wrapper-loading {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 8em;

  .loading-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include dp-preloader($dp-color-lightgrey, 3.3em);
  }
  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  .flash {
    animation: flash 2s infinite linear;
  }
}

/* loading kpi */

.loading-box {
  @include dp-preloader($dp-color-lightgrey, 3.3em, $dp-color-ghostwhite);
}
