////
/// tabs component
/// Tabs will allow us to create a user interface based
/// tabs, where, in a very intuitive way, we can offer the
/// user different views, which are selected by clicking one of the tabs shown below.
/// @access private
/// @author Gustavo Baamonde
/// Classes for the tabs component
////

.dp-library {
  .tabs-wrapper {
    margin: 10px $dp-spaces--lv0 $dp-spaces--lv9;
    position: relative;
    width: 100%;
  }

  .tabs-bg {
    position: absolute;
    border-top: 1px solid $dp-color-silver;
    background-color: $dp-color-snow;
    height: 4px;
    bottom: -1px;
    width: 100%;
    z-index: 1;
  }

  .tabs-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: $dp-spaces--lv0;
  }

  .tab--item {
    display: inline-block;

    &:first-child {
      padding-left: 0;
    }

    .tab--link {
      text-decoration: none;
      position: relative;
      color: $dp-color-grey;
      font-size: $dp-sizing--lvl2;
      font-weight: $dp-font-weight-bold;
      font-family: $dp-font-family;
      line-height: $dp-spaces--lv3;
      display: block;
      z-index: 2;
      overflow: hidden;
      padding: 15px 0;
      margin-right: $dp-spaces--lv10;
      @include transition-all;

      &:before {
        content: '';
        width: 100%;
        position: absolute;
        border-bottom: 3px solid $dp-color-yellow;
        bottom: 0;
        right: 350px;
        @include transition-all;
      }

      &:hover:before {
        right: 0;
      }

      &.active,
      &:hover {
        color: $dp-color-darkgrey;
        font-weight: bold;
      }
    }
  }

  .tab--item .active {
    color: $dp-color-darkgrey;
    font-weight: bold;
  }

  .tab--item .active:before {
    content: '';
    position: absolute;
    border-bottom: 3px solid $dp-color-yellow;
    bottom: 0;
    right: 0;
    @include transition-all;
  }

  .tab--container {
    padding: 0;

    .tab--content {
      opacity: 0;
      height: 0;

      &.active {
        opacity: 1;
        height: auto;
        transition: opacity 1s ease-in-out;
      }
    }
  }

  /// Classes for plan tabs in Doppler Plus

  .dp-tabs-plans {
    .tab--item {
      width: 50%;
      text-align: center;
    }

    .tab--link {
      font-size: 22px;
      line-height: 24px;
      font-weight: bold;
      margin: 0;

      &:before {
        content: '';
        width: 100%;
        position: absolute;
        border-bottom: 4px solid $dp-violet-tabs;
        bottom: 0;
        right: 462px;
        @include transition-all;
      }

      &:hover:before {
        right: 0;
      }

      &.active:before {
        right: 0;
      }
      &:hover {
        color: $dp-color-darkgrey;
        font-weight: bold;
      }
    }
  }
}
