////
///	Tables
/// @group Tables
/// @author gbaamonde@makingsense.com
////
/// Table Component -
/// This is a simple easy-to-use table component.
/// @example markup
///   <table class="dp-c-table">
///     <caption>asdasdasd</caption>
///     <thead>
///       <tr>
///         <th>
///           Column 1
///         </th>
///         <th>
///           Column 2
///         </th>
///       </tr>
///     </thead>
///     <tfoot>
///       <tr>
///         <td colspan="2">
///           Single column for <tfoot>
///         </td>
///       </tr>
///     </tfoot>
///     <tbody>
///       <tr>
///         <td>
///           Content 1
///         </td>
///         <td>
///           Content 2
///         </td>
///       </tr>
///     </tbody>
///   </table>

.dp-library {
  @mixin dp-c-table($bg-color-zebra, $font-size-table, $bg-color-hover) {
    .dp-expand-results {
      position: relative;
      padding: $dp-spaces--lv1 $dp-spaces--lv3 $dp-spaces--lv0 $dp-spaces--lv0;

      .icon-arrow-next {
        position: absolute;
        transform: rotate(0deg);
      }

      &.dp-open-results {
        .icon-arrow-next {
          position: absolute;
          transform: rotate(90deg);
        }
      }
    }

    .dp-c-table {
      width: 100%;
      font-size: $font-size-table;
      border-collapse: collapse;
      border-spacing: $dp-spaces--lv0;
      background: $dp-color-white;

      &.dp-nested-table {
        tr {
          border-bottom: 1px solid $dp-color-silver;

          &:nth-child(odd) {
            background: $dp-color-white;
          }

          &:nth-child(even) {
            background: $dp-color-white;
          }

          &:hover {
            background: $bg-color-hover;
          }
        }
      }

      caption {
        padding: $dp-spaces--lv5 $dp-spaces--lv2;
        font-style: italic;
        text-align: left;
      }

      th {
        border-top: 1px solid $dp-color-silver;
        border-bottom: 1px dashed $dp-color-lightgrey;
        font-size: $dp-sizing--lvl1;
        font-weight: normal;
        color: $dp-color-grey;
        text-transform: uppercase;
        text-align: left;
        padding: $dp-spaces--lv0 $dp-spaces--lv3 $dp-spaces--lv0;
        position: relative;

        &:first-child {
          border-left: none;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          color: $dp-color-grey;
          font-weight: normal;
          text-decoration: none;

          &:hover {
            color: $dp-color-lightgrey;

            span {
              opacity: 0.6;
            }
          }
        }
      }

      th + th:before {
        content: '';
        height: 10px;
        border-right: 1px solid $dp-color-lightgrey;
        position: absolute;
        left: 0;
      }

      tbody {
        tr {
          border-bottom: 1px solid $dp-color-silver;

          &:nth-child(odd) {
            background: $bg-color-zebra;
          }

          &:nth-child(even) {
            background: $dp-color-white;
          }

          &:hover {
            background: $bg-color-hover;
          }

          /* RGPD table */

          &.dp-expanded-table {
            background: $bg-color-zebra;
            opacity: 0;
            visibility: collapse;
            transition: all 0.3s ease-in-out;

            &.show {
              opacity: 1;
              visibility: visible;
              background: $bg-color-zebra;
              transition: all 0.3s ease-in-out;
            }

            .dp-list-results {
              padding: $dp-spaces--lv2 $dp-spaces--lv0;
            }
            .dp-latest-results {
              position: relative;

              &:before {
                content: '';
                position: absolute;
                right: 0;
                border-right: 1px solid $dp-color-silver;
                width: 2px;
                height: 90%;
              }

              span {
                font-style: italic;
                padding-left: $dp-spaces--lv3;
              }
            }
          }

          .dp-table-results {
            th {
              padding: $dp-spaces--lv0 $dp-spaces--lv3 $dp-spaces--lv2;
              text-align: left;
              border: none;
              font-size: $dp-sizing--lvl1;
              font-style: italic;
              color: $dp-color-grey;
              text-transform: none;
              background: $bg-color-zebra;

              &:before {
                display: none;
              }
            }

            tbody {
              tr {
                border-bottom: 1px solid $dp-color-silver;

                &:nth-child(odd) {
                  background: none;
                }

                &:nth-child(even) {
                  background: transparent;
                }

                &:hover {
                  background: transparent;
                }
              }

              td {
                vertical-align: top;
                color: $dp-color-grey;
              }
            }
          }
        }

        td {
          color: $dp-color-grey;
          border: $dp-spaces--lv0;
          font-size: $font-size-table;
          position: relative;
          vertical-align: top;
        }

        .sync {
          color: $dp-color-green;

          td {
            color: $dp-color-green;
            border-top: 1px solid $dp-color-green;
            border-bottom: 1px solid $dp-color-green;
          }

          .text-sync {
            animation: flash 2s infinite;

            .icon-clock {
              margin: 0 5px;
              top: -2px;
              position: relative;
            }
          }

          /// Animation text
          @keyframes flash {
            from,
            50%,
            to {
              opacity: 1;
            }

            25%,
            75% {
              opacity: 0;
            }
          }
        }
      }

      th,
      td {
        padding: $dp-spaces--lv2 $dp-spaces--lv4;
        text-align: left;
      }
    }
  }

  @include dp-c-table(
    $dp-color-ghostwhite,
    $dp-sizing--lvl2,
    $dp-color-hover-table
  );

  .dp-table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: $dp-spaces--lv4;

    @media screen and (min-width: 1025px) {
      overflow-x: visible;
      overflow-y: visible;
    }
  }
}
