/// Tooltips Component
/// @example markup - HTML structure
/// <p class="dp-tooltip-right">dooplertip <span class="tooltiptext">Tooltip text</span></p>
/// In order to specify the orientation of the tooltip you can use the: dp-tooltip-top | dp-tooltip-right | dp-tooltip-bottom | dp-tooltip-left classes if you need it.
/// @author gbaamonde@makingsense.com
/// Classes for the tooltip component

.dp-library {
  .icon-tip-icon {
    color: $dp-color-darkyellow;
  }

  @mixin dp-tooltip($font-size-tooltip, $font-color-tooltip) {
    position: relative;
    display: inline-block;
    padding: $dp-spaces--lv0;
    margin: $dp-spaces--lv0;
    cursor: pointer;

    .tooltiptext {
      visibility: hidden;
      position: absolute;
      line-height: 1.2em;
      min-width: 170px;
      display: inline-block;
      padding: $dp-spaces--lv2 $dp-spaces--lv1;
      font-size: $dp-sizing--lvl2;
      background-color: $dp-color-darkgrey;
      color: $dp-color-white;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: $dp-border-radius;
      z-index: 1;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      transform: translate(-50%, -100%);

      &:after {
        content: '';
        position: absolute;
        border-width: 5px;
        border-style: solid;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  /// tooltip top

  @media screen and (max-width: 1365px) {
    .tabs-wrapper {
      .dp-tooltip-container {
        display: none;
      }
    }
  }

  .dp-tooltip-top {
    span {
      max-width: 180px;
      font-size: $dp-sizing--lvl2;
      line-height: $dp-spaces--lv3;
      text-align: center;
      display: inline-block;
      font-weight: normal;
    }
  }

  .dp-tooltip-top {
    opacity: 0;
    color: $dp-color-darkgrey;
    width: max-content;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $dp-sizing--lvl2;
    line-height: 15px;
    padding: $dp-spaces--lv2 $dp-spaces--lv3;
    border-radius: $dp-border-radius;
    text-align: center;
    color: $dp-color-white;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.2s ease-in-out;
    transform: scale(0);
    position: absolute;
    top: -12px;
    left: 50%;
    border: 1px solid $dp-color-silver;
    transform: translate(-50%, -50%);
    z-index: -1;
    visibility: visible;

    @media screen and (max-width: 1365px) {
      display: none;
    }
  }

  .dp-tooltip-top:before,
  .dp-tooltip-top:after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $dp-color-darkgrey;
    position: absolute;
    bottom: -5px;
    left: 47%;
  }

  .dp-tooltip-container:hover .dp-tooltip-top {
    opacity: 1;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -100%);
  }

  /// tooltip right

  .dp-tooltip-right {
    @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

    .tooltiptext {
      transform: translate(-50%, -50%);
      left: 140px;
      top: 50%;

      &:after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-color: transparent $dp-color-darkgrey transparent transparent;
      }
    }
  }

  /// tooltip bottom

  .dp-tooltip-bottom {
    @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

    .tooltiptext {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 60px;

      &:after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-color: transparent transparent $dp-color-darkgrey transparent;
      }
    }
  }

  /// tooltip left

  .dp-tooltip-left {
    @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

    .tooltiptext {
      transform: translate(-50%, -50%);
      left: -100px;
      top: 50%;

      &:after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-color: transparent transparent transparent $dp-color-darkgrey;
      }
    }
  }

  /* New Tooltip for charts in webapp*/

  .tabs-wrapper {
    .dp-tooltip-container {
      cursor: pointer;
      position: relative;
      display: inline-block;
    }
  }
  ///
  /// TODO: delete the dp-tooltip-chart class to use a more generic
  /// in the next version it is obsolete
  ///

  .dp-tooltip-chart,
  .dp-tooltip-block {
    opacity: 0;
    color: $dp-color-darkgrey;
    width: max-content;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $dp-sizing--lvl2;
    line-height: 15px;
    padding: $dp-spaces--lv2 $dp-spaces--lv3;
    border-radius: $dp-border-radius;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease-in-out;
    transform: scale(0);
    position: absolute;
    top: -12px;
    left: 50%;
    border: 1px solid $dp-color-silver;
    box-shadow: 0 0 0 4px rgba(204, 204, 204, 0.3);
    transform: translate(-50%, -50%) scale(0.75) rotate(15deg);
    z-index: -1;
    visibility: visible;

    @media screen and (max-width: 1365px) {
      display: none;
    }
  }

  .dp-tooltip-chart:before,
  .dp-tooltip-block:before,
  .dp-tooltip-chart:after,
  .dp-tooltip-block:after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: -5px;
    left: 47%;
  }

  .dp-tooltip-container:hover .dp-tooltip-chart,
  .dp-tooltip-container:hover .dp-tooltip-block {
    opacity: 1;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -100%) scale(1) rotate(0deg);
  }
}
