/// Tooltips Component
/// @example markup - HTML structure
/// <p class="dp-tooltip-right">dooplertip <span class="tooltiptext">Tooltip text</span></p>
/// In order to specify the orientation of the tooltip you can use the: dp-tooltip-top | dp-tooltip-right | dp-tooltip-bottom | dp-tooltip-left classes if you need it.
/// @author gbaamonde@makingsense.com
/// Classes for the tooltip component

@mixin dp-tooltip($font-size-tooltip, $font-color-tooltip) {
  position: relative;
  display: inline-block;
  padding: 3px $dp-spaces--lv0;
  margin: $dp-spaces--lv0;
  color: $dp-color-darkyellow;
  cursor: pointer;

  .tooltiptext {
    visibility: hidden;
    position: absolute;
    min-width: 170px;
    display: inline-block;
    padding: $dp-spaces--lv2 $dp-spaces--lv1;
    font-size: $dp-sizing--lvl2;
    background-color: $dp-color-black;
    color: $dp-color-white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: $border-radius;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease-in-out;

    &:after {
      content: '';
      position: absolute;
      border-width: 5px;
      border-style: solid;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

/// tooltip top

.dp-tooltip-top {
  @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

  .tooltiptext {
    bottom: 140%;
    left: -165%;
    right: -50%;

    &:after {
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: $dp-color-black transparent transparent transparent;
    }
  }
}

/// tooltip right

.dp-tooltip-right {
  @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

  .tooltiptext {
    top: -70%;
    left: 120%;

    &:after {
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-color: transparent $dp-color-black transparent transparent;
    }
  }
}

/// tooltip bottom

.dp-tooltip-bottom {
  @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

  .tooltiptext {
    top: 140%;
    left: -165%;
    right: -50%;

    &:after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: transparent transparent $dp-color-black transparent;
    }
  }
}

/// tooltip left

.dp-tooltip-left {
  @include dp-tooltip($dp-sizing--lvl1, $dp-color-white);

  .tooltiptext {
    top: -70%;
    right: 120%;

    &:after {
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-color: transparent transparent transparent $dp-color-black;
    }
  }
}

/* New Tooltip for charts in webapp*/

@mixin tooltipDialog {
  .tooltip {
    display: block;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75) rotate(15deg);
    transform-origin: bottom center;
    padding: $dp-spaces--lv3 $dp-spaces--lv4;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: 0.15s ease-in-out;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    z-index: 5;
    text-align: left;
    border: 1px solid $dp-color-silver;
    box-shadow: 0 0 0 4px rgba(204, 204, 204, 0.3);

    &.bgColor {
      background: rgba($dp-color-white, 0.95);
    }

    &:before {
      content: '';
      display: block;
      margin: $dp-spaces--lv0 auto;
      width: $dp-spaces--lv0;
      height: $dp-spaces--lv0;
      border: 5px solid transparent;
      position: absolute;
      bottom: $dp-spaces--lv0;
      left: 50%;
      transform: translate(-50%, 100%);
      border-top: 5px solid rgba($dp-color-white, 0.95);
    }

    p {
      display: inline-block;
      margin: $dp-spaces--lv0;
      font-size: $dp-sizing--lvl1;
      line-height: 13px;
      color: $dp-color-grey;
    }

    span {
      display: block;
      margin: $dp-spaces--lv0;
      font-size: $dp-sizing--lvl2;
      line-height: 15px;
      font-weight: bold;
      color: $dp-color-darkgrey;
    }
  }
}

.dp-wrap-tooltip:hover + .tooltip,
.dp-wrap-tooltip:focus + .tooltip {
  opacity: 1;
  transform: translate(-50%, -100%) scale(1) rotate(0deg);
  pointer-events: none;
}

.dp-tooltip {
  @include tooltipDialog();
  position: relative;
}

.dpsg-button-example {
  background: $dp-color-snow;
  padding: 5px 20px;
  border-radius: 3px;
  width: auto;
}
