<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Doppler UI Team</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body>
    <main role="main">
      <section class="section-module">
        <!-- build:include partials/_nav.html -->
        This will be replaced by the content of nav.html
        <!-- /build -->

        <h1>Doppler Styles Guides</h1>
        <h2>Colores</h2>
        <main class="main-colors">
          <div class="color-card">
            <div class="sample-color white-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .white-background</li>
                <li><code>background-color: #FFFFFF</code></li>
                <li>class: .white-color</li>
                <li><code>color: #FFFFFF</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color ghostwhite-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .ghostwhite-background</li>
                <li><code>background-color: #F2F2F2</code></li>
                <li>class: .ghostwhite-color</li>
                <li><code>color: #F2F2F2</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color snow-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .snow-background</li>
                <li><code>background-color: #EAEAEA</code></li>
                <li>class: .snow-color</li>
                <li><code>color: #EAEAEA</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color silver-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .silver-background</li>
                <li><code>background-color: #CCCCCC</code></li>
                <li>class: .silver-color</li>
                <li><code>color: #CCCCCC</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color lightgrey-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .lightgrey-background</li>
                <li><code>background-color: #999999</code></li>
                <li>class: .lightgrey-color</li>
                <li><code>color: #999999</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color grey-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .grey-background</li>
                <li><code>background-color: #666666</code></li>
                <li>class: .grey-color</li>
                <li><code>color: #666666</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color darkgrey-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .darkgrey-background</li>
                <li><code>background-color: #333333</code></li>
                <li>class: .darkgrey-color</li>
                <li><code>color: #333333</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color brightnessgreen-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .brightnessgreen-background</li>
                <li><code>background-color: rgba(51,173,115,.2)</code></li>
                <li>class: .brightness-green-color</li>
                <li><code>color: rgba(51,173,115,.2)</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color lightgreen-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .lightgreen-background</li>
                <li><code>background-color: #65C192</code></li>
                <li>class: .lightgreen-color</li>
                <li><code>color: #65C192</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color green-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .green-background</li>
                <li><code>background-color: #33AD73</code></li>
                <li>class: .green-color</li>
                <li><code>color: #33AD73</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color darkgreen-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .darkgreen-background</li>
                <li><code>background-color: #008046</code></li>
                <li>class: .darkgreen-color</li>
                <li><code>color: #008046</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color brightnessyellow-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .brightnessyellow-background</li>
                <li><code>background-color: rgba(252,229,121,.2)</code></li>
                <li>class: .brightnessyellow-color</li>
                <li><code>color: rgba(252,229,121,.2)</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color lightyellow-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .lightyellow-background</li>
                <li><code>background-color: #FDE577</code></li>
                <li>class: .lightyellow-color</li>
                <li><code>color: #FDE577</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color yellow-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .yellow-background</li>
                <li><code>background-color: #FBB224</code></li>
                <li>class: .yellow-color</li>
                <li><code>color: #FBB224</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color darkyellow-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .darkyellow-background</li>
                <li><code>background-color: #E58900</code></li>
                <li>class: .darkyellow-color</li>
                <li><code>color: #E58900</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color lemonyellow-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .lemonyellow-background</li>
                <li><code>background-color: #C6B159</code></li>
                <li>class: .lemonyellow-color</li>
                <li><code>color: #C6B159</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color lightred-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .lightred-background</li>
                <li><code>background-color: #EC8A83</code></li>
                <li>class: .lightred-color</li>
                <li><code>color: #EC8A83</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color red-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .red-background</li>
                <li><code>background-color: #E34F45</code></li>
                <li>class: .red-color</li>
                <li><code>color: #E34F45</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color darkred-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .darkred-background</li>
                <li><code>background-color: #A63A33</code></li>
                <li>class: .darkred-color</li>
                <li><code>color: #A63A33</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color brownbrightness-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .brownbrightness-background</li>
                <li><code>background-color: #594103</code></li>
                <li>class: .brownbrightness-color</li>
                <li><code>color: #594103</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
          <div class="color-card">
            <div class="sample-color brown-background"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .brown-background</li>
                <li><code>background-color: #302100</code></li>
                <li>class: .brown-color</li>
                <li><code>color: #302100</code></li>
              </ul>
            </div>
          </div>
          <!-- color-card -->
        </main>
        <!-- main-colors -->
        <h2>Botones</h2>
        <p>
          <strong
            >3 tamaños de botones principales que son verdes, aunque el color
            varia de acuerdo a lo que se necesite, puede ser verde o
            gris:</strong
          >
        </p>
        <main class="main-buttons">
          <div class="buttons-card">
            <button type="button" class="dp-button button-big primary-green">
              Iniciar campaña
            </button>
            <div class="button-description">
              <p><strong>Big button</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .button-big</li>
                <li><strong>font-size:</strong> 15px;</li>
                <li><strong>font-weight:</strong> 300;</li>
                <li><strong>text-align:</strong> center;</li>
                <li><strong>border-radius:</strong> 30px;</li>
                <li><strong>padding:</strong> 16px 35px;</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-medium primary-green">
              Iniciar campaña
            </button>
            <div class="button-description">
              <p><strong>Medium button</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>font-size:</strong> 13px;</li>
                <li><strong>font-weight:</strong> 300;</li>
                <li><strong>text-align:</strong> center;</li>
                <li><strong>padding:</strong> 13px 25px;</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-small primary-green">
              Iniciar
            </button>
            <div class="button-description">
              <p><strong>Small button</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .button-small</li>
                <li><strong>font-size:</strong> 11px;</li>
                <li><strong>font-weight:</strong> 300;</li>
                <li><strong>text-align:</strong> center;</li>
                <li><strong>padding:</strong> 10px 15px;</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
        </main>
        <!-- main-buttons -->
        <p><strong>Existen tres estados:</strong></p>
        <main class="main-buttons">
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium primary-green button--loading"
            >
              Spinner
            </button>
            <div class="button-description">
              <p><strong>Spinner</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> button-loading</li>
                <li><strong>@include</strong> dp-preloader(#FFFFFF, 1.5em);</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium primary-green"
              disabled
            >
              Button Disabled
            </button>
            <div class="button-description">
              <p><strong>Disabled</strong></p>
              <ul class="button-list">
                <li><strong>pointer-events:</strong> none;</li>
                <li><strong>opacity:</strong> 0.4;</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-medium primary-grey">
              Iniciar campaña
            </button>
            <div class="button-description">
              <p><strong>Complementarios</strong></p>
              <ul class="button-list">
                <li>
                  Botones de acción primaria que necesitan despegarse del verde
                  de uso común
                </li>
                <li><strong>background-color:</strong> #666666;</li>
                <li><strong>border:</strong> 1px solid #333333;</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
        </main>
        <!-- main-buttons -->
        <p><strong>También se pueden poner con bordes redondeados:</strong></p>
        <main class="main-buttons">
          <div class="buttons-card">
            <button
              type="button"
              class="
                dp-button
                button-medium
                primary-green
                button--loading button--round
              "
            >
              Spinner
            </button>
            <div class="button-description">
              <ul class="button-list">
                <p><strong>Rounded</strong></p>
                <li><strong>class:</strong> .button--round</li>
                <li><strong>text-transform:</strong> uppercase;</li>
                <li><strong>border-radius:</strong> 30px;</li>
                <li><strong>font-weight:</strong> 600;</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium primary-green button--round"
              disabled
            >
              Button Disabled
            </button>
            <div class="button-description">
              <ul class="button-list">
                <p><strong>Button rounded disabled</strong></p>
                <li><strong>class:</strong> .dp-button</li>
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>class:</strong> .primary-green</li>
                <li><strong>class:</strong> .button--round</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium primary-green button--round"
            >
              Iniciar campaña
            </button>
            <div class="button-description">
              <ul class="button-list">
                <p><strong>Button rounded green</strong></p>
                <li><strong>class:</strong> .dp-button</li>
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>class:</strong> .primary-green</li>
                <li><strong>class:</strong> .button--round</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium secondary-green button--round"
            >
              Iniciar campaña
            </button>
            <div class="button-description">
              <ul class="button-list">
                <p><strong>Button secondary green</strong></p>
                <li><strong>class:</strong> .dp-button</li>
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>class:</strong> .secondary-green</li>
                <li><strong>class:</strong> .button--round</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium primary-brown button--round"
            >
              Iniciar campaña
            </button>
            <div class="button-description">
              <ul class="button-list">
                <p><strong>Button primary brown</strong></p>
                <li><strong>class:</strong> .dp-button</li>
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>class:</strong> .primary-brown</li>
                <li><strong>class:</strong> .button--round</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
          <div class="buttons-card">
            <button
              type="button"
              class="dp-button button-medium secondary-brown button--round"
            >
              Iniciar campaña
            </button>
            <div class="button-description">
              <ul class="button-list">
                <p><strong>Button secondary brown</strong></p>
                <li><strong>class:</strong> .dp-button</li>
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>class:</strong> .secondary-brown</li>
                <li><strong>class:</strong> .button--round</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
        </main>
        <!-- main-buttons -->
        <p>
          <strong
            >También podemos indicar que un boton tenga el estilo de un
            link:</strong
          >
        </p>
        <main class="main-buttons">
          <div class="buttons-card">
            <button type="button" class="dp-button link-green">Ancla</button>
            <div class="button-description">
              <p><strong>Button Link</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .link-green</li>
                <li><strong>color:</strong> #33ad73;</li>
                <li>:hover {<strong>color:</strong> #008046;}</li>
              </ul>
            </div>
          </div>
          <!-- button-card -->
        </main>
        <section class="section-module">
          <h2>Table component</h2>
          <!-- build:include partials/_table-component.html -->
          This will be replaced by the content of table-component.html
          <!-- /build -->
        </section>
        <section class="section-module">
          <!-- build:include partials/_tooltip-component.html -->
          This will be replaced by the content of tootltip-component.html
          <!-- /build -->
        </section>
        <section class="section-module">
          <h2>Breadcrumb</h2>
          <p>Breadcrumb component</p>
          <!-- build:include partials/_breadcrumb.html -->
          This will be replaced by the content of breadcrumb.html
          <!-- /build -->
        </section>
        <section class="section-module">
          <h2>Mensajes para el usuario</h2>
          <p>
            A lo largo de toda la aplicación tendremos los siguientes formatos
            de mensajes para nuestros usuarios, acá presentamos cuatro estilos
            diferentes.
          </p>
          <!-- build:include partials/_msj-component.html -->
          This will be replaced by the content of msj-component.html
          <!-- /build -->
        </section>
      </section>
      <!-- build:js:dist js/app.js -->
      <script src="./js/main.js"></script>
      <!-- /build -->
    </main>
  </body>
</html>
