<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Account Message component</title>
    <meta
      name="keywords"
      content="UI library Doppler - Account Message component"
    />
    <meta
      name="description"
      content="These messages appear above the header as account statements of our users."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Account Message component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Account Message component" />
    <meta property="og:url" content="Account Message component" />
    <meta property="og:description" content="Account Message component" />
    <meta property="og:site_name" content="Account Message component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="10" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Mensajes de estados de cuenta</h3>
            <p>
              Estos mensajes aparecen por arriba del header como mensajes de
              estados de cuentas de nuestros usuarios.
            </p>
            <hr class="dpsg-break" />
            <div class="messages-container blocker">
              <div class="wrapper">
                <p>
                  Para que puedas enviar tu próxima Campaña, antes necesitamos
                  verificar el origen de tus Suscriptores.
                </p>
                <a href="#" class="button button--light button--tiny"
                  >Verificar Ahora</a
                >
              </div>
            </div>
            <div class="messages-container warning">
              <div class="wrapper">
                <p>
                  Thanks! We’ll contact you ASAP and if everything is fine,
                  you’ll be able to send your Campaign.
                </p>
                <a href="#" class="button button--light button--tiny"
                  >Upgrade Now</a
                >
              </div>
            </div>
            <div class="messages-container info">
              <div class="wrapper">
                <p>
                  Posees una cuenta gratis de 500 Suscriptores. Potencia tus
                  Campañas con los beneficios de un Plan Pago.
                </p>
                <a href="#" class="button button--light button--tiny"
                  >Comprar Ahora</a
                >
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
