<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Accordion component</title>
    <meta name="keywords" content="UI library Doppler - Accordion component" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Accordion component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Accordion component" />
    <meta property="og:url" content="Accordion component" />
    <meta property="og:description" content="Accordion component" />
    <meta property="og:site_name" content="Accordion component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="26" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Accordion</h3>
            <hr class="dpsg-break" />
            <ul class="dp-accordion">
              <li>
                <a class="dp-accordion-thumb"
                  >¿Cómo se aplica un Código de Promoción para acceder a un
                  descuento?</a
                >
                <div class="dp-accordion-panel">
                  <div class="dp-accordion-content">
                    <ul>
                      <li>
                        <p><strong>Nombre comercial:</strong> Doppler</p>
                      </li>
                      <li>
                        <p><strong>Nombre fiscal:</strong> Doppler LLC</p>
                      </li>
                      <li>
                        <p>
                          <strong>Dirección:</strong> 17806 IH-10 W Suite 300
                          San Antonio, Texas, 78257, Estados Unidos
                        </p>
                      </li>
                      <li>
                        <p>
                          <strong>Contacto:</strong> +1 866 976 8914
                          <a href="mailto:info@makingsense.com" target="_blank"
                            >info@makingsense.com</a
                          >
                        </p>
                      </li>
                    </ul>
                    <p class="m-t-12 m-b-12">
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas cuyos datos
                      personales están siendo procesados por Doppler pueden
                      ponerse en contacto.
                    </p>
                    <p class="m-t-12 m-b-12">
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas cuyos datos
                      personales están siendo procesados por Doppler pueden
                      ponerse en contacto.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <a class="dp-accordion-thumb"
                  >¿Se puede adquirir un Plan Mensual para más de 100.000
                  Contactos?</a
                >
                <div class="dp-accordion-panel">
                  <div class="dp-accordion-content">
                    <p>
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <a class="dp-accordion-thumb"
                  >¿Los Créditos de Planes Prepagos tienen fecha límite para su
                  uso?</a
                >
                <div class="dp-accordion-panel">
                  <div class="dp-accordion-content">
                    <p>
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas cuyos datos
                      personales están siendo procesados por Doppler pueden
                      ponerse en contacto con el representante de Doppler citado
                      sobre todas las cuestiones relacionadas con el
                      procesamiento de datos de ciudadanos europeos para
                      garantizar el cumplimiento del RGPD.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <a class="dp-accordion-thumb"
                  >¿Cuáles son los métodos de pago disponibles para adquirir un
                  Plan Pago?</a
                >
                <div class="dp-accordion-panel">
                  <div class="dp-accordion-content">
                    <p>
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas cuyos datos
                      personales están siendo procesados por Doppler.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <a class="dp-accordion-thumb"
                  >¿Existe un contrato o mínimo de permanencia al comprar un
                  Plan Pago?</a
                >
                <div class="dp-accordion-panel">
                  <div class="dp-accordion-content">
                    <p>
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas cuyos datos
                      personales están siendo procesados por Doppler pueden
                      ponerse en contacto con el representante de Doppler citado
                      sobre todas las cuestiones relacionadas con el
                      procesamiento de datos de ciudadanos europeos para
                      garantizar el cumplimiento del RGPD.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <a class="dp-accordion-thumb"
                  >¿Cómo es la renovación del Plan al pagar por adelantado 3, 6
                  o 12 meses?</a
                >
                <div class="dp-accordion-panel">
                  <div class="dp-accordion-content">
                    <p>
                      De conformidad con el artículo 27 del RGPD, las
                      autoridades de supervisión y las personas.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <hr class="dpsg-break" />
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <ul>
                            <li>
                              <p><strong>Nombre comercial:</strong> Doppler</p>
                            </li>
                            <li>
                              <p><strong>Nombre fiscal:</strong> Doppler LLC</p>
                            </li>
                            <li>
                              <p>
                                <strong>Dirección:</strong> 17806 IH-10 W Suite
                                300 San Antonio, Texas, 78257, Estados Unidos
                              </p>
                            </li>
                            <li>
                              <p>
                                <strong>Contacto:</strong> +1 866 976 8914
                                <a
                                  href="mailto:info@makingsense.com"
                                  target="_blank"
                                  >info@makingsense.com</a
                                >
                              </p>
                            </li>
                          </ul>
                          <p class="m-t-12 m-b-12">
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                          <a href="#" class="m-b-12"
                            >Conformidad con el artículo 27 del RGPD</a
                          >
                          <span
                            >De conformidad con el artículo 27 del RGPD, las
                            autoridades</span
                          >
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto con el representante de
                            Doppler citado sobre todas las cuestiones
                            relacionadas con el procesamiento de datos de
                            ciudadanos europeos para garantizar el cumplimiento
                            del RGPD.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto con el representante de
                            Doppler citado sobre todas las cuestiones
                            relacionadas con el procesamiento de datos de
                            ciudadanos europeos para garantizar el cumplimiento
                            del RGPD.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto con el representante de
                            Doppler.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <hr class="dpsg-break" />
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-6">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                  <ul class="dp-accordion">
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a class="dp-accordion-thumb"
                        >¿Cómo se aplica un Código de Promoción para acceder a
                        un descuento?</a
                      >
                      <div class="dp-accordion-panel">
                        <div class="dp-accordion-content">
                          <p>
                            De conformidad con el artículo 27 del RGPD, las
                            autoridades de supervisión y las personas cuyos
                            datos personales están siendo procesados por Doppler
                            pueden ponerse en contacto.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
