<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Big Query</title>
    <meta name="keywords" content="UI library Doppler - Big Query" />
    <meta name="description" content="Big Query" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Big Query" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Big Query" />
    <meta property="og:url" content="Big Query" />
    <meta property="og:description" content="Big Query" />
    <meta property="og:site_name" content="Big Query" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="35" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>

    <header class="hero-banner">
      <div class="dp-container">
        <div class="dp-rowflex">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="dp-breadcrumb">
              <ul>
                <li>
                  <a href="#">Panel de Cotrol</a>
                </li>
                <li>Big Query</li>
              </ul>
            </nav>
            <h2>BigQuery</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              Integra <a href="#">Google Data Studio</a> para analizar reportes
              detallados sobre tus campañas, tus suscriptores y otros datos de
              tu cuenta en un tablero personalizable.
            </p>
          </div>
        </div>
        <span class="arrow"></span>
      </div>
    </header>
    <section class="dp-container m-t-60">
      <div class="dp-rowflex">
        <div class="col-lg-6 col-md-12 col-sm-12 m-b-24 p-b-42">
          <div class="dp-content-left">
            <span>Base de Datos</span>
            <p class="p-heading">
              <strong
                >Agregar permiso para cuentas de Google.
                <a href="#">Ver Help</a></strong
              >
            </p>
            <p class="m-t-24">
              Todas las direcciones de emails en está lista tendran acceso a la
              base de datos de tu cuenta en Google BigQuery. Enviaremos un email
              notificando a las cuentas que agregues.
            </p>

            <form class="dp-add-tags">
              <fieldset>
                <legend>Agregar permiso para cuentas de Google</legend>
                <ul class="field-group">
                  <li class="field-item error">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Agregar cuenta de Google"
                      class="dp--dashed"
                    />
                    <button type="button" class="dp-button dp-more-tag">
                      +
                    </button>
                    <div class="wrapper-errors dp-message dp-error-form">
                      <p>¡Ouch! Ingrese un email válido</p>
                    </div>
                  </li>
                </ul>
              </fieldset>
            </form>
            <ul class="dp-cloud-tags">
              <li>
                <span class="dp-tag dp-recently-add"
                  >allanwatts@gmail.com<button
                    type="button"
                    class="dp-button dp-remove-tag"
                  >
                    <i class="ms-icon icon-close"></i></button
                ></span>
              </li>
              <li>
                <span class="dp-tag"
                  >mdirago@gmail.com<button
                    type="button"
                    class="dp-button dp-remove-tag"
                  >
                    <i class="ms-icon icon-close"></i></button
                ></span>
              </li>
              <li>
                <span class="dp-tag"
                  >casco@gmail.com<button
                    type="button"
                    class="dp-button dp-remove-tag"
                  >
                    <i class="ms-icon icon-close"></i></button
                ></span>
              </li>
              <li>
                <span class="dp-tag"
                  >carlos-sampedro@gmail.com<button
                    type="button"
                    class="dp-button dp-remove-tag"
                  >
                    <i class="ms-icon icon-close"></i></button
                ></span>
              </li>
              <li>
                <span class="dp-tag"
                  >jose_luis_alvarez_arguelles@gmail.com<button
                    type="button"
                    class="dp-button dp-remove-tag"
                  >
                    <i class="ms-icon icon-close"></i></button
                ></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 m-b-24 p-b-42">
          <div class="dp-content-right">
            <span>Reportes</span>
            <p class="p-heading">
              <strong
                >Completa la configuración en Data Studio.
                <a href="#">Ver Help</a></strong
              >
            </p>
            <p class="m-t-24">
              Aprende a configurar nuestro tablero de Data Studio en unos pocos
              pasos.
            </p>
            <figure class="dp-screen">
              <img src="img/sample01.jpg" alt="" title="" />
            </figure>
          </div>
        </div>
        <div class="col-sm-12 m-b-24">
          <hr class="dp-h-divider" />
          <button
            type="button"
            class="dp-button button-medium primary-grey m-t-30 m-r-24"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="dp-button button-medium primary-green m-t-30"
          >
            Guardar
          </button>
        </div>
      </div>
    </section>
    <!-- container-kpi -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
