<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Doppler Plus Plans Form</title>
    <meta
      name="keywords"
      content="UI library Doppler - Doppler Plus Plans Form"
    />
    <meta name="description" content="Doppler Plus Plans Form" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Doppler Plus Plans Form" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Doppler Plus Plans Form" />
    <meta property="og:url" content="Doppler Plus Plans Form" />
    <meta property="og:description" content="Doppler Plus Plans Form" />
    <meta property="og:site_name" content="Doppler Plus Plans Form" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="33" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>

    <header class="hero-banner">
      <div class="dp-container">
        <div class="dp-rowflex">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Big data | Custom field | Emojis | Consejos Subject</h2>
          </div>
        </div>
        <span class="arrow"></span>
      </div>
    </header>
    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-8 col-md-12">
          <div class="dp-wrapper-form-plans">
            <form class="dp-forms-plans">
              <fieldset>
                <legend></legend>
                <ul class="field-group">
                  <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                  <li class="field-item">
                    <label for="email">Lorem ipsum:</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Lorem ipsum"
                    />
                    <div class="wrapper-errors dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item">
                    <ul class="field-group">
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <label for="name">Lorem ipsum:</label>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Lorem ipsum"
                        />
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p>¡Ouch! Este campo está vacío</p>
                        </div>
                      </li>
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <div class="dp-wrapper-bd">
                          <label for="lastname">*Asunto:</label>
                          <input
                            type="text"
                            name="lastname"
                            id="lastname"
                            placeholder=""
                          />

                          <div class="dp-button-group">
                            <div class="dp-bd-box">
                              <button
                                type="button"
                                class="dp-button button-medium dp-button-bd"
                                aria-controls="dp-options-cf"
                              >
                                <i class="ms-icon icon-brackets"></i>
                              </button>
                              <div class="dp-content-bd">
                                <ul class="dp-list-cfield" id="dp-options-cf">
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Cumpleaños</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Email</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="dp-bd-box">
                              <button
                                type="button"
                                class="dp-button button-medium dp-button-bd"
                                aria-controls="dp-menu-emojis"
                              >
                                <img src="img/emoji.png" />
                              </button>
                              <div class="dp-content-bd" id="dp-menu-emojis">
                                <img src="img/img-emojis.gif" />
                              </div>
                            </div>
                          </div>

                          <div class="wrapper-errors dp-message dp-error-form">
                            <p>¡Ouch! Este campo está vacío</p>
                          </div>

                          <button
                            type="button"
                            class="dp-show-tips"
                            data-text-show="Mostrar consejos "
                            data-text-hide="Ocultar consejos "
                          >
                            <span class="dp-show-text">Mostrar consejos </span
                            ><span class="ms-icon icon-close rotation"></span>
                          </button>
                        </div>
                      </li>
                      <li class="field-item field-item--100 dp-advice">
                        <div class="dp-suggestion-bd-wrapper">
                          <div class="dp-container">
                            <div class="dp-rowflex">
                              <div class="col-lg-6 col-md-6">
                                <div class="dp-more-effective">
                                  <h4>
                                    Más efectivos del mes
                                    <span>(por porcentaje de apertura)</span>
                                  </h4>
                                  <ul class="dp-tips-list">
                                    <li>
                                      <p>
                                        Hola [[[First_Name]]] Aquí va tu cupón
                                        de 50%! :)
                                        <span class="dp-opening">43,6%</span>
                                      </p>
                                    </li>
                                    <li>
                                      <p>
                                        Por qué no aprovechas el verano
                                        [[[first_name]]]?
                                        <span class="dp-opening">35%</span>
                                      </p>
                                    </li>
                                    <li>
                                      <p>
                                        Vuela con nosotros y disfruta!
                                        <span class="dp-opening">27,5%</span>
                                      </p>
                                    </li>
                                    <li>
                                      <span class="dp-tip"
                                        >Si envías mayor cantidad de Campañas
                                        podrás visualizar hasta 5 asuntos de los
                                        más efectivos.</span
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6">
                                <div class="bg-suggestion">
                                  <h4>
                                    Consejos
                                    <span>(basados en buenas prácticas)</span>
                                  </h4>
                                  <ul class="dp-tips-list">
                                    <li class="advice-enabled">
                                      <span
                                        ><strong
                                          >Asuntos atractivos, pero
                                          breves.</strong
                                        ></span
                                      >
                                      <p>
                                        Te recomendamos que utilices entre 10 y
                                        60 caracteres
                                      </p>
                                    </li>
                                    <li class="advice-warning">
                                      <span
                                        ><strong
                                          >¡Los emojis son geniales!</strong
                                        ></span
                                      >
                                      <p>
                                        Te recomendamos no utilizar más de de 1
                                        por asunto.
                                      </p>
                                    </li>
                                    <li class="advice-disabled">
                                      <span
                                        ><strong
                                          >Incluye campos
                                          personalizados.</strong
                                        ></span
                                      >
                                      <p>
                                        Por ejemplo: [[[first_name]]]. Ayúdate
                                        con nuestra acción [ ]
                                      </p>
                                    </li>
                                    <li class="advice-warning">
                                      <span
                                        ><strong
                                          >Limita tus signos de
                                          puntuación.</strong
                                        ></span
                                      >
                                      <p>
                                        Te recomendamos no utilizar más de 3 por
                                        asunto.
                                      </p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="dp-footer-panel">
                                  <span
                                    >¿Quieres saber más? Consulta nuestro
                                    <a href="#" target="_blank">HELP</a></span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12"></div>
      </div>
    </section>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-8 col-md-12">
          <div class="dp-wrapper-form-plans">
            <form class="dp-forms-plans">
              <fieldset>
                <legend></legend>
                <ul class="field-group">
                  <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                  <li class="field-item">
                    <label for="email">Lorem ipsum:</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Lorem ipsum"
                    />
                    <div class="wrapper-errors dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item">
                    <ul class="field-group">
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <label for="name">Lorem ipsum:</label>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Lorem ipsum"
                        />
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p>¡Ouch! Este campo está vacío</p>
                        </div>
                      </li>
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <div class="dp-wrapper-bd">
                          <label for="lastname">*Asunto:</label>
                          <input
                            type="text"
                            name="lastname"
                            id="lastname"
                            placeholder=""
                          />

                          <div class="dp-button-group">
                            <div class="dp-bd-box">
                              <button
                                type="button"
                                class="dp-button button-medium dp-button-bd"
                                aria-controls="dp-options-cf2"
                              >
                                <i class="ms-icon icon-brackets"></i>
                              </button>
                              <div class="dp-content-bd" id="dp-options-cf2">
                                <ul class="dp-list-cfield">
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Cumpleaños</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Email</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="dp-bd-box">
                              <button
                                type="button"
                                class="dp-button button-medium dp-button-bd"
                                aria-controls="dp-options-cf3"
                              >
                                <i class="ms-icon icon-brackets"></i>
                              </button>
                              <div class="dp-content-bd">
                                <ul class="dp-list-cfield" id="dp-options-cf3">
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Cumpleaños</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Email</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="dp-bd-box">
                              <button
                                type="button"
                                class="dp-button button-medium dp-button-bd"
                                aria-controls="dp-options-cf4"
                              >
                                <i class="ms-icon icon-brackets"></i>
                              </button>
                              <div class="dp-content-bd">
                                <ul class="dp-list-cfield" id="dp-options-cf4">
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Cumpleaños</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Email</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div class="wrapper-errors dp-message dp-error-form">
                            <p>¡Ouch! Este campo está vacío</p>
                          </div>
                          <button
                            type="button"
                            class="dp-show-tips"
                            data-text-show="Mostrar consejos "
                            data-text-hide="Ocultar consejos "
                          >
                            <span class="dp-show-text">Mostrar consejos </span
                            ><span class="ms-icon icon-close rotation"></span>
                          </button>
                        </div>
                      </li>

                      <li class="field-item field-item--100 dp-advice">
                        <div class="dp-suggestion-bd-wrapper">
                          <div class="dp-container">
                            <div class="dp-rowflex">
                              <div class="col-lg-12 col-md-12 m-b-12">
                                <div class="bg-suggestion">
                                  <h4>
                                    Consejos
                                    <span>(basados en buenas prácticas)</span>
                                  </h4>
                                  <ul class="dp-tips-list">
                                    <li class="advice-enabled">
                                      <span
                                        ><strong
                                          >Asuntos atractivos, pero
                                          breves.</strong
                                        ></span
                                      >
                                      <p>
                                        Te recomendamos que utilices entre 10 y
                                        60 caracteres
                                      </p>
                                    </li>
                                    <li class="advice-warning">
                                      <span
                                        ><strong
                                          >¡Los emojis son geniales!</strong
                                        ></span
                                      >
                                      <p>
                                        Te recomendamos no utilizar más de de 1
                                        por asunto.
                                      </p>
                                    </li>
                                    <li class="advice-disabled">
                                      <span
                                        ><strong
                                          >Incluye campos
                                          personalizados.</strong
                                        ></span
                                      >
                                      <p>
                                        Por ejemplo: [[[first_name]]]. Ayúdate
                                        con nuestra acción [ ]
                                      </p>
                                    </li>
                                    <li class="advice-warning">
                                      <span
                                        ><strong
                                          >Limita tus signos de
                                          puntuación.</strong
                                        ></span
                                      >
                                      <p>
                                        Te recomendamos no utilizar más de 3 por
                                        asunto.
                                      </p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="dp-footer-panel">
                                  <span
                                    >¿Quieres saber más? Consulta nuestro
                                    <a href="#" target="_blank">HELP</a></span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12"></div>
      </div>
    </section>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-8 col-md-12">
          <div class="dp-wrapper-form-plans">
            <form class="dp-forms-plans">
              <fieldset>
                <legend></legend>
                <ul class="field-group">
                  <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                  <li class="field-item">
                    <label for="email">Lorem ipsum:</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Lorem ipsum"
                    />
                    <div class="wrapper-errors dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item">
                    <ul class="field-group">
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <label for="name">Lorem ipsum:</label>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Lorem ipsum"
                        />
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p>¡Ouch! Este campo está vacío</p>
                        </div>
                      </li>
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <div class="dp-wrapper-bd">
                          <label for="lastname">*Asunto:</label>
                          <input
                            type="text"
                            name="lastname"
                            id="lastname"
                            placeholder=""
                          />

                          <div class="dp-button-group">
                            <div class="dp-bd-box">
                              <button
                                type="button"
                                class="dp-button button-medium dp-button-bd"
                                aria-controls="dp-options-cf5"
                              >
                                <i class="ms-icon icon-brackets"></i>
                              </button>
                              <div class="dp-content-bd">
                                <ul class="dp-list-cfield" id="dp-options-cf5">
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Cumpleaños</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Email</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Nombre</a>
                                  </li>
                                  <li role="none">
                                    <a role="menuitem">Apellido</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div class="wrapper-errors dp-message dp-error-form">
                            <p>¡Ouch! Este campo está vacío</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12"></div>
      </div>
    </section>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-12 col-md-6 col-sm-12 m-b-24">
          <!-- wrapper-reports-box -->
        </div>
      </div>
    </section>
    <!-- container-kpi -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
