<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Breadcrumb component</title>
    <meta name="keywords" content="UI library Doppler - Breadcrumb component" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Breadcrumb component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Breadcrumb component" />
    <meta property="og:url" content="Breadcrumb component" />
    <meta property="og:description" content="Breadcrumb component" />
    <meta property="og:site_name" content="Breadcrumb component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="6" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Breadcrumb</h3>
            <p>Los breadcrumbs sirven para:</p>
            <p>
              1 - Ubicar al usuario dentro de la estructura, sea física o
              conceptual, del sitio web, de forma que sepa dónde se encuentra y,
              junto con el menú, comprenda mejor dicha estructura para navegar
              por ella.
            </p>
            <p>
              2 - Facilitarle el acceso directo y rápido a niveles superiores de
              esta estructura a nuestros usuarios, a través de enlaces internos,
              donde pueda encontrar con mayor acierto lo que está buscando.
            </p>
            <p>
              Por otro parte, mejora la experiencia de usuario, reduce la tasa
              de rebote, favorece el SEO, aumenta el control de navegación (por
              parte del usuario), el costo de implementación es bajo.
            </p>
            <hr class="dpsg-break" />
            <nav class="dp-breadcrumb">
              <ul>
                <li>
                  <a href="#">Inicio</a>
                </li>
                <li>
                  <a href="#">Configuración</a>
                </li>
                <li>
                  <a href="#">Panel de control</a>
                </li>
                <li>Integraciones y preferencias avanzadas</li>
              </ul>
            </nav>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
