<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Buttons component</title>
    <meta name="keywords" content="UI library Doppler - Buttons component" />
    <meta
      name="description"
      content="All buttons used in Doppler, their three sizes and color variants and rounded edges"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Buttons component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Buttons component" />
    <meta property="og:url" content="Buttons component" />
    <meta property="og:description" content="Buttons component" />
    <meta property="og:site_name" content="Buttons component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="3" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Botones</h3>
            <p>
              3 tamaños de botones principales que son verdes, aunque el color
              varia de acuerdo a lo que se necesite, puede ser verde o gris:
            </p>
            <div class="dp-container-fluid m-b-48 m-t-48">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="dp-button button-big primary-green"
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <p><strong>Big button</strong></p>
                        <ul class="button-list">
                          <li><strong>class:</strong> .button-big</li>
                          <li><strong>font-size:</strong> 15px;</li>
                          <li><strong>font-weight:</strong> 300;</li>
                          <li><strong>text-align:</strong> center;</li>
                          <li><strong>border-radius:</strong> 30px;</li>
                          <li><strong>padding:</strong> 16px 35px;</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="dp-button button-medium primary-green"
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <p><strong>Medium button</strong></p>
                        <ul class="button-list">
                          <li><strong>class:</strong> .button-medium</li>
                          <li><strong>font-size:</strong> 13px;</li>
                          <li><strong>font-weight:</strong> 300;</li>
                          <li><strong>text-align:</strong> center;</li>
                          <li><strong>padding:</strong> 13px 25px;</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="dp-button button-small primary-green"
                      >
                        Iniciar
                      </button>
                      <div class="button-description">
                        <p><strong>Small button</strong></p>
                        <ul class="button-list">
                          <li><strong>class:</strong> .button-small</li>
                          <li><strong>font-size:</strong> 11px;</li>
                          <li><strong>font-weight:</strong> 300;</li>
                          <li><strong>text-align:</strong> center;</li>
                          <li><strong>padding:</strong> 10px 15px;</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- rowflex -->
            </div>
            <h3>Existen tres estados:</h3>
            <div class="dp-container-fluid m-b-48">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          primary-green
                          button--loading
                        "
                      >
                        Spinner
                      </button>
                      <div class="button-description">
                        <p><strong>Spinner</strong></p>
                        <ul class="button-list">
                          <li><strong>class:</strong> button-loading</li>
                          <li>
                            <strong>@include</strong> dp-preloader(#FFFFFF,
                            1.5em);
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="dp-button button-medium primary-green"
                        disabled=""
                      >
                        Button Disabled
                      </button>
                      <div class="button-description">
                        <p><strong>Disabled</strong></p>
                        <ul class="button-list">
                          <li><strong>pointer-events:</strong> none;</li>
                          <li><strong>opacity:</strong> 0.4;</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="dp-button button-medium primary-grey"
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <p><strong>Complementarios</strong></p>
                        <ul class="button-list">
                          <li>
                            Botones de acción primaria que necesitan despegarse
                            del verde de uso común
                          </li>
                          <li><strong>background-color:</strong> #666666;</li>
                          <li><strong>border:</strong> 1px solid #333333;</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- rowflex -->
            </div>
            <h3>
              También se pueden utlizar con bordes redondeados, agregando una
              clase:
            </h3>
            <div class="dp-container-fluid m-b-48">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          primary-green
                          button--loading button--round
                        "
                      >
                        Spinner
                      </button>
                      <div class="button-description">
                        <ul class="button-list">
                          <p><strong>Rounded</strong></p>
                          <li><strong>class:</strong> .button--round</li>
                          <li><strong>text-transform:</strong> uppercase;</li>
                          <li><strong>border-radius:</strong> 30px;</li>
                          <li><strong>font-weight:</strong> 600;</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          primary-green
                          button--round
                        "
                        disabled=""
                      >
                        Button Disabled
                      </button>
                      <div class="button-description">
                        <ul class="button-list">
                          <p><strong>Button rounded disabled</strong></p>
                          <li><strong>class:</strong> .dp-button</li>
                          <li><strong>class:</strong> .button-medium</li>
                          <li><strong>class:</strong> .primary-green</li>
                          <li><strong>class:</strong> .button--round</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          primary-green
                          button--round
                        "
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <ul class="button-list">
                          <p><strong>Button rounded green</strong></p>
                          <li><strong>class:</strong> .dp-button</li>
                          <li><strong>class:</strong> .button-medium</li>
                          <li><strong>class:</strong> .primary-green</li>
                          <li><strong>class:</strong> .button--round</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          secondary-green
                          button--round
                        "
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <ul class="button-list">
                          <p><strong>Button secondary green</strong></p>
                          <li><strong>class:</strong> .dp-button</li>
                          <li><strong>class:</strong> .button-medium</li>
                          <li><strong>class:</strong> .secondary-green</li>
                          <li><strong>class:</strong> .button--round</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          primary-brown
                          button--round
                        "
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <ul class="button-list">
                          <p><strong>Button primary brown</strong></p>
                          <li><strong>class:</strong> .dp-button</li>
                          <li><strong>class:</strong> .button-medium</li>
                          <li><strong>class:</strong> .primary-brown</li>
                          <li><strong>class:</strong> .button--round</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          secondary-brown
                          button--round
                        "
                      >
                        Iniciar campaña
                      </button>
                      <div class="button-description">
                        <ul class="button-list">
                          <p><strong>Button secondary brown</strong></p>
                          <li><strong>class:</strong> .dp-button</li>
                          <li><strong>class:</strong> .button-medium</li>
                          <li><strong>class:</strong> .secondary-brown</li>
                          <li><strong>class:</strong> .button--round</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button type="button" class="dp-button link-green">
                        Ancla
                      </button>
                      <div class="button-description">
                        <p><strong>Button Link</strong></p>
                        <ul class="button-list">
                          <li><strong>class:</strong> .link-green</li>
                          <li><strong>color:</strong> #33ad73;</li>
                          <li>:hover {<strong>color:</strong> #008046;}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <button
                        type="button"
                        class="
                          dp-button
                          button-medium
                          primary-green
                          button--centered-loading
                        "
                      ></button>
                      <div class="button-description">
                        <p><strong>Button Preload centrado</strong></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <div class="button-description">
                        <p class="m-b-18"><strong>Switch</strong></p>
                      </div>

                      <!-- switch -->

                      <div class="dp-text-switch m-b-12 m-t-24">
                        <div class="dp-switch">
                          <input type="checkbox" id="oneCheck" checked />
                          <label for="oneCheck">
                            <span></span>
                          </label>
                        </div>
                        <p>
                          Sólo envíos en franja horaria (tener en cuenta el
                          horario del país receptor del SMS)
                        </p>
                      </div>

                      <div class="dp-text-switch m-b-12">
                        <div class="dp-switch">
                          <input type="checkbox" id="twoCheck" checked />
                          <label for="twoCheck">
                            <span></span>
                          </label>
                        </div>
                        <p>Sólo envíos de Lunes a Viernes</p>
                      </div>

                      <div class="dp-text-switch m-b-12">
                        <div class="dp-switch">
                          <input type="checkbox" id="threeCheck" />
                          <label for="threeCheck">
                            <span></span>
                          </label>
                        </div>
                        <p>
                          Sólo envíos en franja horaria (tener en cuenta el
                          horario del país receptor del SMS)
                        </p>
                      </div>

                      <div class="dp-text-switch m-b-12">
                        <div class="dp-switch">
                          <input type="checkbox" id="fourCheck" checked />
                          <label for="fourCheck">
                            <span></span>
                          </label>
                        </div>
                        <p>Sólo envíos de Lunes a Viernes</p>
                      </div>

                      <div class="dp-text-switch m-b-12">
                        <div class="dp-switch">
                          <input type="checkbox" id="fiveCheck" />
                          <label for="fiveCheck">
                            <span></span>
                          </label>
                        </div>
                        <p>Sólo envíos de Lunes a Viernes</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <div class="button-description">
                        <p class="m-b-18"><strong>Slide</strong></p>
                      </div>

                      <div class="dp-calc-slider progress-bar">
                        <input
                          class="range-slider"
                          type="range"
                          min="0"
                          value="0"
                          max="5"
                          step="1"
                          data-value="0"
                        />
                        <div class="progress-anchor" style="width: 30%"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <div class="buttons-card">
                      <div class="button-description">
                        <p class="m-b-18"><strong>Slide Double</strong></p>
                      </div>

                      <!-- Range Slider HTML -->
                      <div slider id="slider-distance" class="m-b-24">
                        <div>
                          <div inverse-left></div>
                          <div inverse-right></div>
                          <div range></div>
                          <span thumb></span>
                          <span thumb></span>
                          <div sign sign-one>
                            <span>7:00</span>
                          </div>
                          <div sign sign-two>
                            <span>15:00</span>
                          </div>
                        </div>
                        <input
                          id="thumbAnotherHour-1"
                          type="range"
                          tabindex="0"
                          value="7"
                          max="24"
                          min="0"
                          step="1"
                          class="thumb-1"
                          data-label=":00"
                        />
                        <input
                          id="thumbAnotherHour-2"
                          type="range"
                          tabindex="0"
                          value="15"
                          max="24"
                          min="0"
                          step="1"
                          class="thumb-2"
                          data-label=":00"
                        />
                      </div>
                      <!-- End Range Slider HTML -->
                      <!-- Range Slider HTML -->
                      <div slider id="slider-distance" class="m-b-24">
                        <div>
                          <div inverse-left></div>
                          <div inverse-right></div>
                          <div range></div>
                          <span thumb></span>
                          <span thumb></span>
                          <div sign sign-one>
                            <span>7:00</span>
                          </div>
                          <div sign sign-two>
                            <span>15:00</span>
                          </div>
                        </div>
                        <input
                          id="thumbHour-1"
                          type="range"
                          tabindex="0"
                          value="7"
                          max="24"
                          min="0"
                          step="1"
                          class="thumb-1"
                          data-label=":00"
                        />
                        <input
                          id="thumbHour-2"
                          type="range"
                          tabindex="0"
                          value="15"
                          max="24"
                          min="0"
                          step="1"
                          class="thumb-2"
                          data-label=":00"
                        />
                      </div>
                      <!-- End Range Slider HTML -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
    <script>
      dopplerUI.createDoubleSlide(
        document.getElementById('thumbHour-1'),
        document.getElementById('thumbHour-2'),
      );
      dopplerUI.createDoubleSlide(
        document.getElementById('thumbAnotherHour-1'),
        document.getElementById('thumbAnotherHour-2'),
      );
    </script>
  </body>
</html>
