<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Cards Component</title>
    <meta name="keywords" content="UI library Doppler - Layout Reports" />
    <meta name="description" content="First layout of Reports" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Layout Reports" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Layout Reports" />
    <meta property="og:url" content="Layout Reports" />
    <meta property="og:description" content="Layout Reports" />
    <meta property="og:site_name" content="Layout Reports" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="28" class="dp-library">
    <div class="dp-app-container">
      <header class="m-t-30 m-b-30 m-l-30" style="display: flex">
        <a
          href="index.html"
          class="dp-button button-medium secondary-green button--round"
        >
          Back
        </a>
      </header>
      <div class="dp-gray-page p-t-54 p-b-54">
        <div class="dp-align-center">
          <div>
            <h3 class="dpsg-tit-card m-l-30">Card Ribbon left-top</h3>
            <div class="dp-card dp-highlighthed">
              <div class="dp-ribbon dp-ribbon-top-left">
                <span>Nuevo plan</span>
              </div>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">Card Ribbon left-bottom</h3>
            <div class="dp-card dp-highlighthed">
              <div class="dp-ribbon dp-ribbon-bottom-left">
                <span>Baratija</span>
              </div>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">Card Ribbon right-top</h3>

            <div class="dp-card dp-highlighthed">
              <div class="dp-ribbon dp-ribbon-top-right">
                <span>Recomendado</span>
              </div>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">Card Ribbon right-bottom</h3>

            <div class="dp-card dp-highlighthed">
              <div class="dp-ribbon dp-ribbon-bottom-right">
                <span>Nuevito</span>
              </div>
            </div>
          </div>
        </div>
        <div class="dp-align-center p-t-30 p-b-30">
          <div>
            <h3 class="dpsg-tit-card m-l-30">Plan disponible para contratar</h3>
            <div class="dp-card">
              <div class="dp-content-plans">
                <h3>Plan name</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-price">
                <span class="dp-time-lapse-top">Desde</span>
                <div class="dp-amount">
                  <span class="dp-plan-currency">U$D</span>
                  <span class="dp-money-number">15</span>
                </div>
                <span class="dp-time-lapse-bottom">por mes</span>
              </div>
              <button
                type="button"
                class="dp-button button-medium primary-green"
              >
                Calcular Precio
              </button>
              <a href="#" class="dp-calculate-price">Calcular precio »</a>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">
              PLAN CONTRATADO CON POSIBILIDAD DE UPGRADE DENTRO DEL PLAN
            </h3>
            <div class="dp-card">
              <div class="dp-content-plans">
                <h3>Plan name</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-price">
                <div class="dp-amount">
                  <span class="dp-plan-currency">U$D</span>
                  <span class="dp-money-number">460</span>
                </div>
                <span class="dp-time-lapse-bottom">por mes</span>
              </div>
              <button
                type="button"
                class="dp-button button-medium secondary-green"
              >
                Aumentar Contactos
              </button>
              <span class="dp-what-plan">Plan actual</span>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">PLAN CONTRATADO AL MÁXIMO</h3>
            <div class="dp-card">
              <div class="dp-content-plans">
                <h3>Plan name</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-price">
                <span class="dp-time-lapse-top">Desde</span>
                <div class="dp-amount">
                  <span class="dp-plan-currency">U$D</span>
                  <span class="dp-money-number">25</span>
                </div>
                <span class="dp-time-lapse-bottom">por mes</span>
              </div>
              <span class="dp-maximum">Máximo alcanzado</span>
              <span class="dp-what-plan">Plan actual</span>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">PLAN DESTACADO</h3>
            <div class="dp-card dp-highlighthed">
              <div class="dp-ribbon dp-ribbon-top-right">
                <span>Recomendado</span>
              </div>
              <div class="dp-content-plans">
                <h3>Plus</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-price">
                <span class="dp-time-lapse-top">Desde</span>
                <div class="dp-amount">
                  <span class="dp-plan-currency">U$D</span>
                  <span class="dp-money-number">5250</span>
                </div>
                <span class="dp-time-lapse-bottom">por mes</span>
              </div>
              <button
                type="button"
                class="dp-button button-medium primary-green"
              >
                Calcular Precio
              </button>
            </div>
          </div>
        </div>
        <div class="dp-align-center p-t-30 p-b-30">
          <div>
            <h3 class="dpsg-tit-card m-l-30">
              PLAN DISPONIBLE PARA CONTRATAR (variante con asset)
            </h3>
            <div class="dp-card">
              <div class="dp-content-plans">
                <h3>Plan name</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-card-asset">
                <img src="img/asset-enterprise.svg" alt="Enterprise" />
              </div>
              <button
                type="button"
                class="dp-button button-medium primary-green"
              >
                Calcular Precio
              </button>
              <a href="#" class="dp-calculate-price">Calcular precio »</a>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">CARD:DISABLED</h3>
            <div class="dp-card">
              <div class="dp-content-plans">
                <h3>Plan name</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-price">
                <span class="dp-time-lapse-top">Desde</span>
                <div class="dp-amount">
                  <span class="dp-plan-currency">U$D</span>
                  <span class="dp-money-number">460</span>
                </div>
                <span class="dp-time-lapse-bottom">por mes</span>
              </div>
              <button
                type="button"
                class="dp-button button-medium primary-green"
                disabled
              >
                Calcular Precio
              </button>
              <span class="dp-what-plan">Plan actual</span>
            </div>
          </div>
          <div>
            <h3 class="dpsg-tit-card m-l-30">CARD EXPANDED</h3>
            <div class="dp-card dp-highlighthed">
              <div class="dp-ribbon dp-ribbon-top-right">
                <span>Recomendado</span>
              </div>
              <div class="dp-content-plans">
                <h3>Plus</h3>
                <p>¿Realizas envíos periodicamente o un newsletter al mes?</p>
                <p>Hasta 100.000 Contactos.</p>
              </div>
              <div class="dp-price">
                <span class="dp-time-lapse-top">Desde</span>
                <div class="dp-amount">
                  <span class="dp-plan-currency">U$D</span>
                  <span class="dp-money-number">5250</span>
                </div>
                <span class="dp-time-lapse-bottom">por mes</span>
              </div>
              <button
                type="button"
                class="dp-button button-medium primary-green"
              >
                Calcular Precio
              </button>
              <div class="dp-plan-detail">
                <h4>Todo lo de STANDARD más:</h4>
                <ul class="dp-list-detail">
                  <li>
                    <span class="dp-icostar"
                      ><img src="img/ico-star.svg"
                    /></span>
                    <span><strong>Atención preferencial.</strong></span>
                  </li>
                  <li>
                    <div class="dp-tooltip-container">
                      <span class="dp-icobd">BD</span>
                      <div class="dp-tooltip-block">
                        <span class="tooltiptext"
                          >Funcionalidad <a href="#">BIG DATA</a></span
                        >
                      </div>
                    </div>
                    <span
                      ><strong>Prioridad de atención en soporte.</strong></span
                    >
                  </li>
                  <li>
                    <div class="dp-tooltip-container">
                      <span class="dp-icobd">BD</span>
                      <div class="dp-tooltip-block">
                        <span class="tooltiptext"
                          >Funcionalidad
                          <a href="#" rel="noopener" target="_blank"
                            >BIG DATA</a
                          ></span
                        >
                      </div>
                    </div>
                    <span><strong>Recomendación de Asuntos.</strong></span>
                  </li>
                  <li>
                    <div class="dp-tooltip-container">
                      <span class="dp-icobd">BD</span>
                      <div class="dp-tooltip-block">
                        <span class="tooltiptext"
                          >Funcionalidad
                          <a href="#" rel="noopener" target="_blank"
                            >BIG DATA</a
                          ></span
                        >
                      </div>
                    </div>
                    <span><strong>Recomendaciones en Plantillas.</strong></span>
                  </li>
                  <li>
                    <div class="dp-tooltip-container">
                      <span class="dp-icobd">BD</span>
                      <div class="dp-tooltip-block">
                        <span class="tooltiptext"
                          >Funcionalidad
                          <a href="#" rel="noopener" target="_blank"
                            >BIG DATA</a
                          ></span
                        >
                      </div>
                    </div>
                    <span><strong>Uso de Data contextual.</strong></span>
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span>Detenimiento de Campañas en proceso de envío.</span>
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span>Landing Pages con dominios personalizados.</span>
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span>Política de Contacto.</span>
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span
                      >Reporte de comportamiento en diferentes dominios.</span
                    >
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span
                      >3 Reportes personalizados bonificados.
                      <a href="#" rel="noopener" target="_blank"
                        >Conoce más.</a
                      ></span
                    >
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span
                      >Información de reportes por 700 días.
                      <span class="dp-new">Nueva</span></span
                    >
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span
                      >Formularios con dominios personalizados.
                      <span class="dp-new">Nueva</span></span
                    >
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span>Envíos inteligentes.</span>
                  </li>
                  <li>
                    <span class="dp-icodot">.</span
                    ><span>Vinculación entre dominios.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- build:js:dist js/app.js -->
      <script src="./js/main.js"></script>
      <!-- /build -->
    </div>
  </body>
</html>
