<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Carousel component</title>
    <meta name="keywords" content="UI library Doppler - Carousel component" />
    <meta name="description" content="Carousel component" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Carousel component" />
    <meta property="og:type" content="Carousel component" />
    <meta property="og:image" content="Carousel component" />
    <meta property="og:url" content="Carousel component" />
    <meta property="og:description" content="Carousel component" />
    <meta property="og:site_name" content="Carousel component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="40" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Carousel Component</h3>
            <p>Nuevo componente de Carousel</p>
            <hr class="dpsg-break" />
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-6 m-b-12">
                  <div class="dp-carousel">
                    <div class="dp-carousel-container">
                      <div class="dp-carousel-slide">
                        <span>Último BlogPost</span>
                        <h3>
                          ¿Cuáles son las diferencias entre servicio al cliente
                          y atención al cliente?
                        </h3>
                        <a>Ver más</a>
                      </div>
                      <div class="dp-carousel-slide">
                        <span>Servicios Adicionales</span>
                        <h3>
                          Asesorías, acompañamiento exclusivo, IPs dedicadas o
                          funcionalidades extra.
                        </h3>
                        <a>Ver más</a>
                      </div>
                    </div>
                    <div class="dp-carousel-dots">
                      <div class="dp-carousel-dot"></div>
                      <div class="dp-carousel-dot"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p class="dp-boxshadow">Carousel 2</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
