<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Carousel component</title>
    <meta name="keywords" content="UI library Doppler - Carousel component" />
    <meta name="description" content="Carousel component" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Carousel component" />
    <meta property="og:type" content="Carousel component" />
    <meta property="og:image" content="Carousel component" />
    <meta property="og:url" content="Carousel component" />
    <meta property="og:description" content="Carousel component" />
    <meta property="og:site_name" content="Carousel component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="40" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Carousel Component</h3>
            <p>Acá se muestran carouseles con sus variantes de colores.</p>
            <hr class="dpsg-break" />
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-6">
                  <div class="dp-carousel" id="carousel1">
                    <div class="dp-carousel-wrapper dp-carousel-orange">
                      <div class="dp-carousel-content">
                        <div
                          class="dp-carousel-slide active"
                          data-order="first"
                        >
                          <h3>Último BlogPost</h3>
                          <p>
                            ¿Cuáles son las diferencias entre servicio al
                            cliente y atención al cliente?
                          </p>
                          <a
                            ><span class="ms-icon icon-arrow-next"></span>Ver
                            más</a
                          >
                        </div>
                        <div class="dp-carousel-slide" data-order="second">
                          <h3>Servicios Adicionales</h3>
                          <p>
                            Asesorías, acompañamiento exclusivo, IPs dedicadas o
                            funcionalidades extra.
                          </p>
                          <a
                            ><span class="ms-icon icon-arrow-next"></span>Ver
                            más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="dp-carousel-dots">
                      <input
                        class="dp-carousel-dot"
                        checked
                        type="radio"
                        value="first"
                        id="first"
                        name="carousel1"
                      />
                      <input
                        class="dp-carousel-dot"
                        type="radio"
                        value="second"
                        id="second"
                        name="carousel1"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6">
                  <div class="dp-carousel" id="carousel2">
                    <div class="dp-carousel-wrapper dp-carousel-purple">
                      <div class="dp-carousel-content">
                        <div
                          class="dp-carousel-slide active"
                          data-order="first"
                        >
                          <h3>Último BlogPost</h3>
                          <p>
                            ¿Cuáles son las diferencias entre servicio al
                            cliente y atención al cliente?
                          </p>
                          <a
                            ><span class="ms-icon icon-arrow-next"></span>Ver
                            más</a
                          >
                        </div>
                        <div class="dp-carousel-slide" data-order="second">
                          <h3>Servicios Adicionales</h3>
                          <p>
                            Asesorías, acompañamiento exclusivo, IPs dedicadas o
                            funcionalidades extra.
                          </p>
                          <a
                            ><span class="ms-icon icon-arrow-next"></span>Ver
                            más</a
                          >
                        </div>
                        <div class="dp-carousel-slide" data-order="third">
                          <h3>Último BlogPost</h3>
                          <p>
                            ¿Cuáles son las diferencias entre servicio al
                            cliente y atención al cliente?
                          </p>
                          <a
                            ><span class="ms-icon icon-arrow-next"></span>Ver
                            más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="dp-carousel-dots">
                      <input
                        class="dp-carousel-dot"
                        checked
                        type="radio"
                        value="first"
                        id="first"
                        name="carousel2"
                      />
                      <input
                        class="dp-carousel-dot"
                        type="radio"
                        value="second"
                        id="second"
                        name="carousel2"
                      />
                      <input
                        class="dp-carousel-dot"
                        type="radio"
                        value="third"
                        id="third"
                        name="carousel2"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
