<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Checkout Success</title>
    <meta name="keywords" content="UI library Doppler - Checkout Success" />
    <meta name="description" content="Checkout Success" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Checkout Success" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Checkout Success" />
    <meta property="og:url" content="Checkout Success" />
    <meta property="og:description" content="Checkout Success" />
    <meta property="og:site_name" content="Checkout Success" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="41" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>
    <header class="hero-banner">
      <div class="dp-container">
        <div class="dp-rowflex">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="dp-breadcrumb">
              <ul>
                <li><span class="dp-uppercase">Contratación exitosa</span></li>
              </ul>
            </nav>
            <h1>¡Excelente! Has migrado al Plan Standard</h1>
          </div>
        </div>
        <span class="arrow"></span>
      </div>
    </header>
    <article class="dp-container m-b-24">
      <nav class="dp-kpi-success">
        <ul class="dp-rowflex">
          <li><img src="img/on-hold.svg" /></li>
          <li>
            <span>Contactos:</span>
            <h3>1500</h3>
          </li>
          <li>
            <span>Envíos Disponibles:</span>
            <h3>Ilimitados</h3>
          </li>
          <li>
            <span>Tipo de renovación:</span>
            <h3>mensual</h3>
          </li>
        </ul>
      </nav>
    </article>
    <article class="dp-container m-b-24">
      <nav class="dp-kpi-success">
        <ul class="dp-rowflex">
          <li><img src="img/checkout-success.svg" /></li>
          <li>
            <span>Contactos:</span>
            <h3>1500</h3>
          </li>
          <li>
            <span>Envíos Disponibles:</span>
            <h3>Ilimitados</h3>
          </li>
          <li>
            <span>Tipo de renovación:</span>
            <h3>mensual</h3>
          </li>
        </ul>
      </nav>
    </article>
    <section class="dp-container dp-wrap-checkout">
      <h4>Nuevas funcionalidades en tu cuenta:</h4>
      <div class="dp-rowflex">
        <div class="col-sm-4 m-b-12">
          <div class="dp-checkout-content">
            <div class="dp-plan-detail">
              <ul class="dp-list-detail">
                <li>
                  <span class="dp-icostar"></span>
                  <span><strong>Seguimiento en sitio.</strong></span>
                </li>
                <li>
                  <span class="dp-icostar"></span>
                  <span
                    ><strong
                      >Email Automation por Comportamiento en Sitio.</strong
                    ></span
                  >
                </li>
                <li>
                  <span class="dp-icostar"></span>
                  <span><strong>Acceso a conexión API.</strong></span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Reportes Avanzados</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Integraciones con otras herramientas</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Campañas Test A/B</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 m-b-12">
          <div class="dp-checkout-content">
            <div class="dp-plan-detail">
              <ul class="dp-list-detail">
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Eliminar la firma de Doppler de los Emails</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Información de reportes por 540 días</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Parámetros en links</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Landing pages <span class="dp-new">Nueva</span></span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Envíos de SMS <span class="dp-new">Nueva</span></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 m-b-12">
          <div class="dp-checkout-content">
            <p></p>
          </div>
        </div>
        <hr class="dp-separator" />
      </div>
      <h4>Funcionalidades activas de tu plan anterior:</h4>
      <div class="dp-rowflex">
        <div class="col-sm-4 m-t-24">
          <div class="dp-checkout-content">
            <div class="dp-plan-detail">
              <ul class="dp-list-detail">
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Email Automations Básicos.</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Calificación de Suscriptores.</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Atencioón al cliente.</span>
                </li>
                <li>
                  <span class="dp-icodot">.</span>
                  <span>Soporte técnico.</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 m-t-42">
          <div class="dp-checkout-content">
            <button type="button" class="dp-button button-medium primary-green">
              Disfruta de tu nuevo plan
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
