<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Colors component</title>
    <meta name="keywords" content="UI library Doppler - Colors component" />
    <meta
      name="description"
      content="All our institutional colors in one place, classes and HEX"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Colors component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Colors component" />
    <meta property="og:url" content="Colors component" />
    <meta property="og:description" content="Colors component" />
    <meta property="og:site_name" content="Colors component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="2" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-wrap-colors">
            <h3>El color como lenguage</h3>
            <p>
              Es muy importante la
              <strong>homogeneidad de nuestros mensajes</strong> para
              <strong>no confundir a nuestros Usuarios.</strong>
            </p>
            <p>
              Hay que entender que nosotros comunicamos, orientamos y guiamos
              <strong
                >no sólo a traves de los contenidos sino también de los
                colores.</strong
              ><br />
              Si todos utilizamos las mismas formas de comunicarnos evitaremos
              enviar mensajes confusos.
            </p>
            <p></p>
            <div class="dpsg-content-colors">
              <div class="dpsg-color-card dpsg-white">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>white</h3>
                  <p class="dpsg-code">Color: #ffffff;</p>
                  <p class="dpsg-code">.dp-white</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-ghost">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>ghostwhite</h3>
                  <p class="dpsg-code">Color: #f2f2f2;</p>
                  <p class="dpsg-code">.dp-ghostwhite</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-snow">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>snow</h3>
                  <p class="dpsg-code">Color: #eaeaea;</p>
                  <p class="dpsg-code">.dp-snow</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-silver">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>silver</h3>
                  <p class="dpsg-code">Color: #cccccc;</p>
                  <p class="dpsg-code">.dp-silver</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-lightgrey">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>lightgrey</h3>
                  <p class="dpsg-code">Color: #999999;</p>
                  <p class="dpsg-code">.dp-lightgrey</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-grey">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>grey</h3>
                  <p class="dpsg-code">Color: #666666;</p>
                  <p class="dpsg-code">.dp-grey</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-darkgrey">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>darkgrey</h3>
                  <p class="dpsg-code">Color: #333333;</p>
                  <p class="dpsg-code">.dp-darkgrey</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-black">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>black</h3>
                  <p class="dpsg-code">Color: #000000;</p>
                  <p class="dpsg-code">.dp-black</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-lightgreen">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>lightgreen</h3>
                  <p class="dpsg-code">Color: #65c192;</p>
                  <p class="dpsg-code">.dp-lightgreen</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-green">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>green</h3>
                  <p class="dpsg-code">Color: #33ad73;</p>
                  <p class="dpsg-code">.dp-green</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-darkgreen">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>darkgreen</h3>
                  <p class="dpsg-code">Color: #008046;</p>
                  <p class="dpsg-code">.dp-darkgreen</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-green-brightness">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>greenbrightness</h3>
                  <p class="dpsg-code">Color: rgba(51, 173, 115, 0.2);</p>
                  <p class="dpsg-code">.dp-green-brightness</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-lightyellow">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>lightyellow</h3>
                  <p class="dpsg-code">Color: #fde577;</p>
                  <p class="dpsg-code">.dp-lightyellow</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-lemonyellow">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>lemonyellow</h3>
                  <p class="dpsg-code">Color: #c6b159;</p>
                  <p class="dpsg-code">.dp-lemonyellow</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-yellow">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>yellow</h3>
                  <p class="dpsg-code">Color: #fbb224;</p>
                  <p class="dpsg-code">.dp-yellow</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-darkyellow">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>darkyellow</h3>
                  <p class="dpsg-code">Color: #e58900;</p>
                  <p class="dpsg-code">.dp-darkyellow</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-yellow-brightness">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>yellowbrightness</h3>
                  <p class="dpsg-code">Color: rgba(252, 229, 121, 0.2);</p>
                  <p class="dpsg-code">.dp-yellow-brightness</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-lightred">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>lightred</h3>
                  <p class="dpsg-code">Color: #ec8a83;</p>
                  <p class="dpsg-code">.dp-lightred</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-red">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>red</h3>
                  <p class="dpsg-code">Color: #e34f45;</p>
                  <p class="dpsg-code">.dp-red</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-darkred">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>darkred</h3>
                  <p class="dpsg-code">Color: #a63a33;</p>
                  <p class="dpsg-code">.dp-darkred</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-lightbrown">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>lightbrown</h3>
                  <p class="dpsg-code">Color: #838370;</p>
                  <p class="dpsg-code">.dp-lightbrown</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-brown">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>brown</h3>
                  <p class="dpsg-code">Color: #302100;</p>
                  <p class="dpsg-code">.dp-brown</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-brown--hover">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>brown--hover</h3>
                  <p class="dpsg-code">Color: #594103;</p>
                  <p class="dpsg-code">.dp-brown--hover</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-brown-brightness">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>brown brightness</h3>
                  <p class="dpsg-code">Color: rgba(48, 33, 0, 0.2);</p>
                  <p class="dpsg-code">.dp-brown-brightness</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-orange-focus">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>Orange :focus</h3>
                  <p class="dpsg-code">Color: #e79433;</p>
                  <p class="dpsg-code">.$dp-color-orange-focus</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-green-border-flashcards">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>Green border flashcards</h3>
                  <p class="dpsg-code">Color: #99D6B9;</p>
                  <p class="dpsg-code">.dp-green-border-flashcards</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-yellow-border-flashcards">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>Yellow border flashcards</h3>
                  <p class="dpsg-code">Color: #FFDC95;</p>
                  <p class="dpsg-code">.dp-yellow-border-flashcards</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-red-border-flashcards">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>Red border flashcards</h3>
                  <p class="dpsg-code">Color: #F8B3B2;</p>
                  <p class="dpsg-code">.dp-red-border-flashcards</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-red-highlighted-word">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>Red highlighted word</h3>
                  <p class="dpsg-code">Color: #FFD7D7;</p>
                  <p class="dpsg-code">.dp-red-highlighted-word</p>
                </div>
              </div>
              <div class="dpsg-color-card dpsg-green-highlighted-word">
                <div class="dpsg-icon-color">Color</div>
                <div class="dpsg-content-color">
                  <h3>Green highlighted word</h3>
                  <p class="dpsg-code">Color: #E0F3EA;</p>
                  <p class="dpsg-code">.dp-green-highlighted-word</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
