<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Component Elements checked</title>
    <meta
      name="keywords"
      content="UI library Doppler - Component Elements checked"
    />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Component Elements checked" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Component Elements checked" />
    <meta property="og:url" content="Component Elements checked" />
    <meta property="og:description" content="Component Elements checked" />
    <meta property="og:site_name" content="Component Elements checked" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="42" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Elements checked</h3>

            <hr class="dpsg-break" />

            <div class="dp-container m-t-24 m-b-24">
              <div class="dp-rowflex">
                <div class="col-sm-8 col-md-3 m-b-12">
                  <div class="dp-input--radio">
                    <label>
                      <input type="radio" name="radio" />
                      <span>Radio button</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-8 col-md-3 m-b-12">
                  <div class="dp-input--radio" checked>
                    <label>
                      <input type="radio" name="radio" checked />
                      <span>Radio button checked</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-8 col-md-3 m-b-12">
                  <div class="dp-input--radio">
                    <label>
                      <input type="radio" name="radio" disabled />
                      <span>Radio button disabled</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-8 col-md-3 m-b-12">
                  <div class="dp-input--radio">
                    <label>
                      <input type="radio" name="radio" disabled checked />
                      <span>Radio button disabled checked</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="dp-container m-t-24 m-b-24">
              <div class="dp-rowflex">
                <div class="col-sm-8 col-md-3 m-b-12">
                  <input name="" type="checkbox" id="" value="true" /><span
                    class="checkmark"
                  ></span>
                  <label for="" class="p-l-12"> Contenido alternativo</label>
                  <div class="dp-message dp-error-form">
                    <p>¡Ouch! Este campo está vacío</p>
                  </div>
                </div>
                <div class="col-sm-8 col-md-3 m-b-12">
                  <input
                    name=""
                    type="checkbox"
                    id=""
                    value="true"
                    checked
                  /><span class="checkmark"></span>
                  <label for="" class="p-l-12"> Contenido alternativo</label>
                  <div class="dp-message dp-error-form">
                    <p>¡Ouch! Este campo está vacío</p>
                  </div>
                </div>
                <div class="col-sm-8 col-md-3 m-b-12">
                  <input
                    name=""
                    type="checkbox"
                    id=""
                    value="true"
                    disabled
                  /><span class="checkmark"></span>
                  <label for="" class="p-l-12"> Contenido alternativo</label>
                  <div class="dp-message dp-error-form">
                    <p>¡Ouch! Este campo está vacío</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
