<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Confirmation page</title>
    <meta name="keywords" content="UI library Doppler - Confirmation page" />
    <meta name="description" content="First layout of Confirmation page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Confirmation page" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Confirmation page" />
    <meta property="og:url" content="Confirmation page" />
    <meta property="og:description" content="Confirmation page" />
    <meta property="og:site_name" content="Confirmation page" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="13" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>
    <div class="confirmation-wrapper">
      <div class="background bg-c"></div>
      <header class="confirmation-header">
        <h1 class="logo-doppler-new"><a href="#">Doppler</a></h1>
      </header>
      <main class="confirmation-main">
        <article class="confirmation-article">
          <h1>Gracias por registrarte</h1>
          <p>Revisa tu casilla. ¡Tienes un Email!</p>
          <span class="icon-registration m-bottom--lv6"
            >Fíjate en tu correo electrónico</span
          >
          <p class="text-italic">
            * Al hacer clic en el botón que aparece en el Email, activarás tu
            cuenta y estarás listo para disfrutar todos los beneficios de
            Doppler.
          </p>
        </article>
        <p>
          ¿No has recibido el Email?
          <button type="button">Reenvíalo.</button>
        </p>
      </main>
      <footer class="confirmation-footer">
        <small>© 2019 Doppler LLC. Todos los derechos reservados.</small>
      </footer>
      <div class="background bg-b"></div>
    </div>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
