<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Contact Policy</title>
    <meta name="keywords" content="UI library Doppler - Layout Reports" />
    <meta name="description" content="First layout of Reports" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Layout Reports" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Layout Reports" />
    <meta property="og:url" content="Layout Reports" />
    <meta property="og:description" content="Layout Reports" />
    <meta property="og:site_name" content="Layout Reports" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="34" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>

    <header class="hero-banner">
      <div class="dp-container">
        <div class="dp-rowflex">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="dp-breadcrumb">
              <ul>
                <li>
                  <a href="#">Panel de Cotrol</a>
                </li>
                <li>Política de Contacto</li>
              </ul>
            </nav>
            <h2>Política de Contacto</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              Here you'll find all your Subscription Forms including the ones
              that are in draft, published or with unpublished changes. You
              currently have 39 Forms. You can create up to
              <a href="#">HELP.</a>
            </p>
          </div>
        </div>
        <span class="arrow"></span>
      </div>
    </header>
    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-6 col-md-12 col-sm-12 m-b-24">
          <form class="dp-contact-policy-form">
            <fieldset>
              <legend>Política de contacto</legend>
              <ul class="field-group">
                <li class="field-item">
                  <div class="dp-switch">
                    <input
                      type="checkbox"
                      id="oneCheck"
                      checked=""
                      type="switch"
                    />
                    <label for="oneCheck">
                      <span></span>
                    </label>
                  </div>
                  <label for="switch"
                    >Limitar la cantidad maxima de envios a un mismo
                    Suscriptor</label
                  >
                </li>
                <li class="field-item">
                  <div class="dp-item-block">
                    <div>
                      <span>No enviar mas de 20</span>
                      <input
                        type="number"
                        name="number"
                        id="correos electrónicos"
                        placeholder=""
                      />
                      <span class="m-r-6">emails</span>
                    </div>

                    <div>
                      <span> en un período de</span>
                      <input
                        type="number"
                        name="number"
                        id="dias"
                        placeholder=""
                      />
                      <span>días</span>
                    </div>
                  </div>
                </li>
                <!-- mensaje de confirmacion -->
                <li class="field-item">
                  <div class="dp-wrap-message dp-wrap-success bounceIn">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>Cambios guardados con éxito.</p>
                    </div>
                  </div>
                </li>
                <!-- fin del mensaje -->
                <li class="field-item"><hr /></li>
                <li class="field-item">
                  <button
                    type="button"
                    class="dp-button button-medium primary-grey"
                  >
                    Atras
                  </button>
                  <span class="align-button m-l-24">
                    <button
                      type="button"
                      class="
                        dp-button
                        button-medium
                        primary-green
                        button--loading
                      "
                    >
                      Guardar
                    </button>
                  </span>
                </li>
              </ul>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
    <!-- container-kpi -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
