<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Footer component</title>
    <meta name="keywords" content="UI library Doppler - Footer component" />
    <meta
      name="description"
      content="New responsive footer component with grid-system included."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Footer component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Footer component" />
    <meta property="og:url" content="Footer component" />
    <meta property="og:description" content="Footer component" />
    <meta property="og:site_name" content="Footer component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="18" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Footer</h3>
            <p>
              Nuevo componente de footer responsive con grid-system incluido.
            </p>
            <hr class="dpsg-break" />
            <p><strong>Componente viejo</strong></p>
            <footer class="footer-main">
              <div class="footer-wrapper">
                <span>Certificación de Calidad ISO 9001:2008</span>
                <span
                  >© 2019 Doppler LLC. Todos los derechos reservados.
                  <a href="https://fromdoppler.com/privacidad"
                    >Políticas de privacidad y legales.</a
                  ></span
                >
              </div>
            </footer>
            <p><strong>Componente nuevo</strong></p>
            <footer class="dp-footer">
              <div class="dp-container-fluid">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-6 col-lg-6 m-b-12">
                    <span>Certificación de Calidad ISO 9001:2008</span>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 m-b-12 dp-text-align">
                    <span
                      >© 2019 Doppler LLC. Todos los derechos reservados.
                      <a href="https://fromdoppler.com/privacidad"
                        >Políticas de privacidad y legales.</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </footer>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
