<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Forgot Password</title>
    <meta name="keywords" content="UI library Doppler - Forgot Password" />
    <meta name="description" content="First layout of Forgot Password" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Forgot Password layout" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Forgot Password layout" />
    <meta property="og:url" content="Forgot Password layout" />
    <meta property="og:description" content="Forgot Password layout" />
    <meta property="og:site_name" content="Forgot Password layout" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="15" class="dp-library">
    <div class="dp-container-fluid">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>
    <main class="panel-wrapper">
      <article class="main-panel">
        <header>
          <h1 class="logo-doppler-new"><a href="#">Doppler</a></h1>
          <div class="dp-c-dropdown language-selector">
            <button
              class="lang--es"
              id="menubutton"
              aria-haspopup="true"
              aria-controls="menu2"
            >
              ES
            </button>
            <ul id="menu2" role="menu" aria-labelledby="menubutton">
              <li role="none">
                <a role="menuitem" href="#" class="lang--en"> EN </a>
              </li>
            </ul>
          </div>
        </header>
        <!-- header -->
        <h5>¿NO RECUERDAS TU CONTRASEÑA?</h5>
        <p class="content-subtitle">¡No te preocupes! Nos sucede a todos.</p>
        <p class="content-subtitle">Ingresa tu Email y te ayudaremos.</p>
        <p class="content-subtitle">
          ¿Aún no tienes una cuenta?
          <a href="#" class="link--title" rel="noopener" target="_blank"
            >REGÍSTRATE GRATIS</a
          >
        </p>
        <form class="forgot-pass">
          <fieldset>
            <ul class="field-group">
              <legend>forgot password</legend>
              <li class="field-item dp-validate error">
                <label for="email">Email:</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="¡Psst! Es tu Email."
                />
                <div class="dp-message dp-error-form">
                  <p>¡Ouch! Este campo está vacío</p>
                  <a href="">¡Ouch! Este campo está vacío</a>
                  <span>¡Ouch! Este campo está vacío</span>
                  <button>¡Ouch! Este campo está vacío</button>
                </div>
              </li>
            </ul>
          </fieldset>
          <!-- user and password -->
          <div class="form-message dp-error">
            <div class="wrapper-errors">
              <p>¡Ouch! Mensaje de error genérico</p>
              <!-- <a href="">¡Ouch! Este campo está vacío</a>
              <span>¡Ouch! Este campo está vacío</span>
              <button>¡Ouch! Este campo está vacío</button> -->
            </div>
          </div>
          <div class="form-message dp-ok-message">
            <div class="wrapper-errors">
              <p>Check your inbox!</p>
              <p>You'll find an Email with steps to follow.</p>
              <a href="#">Lorem ipsum dolor sit amet</a>
              <span>Lorem ipsum dolor sit amet</span>
              <button>Lorem ipsum dolor sit amet</button>
            </div>
          </div>
          <div class="form-message dp-warning-message">
            <div class="wrapper-errors">
              <p>
                Psst! Este es un mensaje para que tengas en cuenta algo en
                particular.
              </p>
              <p><a href="#">No dejes de leerlo.</a></p>
            </div>
          </div>
          <fieldset class="field">
            <button
              type="button"
              class="dp-button button--round button-medium primary-green"
            >
              ingresa
            </button>
            <a href="#" class="forgot-link"
              ><span class="triangle-right"></span>¿Recordaste tu contraseña y
              quieres regresar?</a
            >
          </fieldset>
        </form>
        <footer>
          <p>©2018 Doppler LLC. Todos los derechos reservados.</p>
        </footer>
      </article>
      <section class="feature-panel">
        <div
          class="feature-panel--bg"
          style="background-image: urL('img/violet-yellow.png'); color: #fff"
        >
          <article class="feature-content">
            <h6>Formularios de suscripción</h6>
            <h1>Suma contactos a tus Listas con Formularios personalizados</h1>
            <p>
              Clásicos y pop-ups con suscripción Simple o Doble Opt-In. ¡Tú
              eliges cómo quieres que luzcan, qué datos solicitar y dónde
              ubicarlos!
            </p>
          </article>
          <!-- article -->
          <figure class="content-img">
            <img src="img/login-es.png" alt="Formularios" />
          </figure>
        </div>
      </section>
      <!-- feature panel-->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
    <script type="text/javascript">
      window.onload = function () {
        var menubutton = new Menubutton(document.getElementById('menubutton'));
        menubutton.init();
      };
    </script>
  </body>
</html>
