<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Form exclusive features</title>
    <meta
      name="keywords"
      content="UI library Doppler - Form exclusive features"
    />
    <meta name="description" content="Form exclusive features" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Form exclusive features" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Form exclusive features" />
    <meta property="og:url" content="Form exclusive features" />
    <meta property="og:description" content="Form exclusive features" />
    <meta property="og:site_name" content="Form exclusive features" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="30" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>

    <header class="hero-banner">
      <div class="dp-container">
        <div class="dp-rowflex">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="dp-breadcrumb">
              <ul>
                <li>
                  <a href="#">Planes</a>
                </li>
                <li>Características exclusivas</li>
              </ul>
            </nav>
            <h2>Características exclusivas</h2>
          </div>
          <div class="col-sm-12">
            <p>
              Caracteríssticas especiales pensados para los usuarios más
              exigentes. Desarrollo de funcionalidades a medida, atención
              personalizada y más.
            </p>
          </div>
        </div>
        <span class="arrow"></span>
      </div>
    </header>
    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-8 col-sm-12 m-b-24">
          <div class="dp-wrapper-form-plans">
            <h3>
              Completa el siguiente formulario y te contactaremos a la brevedad.
            </h3>
            <form class="dp-forms-plans">
              <fieldset>
                <legend>Completa el siguiente formulario de planes</legend>
                <ul class="field-group">
                  <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                  <li class="field-item">
                    <label for="email">Email:</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Tu Email será tu nombre de usuario"
                    />
                    <div class="wrapper-errors dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item">
                    <ul class="field-group">
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <label for="name">Nombre:</label>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Tu nombre"
                        />
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p>¡Ouch! Este campo está vacío</p>
                        </div>
                      </li>
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <label for="lastname">Apellido:</label>
                        <input
                          type="text"
                          name="lastname"
                          id="lastname"
                          placeholder="Tu apellido"
                        />
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p>¡Ouch! Este campo está vacío</p>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="field-item">
                    <ul class="field-group">
                      <!-- utilizar la clase dp-validate en el li para mostrar mensajes de validacion -->
                      <li class="field-item field-item--50">
                        <label for="phone">Teléfono:</label>
                        <input
                          type="number"
                          name="phone"
                          id="phone-input"
                          placeholder="9 11 2345-6789"
                          class="phone-number"
                        />
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p class="error-phone-number">
                            ¡Ouch! Este campo está vacío
                          </p>
                        </div>
                      </li>
                      <li class="field-item field-item--50">
                        <label for="range_time"
                          >¿En que horario podemos contactarte?</label
                        >
                        <span class="dropdown-arrow"></span>
                        <select id="range_time" class="" name="Último mes">
                          <option value="">1 pm a 8 pm GMT -3</option>
                          <option value="">1 pm a 8 pm GMT -3</option>
                          <option value="">1 pm a 8 pm GMT -3</option>
                          <option value="">1 pm a 8 pm GMT -3</option>
                        </select>
                        <div class="wrapper-errors dp-message dp-error-form">
                          <p>¡Ouch! Este campo está vacío</p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="dp-wrapper-exclusive-features">
                  <h4>Volumen de envíos por mes</h4>
                  <div class="dp-bg-ghostwhite dp-container">
                    <div class="dp-rowflex">
                      <div class="col-sm-12 col-md-6">
                        <ul class="dp-exclusive-features-list field-group">
                          <li class="field-item field-item__checkbox">
                            <input
                              name="Acompañamiento Estratégico"
                              type="checkbox"
                              id="Acompanamiento_estrategico"
                              value="true"
                            /><span class="checkmark"></span
                            ><label for="Acompanamiento_estrategico">
                              Acompañamiento Estratégico
                            </label>
                            <div class="dp-message dp-error-form">
                              <p>¡Ouch! Este campo está vacío</p>
                            </div>
                          </li>
                          <li class="field-item field-item__checkbox">
                            <input
                              name="asesoria_consultoria"
                              type="checkbox"
                              id="asesoria_consultoria"
                              value="true"
                            /><span class="checkmark"></span
                            ><label for="asesoria_consultoria">
                              Asesoría y Consultoría</label
                            >
                            <div class="dp-message dp-error-form">
                              <p>¡Ouch! Este campo está vacío</p>
                            </div>
                          </li>
                          <li class="field-item field-item__checkbox">
                            <input
                              name="maquetacion_envio_Emails"
                              type="checkbox"
                              id="maquetacion_envio_Emails"
                              value="true"
                            /><span class="checkmark"></span
                            ><label for="maquetacion_envio_Emails">
                              Diseño, maquetación y envío de Emails</label
                            >
                            <div class="dp-message dp-error-form">
                              <p>¡Ouch! Este campo está vacío</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <ul class="dp-exclusive-features-list field-group">
                          <li class="field-item field-item__checkbox">
                            <input
                              name="campana_test"
                              type="checkbox"
                              id="campana_test"
                              value="true"
                            /><span class="checkmark"></span
                            ><label for="campana_test">
                              Campañas Test A/B</label
                            >
                            <div class="dp-message dp-error-form">
                              <p>¡Ouch! Este campo está vacío</p>
                            </div>
                          </li>
                          <li class="field-item field-item__checkbox">
                            <input
                              name="funcionalidades_personalizadas"
                              type="checkbox"
                              id="funcionalidades_personalizadas"
                              value="true"
                            /><span class="checkmark"></span
                            ><label for="funcionalidades_personalizadas">
                              Desarrollo de Funcionalidades
                              personalizadas</label
                            >
                            <div class="dp-message dp-error-form">
                              <p>¡Ouch! Este campo está vacío</p>
                            </div>
                          </li>
                          <li class="field-item field-item__checkbox">
                            <input
                              name="IP_dedicada"
                              type="checkbox"
                              id="IP_dedicada"
                              value="true"
                            /><span class="checkmark"></span
                            ><label for="IP_dedicada"> IP Dedicada</label>
                            <div class="dp-message dp-error-form">
                              <p>¡Ouch! Este campo está vacío</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dp-container">
                  <div class="dp-rowflex">
                    <div class="dp-footer-form">
                      <!-- Utilizar la clase dp-hide para ocultar algo y dp-show para mostrar algo -->
                      <div class="dp-wrap-confirmation dp-hide">
                        <div class="dp-msj-confirmation bounceIn">
                          <p>
                            ¡Excelente! Nos pondremos en contacto a la brevedad
                          </p>
                        </div>
                      </div>
                      <div class="dp-action">
                        <button
                          type="button"
                          class="dp-button button-medium primary-green"
                        >
                          Solicitar una demo
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>

          <div class="dp-content-legal">
            <p>
              Doppler te informa que los datos de carácter personal que nos
              proporciones al rellenar el presente formulario serán tratados por
              Doppler LLC como responsable de esta web.
            </p>
            <p>
              <strong>Finalidad:</strong> Darte de alta en nuestra plataforma y
              brindarte los servicios que nos requieras.
            </p>
            <p><strong>Legitimación:</strong> Consentimiento del interesado.</p>
            <p>
              <strong>Destinatarios:</strong> Tus datos serán guardados por
              Doppler, Zoho como CRM, Digital Ocean, Cogeco Peer1 y Rackspace
              como empresas de hosting.
            </p>
            <p>
              <strong>Información adicional:</strong> En la
              <a href="#" rel="noopener" target="_blank"
                >Política de Privacidad</a
              >
              de Doppler encontrarás información adicional sobre la recopilación
              y el uso de su información personal por parte de Doppler, incluida
              información sobre acceso, conservación, rectificación,
              eliminación, seguridad, transferencias transfronterizas y otros
              temas.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="dp-plans-feature">
            <h4>Funcionalidades a tu medida</h4>
            <ul class="dp-feature-list">
              <li>
                <span class="dp-icostar"></span>
                <span><strong>Acompañamiento Estratégico.</strong></span>
              </li>
              <li>
                <span class="dp-icostar"></span>
                <span
                  ><strong>Asesoría y Consultoría.</strong>
                  <span class="dp-new">Nueva</span></span
                >
              </li>
              <li>
                <span class="dp-icodot">.</span>
                <span>Lorem ipsum dolor sit amet</span>
              </li>
              <li>
                <span class="dp-icodot">.</span>
                <span>Campañas Test A/B</span>
              </li>
              <li>
                <span class="dp-icodot">.</span>
                <span>Lorem ipsum dolor sit amet</span>
              </li>
              <li>
                <span class="dp-icodot">.</span>
                <span
                  >Lorem ipsum dolor sit <span class="dp-new">Nueva</span></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-12 col-md-6 col-sm-12 m-b-24">
          <!-- wrapper-reports-box -->
        </div>
      </div>
    </section>
    <!-- container-kpi -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
