<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Grid System</title>
    <meta name="keywords" content="UI library Doppler - Grid System" />
    <meta
      name="description"
      content="This is our first grid system based on the Flex box model"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Grid System" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Grid System" />
    <meta property="og:url" content="Grid System" />
    <meta property="og:description" content="Grid System" />
    <meta property="og:site_name" content="Grid System" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="17" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Grid system</h3>
            <p>
              Este es nuestro primer sistema de grilla basado en el modelo de
              caja Flex.<br />
              Su implementación nos permite alcanzar desde desktop (1260px)
              hasta mobile (320px)
            </p>
            <p>
              <strong
                >Consiste en 12 columnas verticales para la distribución de
                nuestro contenido.</strong
              >
              <br />
              Las clases utilizan el prefijo de
              <span class="dpsg-code">col-</span> +
              <span class="dpsg-code">lg</span> (hace referencia a large =
              desktop) o <span class="dpsg-code">md</span> (que hace referencia
              a medium = tablet) o <span class="dpsg-code">sm</span> (que hace
              referencia a small = mobile) más su número de columna, para saber
              cuanto espacio podemos abarcar en el layout.
            </p>
            <p>
              <strong>Ejemplo de clases:</strong>
              <span class="dpsg-code">col-lg-12</span>
              <span class="dpsg-code">col-md-8</span>
              <span class="dpsg-code">col-sm-6</span><br />
              En el futuro crearemos un sistema de grilla en Grid.
            </p>
            <hr class="dpsg-break" />
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-8 col-lg-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p class="dp-boxshadow--error">
                      Class para transmitir Mensajes de error dentro de
                      dp-box-shadow!. <a href="#">text link</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p class="dp-boxshadow--usermsg">
                      Class para transmitir Mensajes genéricos al usuario dentro
                      de dp-box-shadow!. <a href="#">text link</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-12 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-8 col-md-2 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2 col-md-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-5 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-12 col-lg-7 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-8 col-md-3 col-lg-10 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 m-b-12">
                  <div class="dp-box-shadow dpsg-content-sample">
                    <p>
                      facere quam omnis debitis incidunt in neque maiores
                      molestias nesciunt perspiciatis laboriosam temporibus
                      dolorum. Beatae, ex.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
