<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doppler UI Team</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="https://www.fromdoppler.com/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
  </head>

  <body>
    <section class="section-module">
      <ul class="nav">
        <li class="nav-item"><span class="ms-icon icon-doppler-logo"></span></li>
        <li class="nav-item"><a href="index.html" class="nav-link">Doppler UI</a></li>
        <li class="nav-item"><a href="header.html" class="nav-link active">Header</a></li>
        <li class="nav-item"><a href="footer.html" class="nav-link">Footer</a></li>
        <li class="nav-item"><a href="messages-header.html" class="nav-link">Messages header</a></li>
        <li class="nav-item"><a href="modal.html" class="nav-link">Modals</a></li>
      </ul><!-- nav -->
    </section><!-- section-module -->
    <header class="header-main">
      <div class="header-wrapper">
        <div class="logo"><span class="ms-icon icon-doppler-logo"></span></div>
        <nav class="nav-left-main">
          <div class="menu-main--container">
            <ul class="menu-main">
              <li class="submenu-item"><a href="#">Campañas</a>
                <ul class="sub-menu sub-campaings">
                  <li><a href="#">Borradores</a></li>
                  <li><a href="#">Programadas</a></li>
                  <li><a href="#">Enviadas</a></li>
                  <li><a href="#">Test A/B</a></li>
                </ul><!-- sub-menu -->
              </li>
              <li class="submenu-item"><a href="#">Listas</a>
                <ul class="sub-menu sub-list">
                  <li><a href="#">Listas principales</a></li>
                  <li><a href="#">Segmentos</a></li>
                  <li><a href="#">Subscriptores</a></li>
                  <li><a href="#">Campos personalizados</a></li>
                  <li><a href="#">Formularios</a></li>
                </ul><!-- sub-menu -->
              </li>
              <li><a href="#">Automation</a></li>
              <li><a href="#">Reportes</a></li>
              <li><a href="#">Plantillas</a></li>
            </ul>
          </div><!-- menu-main--container only-mobile -->
        </nav><!-- nav-left-main -->
        <nav class="nav-right-main">
          <ul>
            <li><a href="#" class="active" data-count="1"><span class="ms-icon icon-notification"></span></a></li>
            <li><a href="#"><span class="ms-icon icon-header-help"></span></a></li>
            <li><a id="user-menu--open" href="#"><span class="user-avatar">GB</span></a>
              <div class="user-menu">
                <!--open-->
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p><span class="name">Gus Baamonde</span><span class="email">gbaamonde@makingsense.com</span></p>
                </header>
                <div class="user-plan--container">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">Cuenta Gratis | <strong>500 Suscriptores</strong></p>
                    <p class=""><strong>500</strong> Suscriptores disponibles</p>
                  </div>
                  <button class="user-plan close-user--menu" type="button">comprar</button>
                </div><!-- user-plan--container -->
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div><!-- user-menu -->
            </li>
          </ul>
          <a id="open-menu" class="ms-icon icon-menu desktop-hd-hidden"></a>
          <a id="close-menu" class="ms-icon icon-close desktop-hd-hidden"></a>
        </nav><!-- nav-right-main -->
      </div><!-- header-wrapper -->
    </header><!-- header-main -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>

</html>
