<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Header component</title>
    <meta name="keywords" content="UI library Doppler - Header component" />
    <meta
      name="description"
      content="Header of the application with its corresponding states"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Header component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Header component" />
    <meta property="og:url" content="Header component" />
    <meta property="og:description" content="Header component" />
    <meta property="og:site_name" content="Header component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="20" class="dp-library">
    <section class="dp-container-fluid">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>

        <header class="header-main header-open dp-header--cm">
          <div class="dp-logo--cm">
            <!--<img src="https://via.placeholder.com/180x50">--><span
              >YourCompanyName/Logo</span
            >
          </div>
          <div class="header-wrapper">
            <div class="logo">
              <span class="ms-icon icon-doppler-logo"></span>
            </div>
            <nav class="nav-left-main">
              <div class="menu-main--container">
                <ul class="menu-main">
                  <li class="submenu-item">
                    <a href="#" class="active">Campañas</a>
                    <ul class="sub-menu sub-campaings open">
                      <li><a href="#" class="active">Borradores</a></li>
                      <li><a href="#">Programadas</a></li>
                      <li><a href="#">Enviadas</a></li>
                      <li><a href="#">Test A/B</a></li>
                    </ul>
                    <!-- sub-menu -->
                  </li>
                  <li class="submenu-item">
                    <a href="#">Listas</a>
                    <ul class="sub-menu sub-list">
                      <li><a href="#">Listas principales</a></li>
                      <li><a href="#">Segmentos</a></li>
                      <li><a href="#">Subscriptores</a></li>
                      <li><a href="#">Campos personalizados</a></li>
                      <li><a href="#">Formularios</a></li>
                    </ul>
                    <!-- sub-menu -->
                  </li>
                  <li><a href="#">Automation</a></li>
                  <li><a href="#">Reportes</a></li>
                  <li><a href="#">Plantillas</a></li>
                </ul>
              </div>
              <!-- menu-main--container only-mobile -->
            </nav>
            <!-- nav-left-main -->
            <nav class="nav-right-main">
              <ul class="nav-right-main--list">
                <li>
                  <span class="user-menu--open active">
                    <span class="ms-icon icon-notification"></span
                  ></span>
                  <div class="user-menu helper--right dp-notifications">
                    <div class="dp-msj-notif" dp-dynamic-html="notification">
                      <strong>NUEVO: Comportamiento en Sitio</strong>
                      <br />
                      <p>
                        Programa un flujo automatizado de Emails que se envíe de
                        acuerdo a las páginas que los Suscriptores hayan
                        visitado en tu sitio.<br />
                        <a href="#"><strong>PRUÉBALO GRATIS</strong></a> por
                        tiempo limitado.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="#"><span class="ms-icon icon-header-help"></span></a>
                </li>
                <li>
                  <a class="user-menu--open" href="#"
                    ><span class="user-avatar">GB</span></a
                  >
                  <div class="user-menu">
                    <!--open-->
                    <header>
                      <span class="user-avatar--menu">GB</span>
                      <p>
                        <span class="name">Gus Baamonde</span
                        ><span class="email">gbaamonde@makingsense.com</span>
                      </p>
                    </header>
                    <div class="user-plan--container m-t-18">
                      <div class="user-plan--type">
                        <p class="user-plan--monthly-text">
                          <strong>Cuenta Gratis</strong> (500 Suscriptores)
                        </p>
                        <button
                          class="user-plan close-user--menu"
                          type="button"
                        >
                          comprar
                        </button>
                      </div>
                      <div class="user-plan--type">
                        <p><strong>498</strong> Suscriptores disponibles</p>
                        <div class="dp-request-sent">
                          <button
                            class="user-plan close-user--menu dp-tooltip-left"
                            type="button"
                          >
                            solicitud enviada
                            <div class="tooltiptext">
                              Estamos diseñando un Plan a la medida de tus
                              necesidades.¡Te contactaremos pronto!
                            </div>
                          </button>
                          <span class="ms-icon icon-info-icon"></span>
                          <div class="dp-tooltip-container"></div>
                        </div>
                      </div>
                      <div class="user-plan--type">
                        <p><strong>250</strong> Suscriptores disponibles</p>
                      </div>
                    </div>
                    <!-- user-plan--container -->
                    <ul class="options-user">
                      <li><a href="">Panel de Control</a></li>
                      <li><a href="">Centro de descargas</a></li>
                      <li><a href="">Primeros pasos en Doppler</a></li>
                      <li><a href="">Salir</a></li>
                    </ul>
                  </div>
                  <!-- user-menu -->
                </li>
              </ul>
              <a id="open-menu" class="ms-icon icon-menu desktop-hd-hidden"></a>
              <a
                id="close-menu"
                class="ms-icon icon-close desktop-hd-hidden"
              ></a>
            </nav>
            <!-- nav-right-main -->
          </div>
          <!-- header-wrapper -->
        </header>
      </div>
    </section>

    <!-- section-module -->

    <!-- header-main -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
