<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Breadcrumb component</title>
    <meta name="keywords" content="UI library Doppler - Breadcrumb component" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Breadcrumb component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Breadcrumb component" />
    <meta property="og:url" content="Breadcrumb component" />
    <meta property="og:description" content="Breadcrumb component" />
    <meta property="og:site_name" content="Breadcrumb component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="24" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Hero Banner</h3>
            <p>
              La seccion llamada Hero Banner es un encabezado o destacado de la
              pagina con información importante.<br />
            </p>

            <hr class="dpsg-break" />
            <p><strong>Hero banner con formulario.</strong></p>
            <header class="hero-banner">
              <div class="dp-container">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>Optimiza tu estrategia de Marketing Digital</h2>
                    <p>
                      Encuentra oportunidades de conversión, analiza cada pieza
                      dentro de tu estrategia. Sigue los pasos que tus usuarios
                      realizan dentro de tu journey y corrige aquellos que
                      presentan inconvenientes.
                    </p>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <form action="#" class="form-filters">
                      <div class="col-sm-12 col-md-4 col-lg-4 m-b-12">
                        <fieldset class="filter">
                          <legend>
                            Optimiza tu estrategia de Marketing Digital -
                            Dominio
                          </legend>
                          <label for="domain">Dominio</label>
                          <span class="dropdown-arrow"></span>
                          <select id="domain" class="" name="">
                            <option value="">www.fromdoppler.com</option>
                            <option value="">www.fromdoppler.com</option>
                            <option value="">www.fromdoppler.com</option>
                            <option value="">www.fromdoppler.com</option>
                          </select>
                          <span class="verified--domain"
                            >Dominio verificado 17/12/2017<a
                              href="#"
                              class="dp-button check--again"
                              >verificar nuevamente</a
                            ></span
                          >
                        </fieldset>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 m-b-12">
                        <fieldset class="filter" disabled="">
                          <legend>
                            Optimiza tu estrategia de Marketing Digital -
                            Páginas
                          </legend>
                          <label for="pages">Páginas</label>
                          <span class="dropdown-arrow"></span>
                          <select id="pages" class="" name="">
                            <option value="">Todas las páginas</option>
                            <option value="">Todas las páginas</option>
                            <option value="">Todas las páginas</option>
                            <option value="">Todas las páginas</option>
                          </select>
                        </fieldset>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 m-b-12">
                        <fieldset class="filter">
                          <legend>
                            Optimiza tu estrategia de Marketing Digital - Rango
                            de tiempo
                          </legend>
                          <label for="range_time">Rango de tiempo</label>
                          <span class="dropdown-arrow"></span>
                          <select id="range_time" class="" name="Último mes">
                            <option value="">Último mes</option>
                            <option value="">Último mes</option>
                            <option value="">Último mes</option>
                            <option value="">Último mes</option>
                          </select>
                        </fieldset>
                      </div>
                    </form>
                  </div>
                </div>
                <span class="arrow"></span>
              </div>
            </header>

            <hr class="dpsg-break" />
            <p><strong>Hero banner con breadcrumb y button.</strong></p>
            <header class="hero-banner">
              <div class="dp-container">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav class="dp-breadcrumb">
                      <ul>
                        <li>
                          <a href="#">Inicio</a>
                        </li>
                        <li>
                          <a href="#">Configuración</a>
                        </li>
                        <li>
                          <a href="#">Panel de control</a>
                        </li>
                        <li>Integraciones y preferencias avanzadas</li>
                      </ul>
                    </nav>
                    <h2>Optimiza tu estrategia de Marketing Digital</h2>
                  </div>
                  <div class="col-sm-7">
                    <p>
                      Here you'll find all your Subscription Forms including the
                      ones that are in draft, published or with unpublished
                      changes. You currently have 39 Forms. You can create up to
                      40.
                    </p>
                  </div>
                  <div class="col-sm-5 text-align--right">
                    <button
                      type="button"
                      class="dp-button button-medium primary-green"
                    >
                      Iniciar campaña
                    </button>
                  </div>
                </div>
                <span class="arrow"></span>
              </div>
            </header>

            <hr class="dpsg-break" />
            <p>
              <strong>Hero banner sin breadcrumb y button disabled.</strong>
            </p>
            <header class="hero-banner">
              <div class="dp-container">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>Optimiza tu estrategia de Marketing Digital</h2>
                  </div>
                  <div class="col-sm-7">
                    <p>
                      Encuentra oportunidades de conversión, analiza cada pieza
                      dentro de tu estrategia. Sigue los pasos que tus usuarios
                      realizan dentro de tu journey y corrige aquellos que
                      presentan inconvenientes.
                    </p>
                  </div>
                  <div class="col-sm-5 text-align--right">
                    <button
                      type="button"
                      class="dp-button button-medium primary-green"
                      disabled
                    >
                      Iniciar campaña
                    </button>
                  </div>
                </div>
                <span class="arrow"></span>
              </div>
            </header>

            <hr class="dpsg-break" />
            <p>
              <strong
                >Hero banner sin breadcrumb y sin button con párrafo al 50%
                usando la grilla.</strong
              >
            </p>
            <header class="hero-banner">
              <div class="dp-container">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>Optimiza tu estrategia de Marketing Digital</h2>
                  </div>
                  <div class="col-sm-7">
                    <p>
                      Encuentra oportunidades de conversión, analiza cada pieza
                      dentro de tu estrategia. Sigue los pasos que tus usuarios
                      realizan dentro de tu journey y corrige aquellos que
                      presentan inconvenientes.
                    </p>
                  </div>
                </div>
                <span class="arrow"></span>
              </div>
            </header>

            <hr class="dpsg-break" />
            <p>
              <strong
                >Hero banner sin breadcrumb y sin button con párrafo al 100%
                usando la grilla.</strong
              >
            </p>
            <header class="hero-banner">
              <div class="dp-container">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>Optimiza tu estrategia de Marketing Digital</h2>
                  </div>
                  <div class="col-sm-12">
                    <p>
                      Encuentra oportunidades de conversión, analiza cada pieza
                      dentro de tu estrategia. Sigue los pasos que tus usuarios
                      realizan dentro de tu journey y corrige aquellos que
                      presentan inconvenientes.
                    </p>
                  </div>
                </div>
                <span class="arrow"></span>
              </div>
            </header>

            <hr class="dpsg-break" />
            <p>
              <strong
                >Hero banner sin breadcrumb y con button y mensaje de ayuda en
                cursiva.</strong
              >
            </p>
            <p>
              (La tipografía en cursiva se encuentra en revisión por su poca
              legibilidad. Se evalúa eliminarla.)
            </p>
            <header class="hero-banner">
              <div class="dp-container">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>Optimiza tu estrategia de Marketing Digital</h2>
                  </div>
                  <div class="col-sm-7">
                    <p>
                      Encuentra oportunidades de conversión, analiza cada pieza
                      dentro de tu estrategia. Sigue los pasos que tus usuarios
                      realizan dentro de tu journey y corrige aquellos que
                      <a href="#">presentan inconvenientes.</a>
                    </p>
                  </div>
                  <div class="col-sm-3 text-align--right">
                    <span class="dp-text--cursive"
                      >Superaste el limite de creación.<br />
                      Para crear nuevos formularios necesitas eliminar
                      alguno</span
                    >
                  </div>
                  <div class="col-sm-2 text-align--right">
                    <button
                      type="button"
                      class="dp-button button-medium primary-green"
                      disabled
                    >
                      Iniciar campaña
                    </button>
                  </div>
                </div>
                <span class="arrow"></span>
              </div>
            </header>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
