<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doppler UI Team</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="https://www.fromdoppler.com/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
  </head>

  <body>
    <main role="main">
      <section class="section-module">
        <ul class="nav">
          <li class="nav-item"><span class="ms-icon icon-doppler-logo"></span></li>
          <li class="nav-item"><a href="index.html" class="nav-link active">Doppler UI</a></li>
          <li class="nav-item"><a href="header.html" class="nav-link">Header</a></li>
          <li class="nav-item"><a href="footer.html" class="nav-link">Footer</a></li>
          <li class="nav-item"><a href="messages-header.html" class="nav-link">Messages header</a></li>
          <li class="nav-item"><a href="modal.html" class="nav-link">Modals</a></li>
          <li class="nav-item"><a href="reports-filters.html" class="nav-link">Reports filters</a></li>
        </ul><!-- nav -->
        <h1>Doppler Styles Guides</h1>
        <h2>Colores</h2>
        <main class="main-colors">
          <div class="color-card">
            <div class="sample-color white"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .white</li>
                <li><code>color: #FFFFFF</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color ghostwhite"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .ghostwhite</li>
                <li><code>color: #F2F2F2</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color light-grey"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .light-grey</li>
                <li><code>color: #999999</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color grey"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .grey</li>
                <li><code>color: #666666</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color dark-grey"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .dark-grey</li>
                <li><code>color: #333333</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color light-green"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .light-green</li>
                <li><code>color: #65C192</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color green"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .green</li>
                <li><code>color: #33AD73</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color dark-green"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .dark-green</li>
                <li><code>color: #008046</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color sylver"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .sylver</li>
                <li><code>color: #CCCCCC</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color snow"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .snow</li>
                <li><code>color: #EAEAEA</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color light-yellow"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .light-yellow</li>
                <li><code>color: #FDE577</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color yellow"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .yellow</li>
                <li><code>color: #FBB224</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color dark-yellow"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .dark-yellow</li>
                <li><code>color: #E58900</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color light-red"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .light-red</li>
                <li><code>color: #EC8A83</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color red"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .red</li>
                <li><code>color: #E34F45</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
          <div class="color-card">
            <div class="sample-color dark-red"></div>
            <div class="description-color">
              <ul class="color-list">
                <li>class: .dark-red</li>
                <li><code>color: #A63A33</code></li>
              </ul>
            </div>
          </div><!-- color-card -->
        </main><!-- main-colors -->
        <h2>Botones</h2>
        <p><strong>3 tamaños de botón:</strong></p>
        <main class="main-buttons">
          <div class="buttons-card">
            <button type="button" class="dp-button button-big primary-green">Iniciar campaña</button>
            <div class="button-description">
              <p><strong>Big button</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .button-big</li>
                <li><strong>font-size:</strong> 15px;</li>
                <li><strong>text-align:</strong> center;</li>
                <li><strong>border-radius:</strong> 30px;</li>
                <li><strong>padding:</strong> 16px 35px;</li>
              </ul>
            </div>
          </div><!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-medium primary-green">Iniciar campaña</button>
            <div class="button-description">
              <p><strong>Medium button</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .button-medium</li>
                <li><strong>font-size:</strong> 13px;</li>
                <li><strong>text-align:</strong> center;</li>
                <li><strong>padding:</strong> 13px 25px;</li>
                <li><strong>border:</strong> 1px solid green;</li>
              </ul>
            </div>
          </div><!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-small primary-green">Iniciar</button>
            <div class="button-description">
              <p><strong>Small button</strong></p>
              <ul class="button-list">
                <li><strong>class:</strong> .button-small</li>
                <li><strong>font-size:</strong> 11px;</li>
                <li><strong>text-align:</strong> center;</li>
                <li><strong>padding:</strong> 10px 15px;</li>
                <li><strong>border:</strong> 1px solid green;</li>
              </ul>
            </div>
          </div><!-- button-card -->
        </main><!-- main-buttons -->
        <main class="main-buttons">
          <div class="buttons-card">
            <button type="button" class="dp-button button-medium primary-green button--loading">Spinner</button>
            <div class="button-description">
              <p><strong>Spinner</strong></p>
              <ul class="button-list">
                <li><strong>background-color:</strong> lightgreen;</li>
                <li><strong>border:</strong> 1px solid lightgreen;</li>
              </ul>
            </div>
          </div><!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-medium primary-green" disabled>Button Disabled</button>
            <div class="button-description">
              <p><strong>Disabled</strong></p>
              <ul class="button-list">
                <li><strong>pointer-events::</strong> none;</li>
                <li><strong>opacity:</strong> .4;</li>
              </ul>
            </div>
          </div><!-- button-card -->
          <div class="buttons-card">
            <button type="button" class="dp-button button-medium primary-grey">Iniciar campaña</button>
            <div class="button-description">
              <p><strong>Complementarios</strong></p>
              <ul class="button-list">
                <li>Botones de acción primaria que necesitan despegarse del verde de uso común</li>
                <li><strong>background-color:</strong> #666666;</li>
                <li><strong>border:</strong> 1px solid #333333;</li>
              </ul>
            </div>
          </div><!-- button-card -->
        </main><!-- main-buttons -->
      </section><!-- section-module -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>

</html>
