<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Home layout</title>
    <meta name="keywords" content="UI library Doppler - Home layout" />
    <meta
      name="description"
      content="UI live guide style. This library is meant to be Doppler visual language, to centralize all branding in one place for all our products. Also allowing to decouple UI from Front End logic, and work in a more tidy way."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Home layout" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Home layout" />
    <meta property="og:url" content="Home layout" />
    <meta property="og:description" content="Home layout" />
    <meta property="og:site_name" content="Home layout" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="1" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <section class="dpsg-content-intro">
            <div class="dpsg-blockgrey">
              <h3>Bienvenido a Doppler Styles Guides</h3>
              <p>
                UI Styles Guides en vivo. Esta biblioteca está destinada a ser
                un lenguaje visual de Doppler, para centralizar todas las marcas
                en un solo lugar para todos nuestros productos, reutilización de
                código y esfuerzo.
              </p>
              <p>
                También permite desacoplar la interfaz de usuario de la lógica
                de Front End y trabajar de una manera más ordenada.
              </p>
              <div class="dpsg-techs">
                <div class="dpsg-icontech">
                  <img src="img/css3.svg" alt="Css3 icon" />
                </div>
                <div class="dpsg-icontech">
                  <img src="img/html5.svg" alt="html5 icon" />
                </div>
                <div class="dpsg-icontech">
                  <img src="img/jquery.svg" alt="jquery icon" />
                </div>
              </div>
            </div>
            <div class="dpsg-intropic"></div>
          </section>
          <section class="dpsg-howtouse-content">
            <h3>¿Cómo puedo usar esta biblioteca en mi proyecto?</h3>
            <div class="dpsg-wrapper-text">
              <div class="dpsg-boxtext">
                <p>
                  Simplemente incluí el archivo <strong>css</strong> y
                  <strong>js</strong> en tu <strong>html</strong>.
                </p>
                <p>
                  Verificá la versión correcta en la pestaña de versiones de
                  <a
                    href="https://github.com/FromDoppler/Doppler-UI-System"
                    rel="noopener"
                    target="_blank"
                    >github</a
                  >
                  primero y reemplazá la <strong>vx.x.x</strong> siguiente.
                </p>
              </div>
              <div class="dpsg-code-content">
                <figure class="dpsg-highlight">
                  <pre>
                      <code>
                        <span class="dpsg-comment">/// Version CSS</span>
                        <span class="dpsg-tag-code">&lt;link rel="stylesheet" type="text/css" href="https://cdn.fromdoppler.com/doppler-ui-library/vx.x.x/css/styles.css"&gt;</span>
                      </code>
                    </pre>
                </figure>
                <figure class="dpsg-highlight">
                  <pre>
                        <code>
                          <span class="dpsg-comment">/// Version JS (opcional, podes incluir tu propio js en su lugar)</span>
                          <span class="dpsg-tag-code">&lt;script type="text/javascript" src="https://cdn.fromdoppler.com/doppler-ui-library/vx.x.x/js/app.js"&gt;&lt;/script&gt;</span>
                        </code>
                      </pre>
                </figure>
              </div>
            </div>
          </section>
          <section class="dpsg-documentation-content">
            <h3>¿Cómo aplicar componentes y usar mixins?</h3>
            <p>
              En nuestra biblioteca utilizamos <strong>Sass Doc</strong> para
              crear nuestra documentación. Consultá su uso en
              <a href="http://sassdoc.com/" rel="noopener" target="_blank"
                >Sass Doc</a
              >
            </p>
            <p>
              Consultá nuestra
              <a
                id="documentation_link"
                href="http://cdn.fromdoppler.com/doppler-ui-library/latest/documentation/"
                rel="noopener"
                target="_blank"
                >documentación</a
              >
              (en desarrollo)
            </p>
            <div class="dpsg-image-transition">
              <figure class="dpsg-sassdoc"></figure>
            </div>
          </section>
          <!-- dpsg-documentation-content -->
          <section class="dpsg-contribution-wrapper">
            <div class="dpsg-contribution-content">
              <div class="dpsg-rocket-wrapper">
                <div class="dpsg-kite"></div>
                <div class="dpsg-spaceship-content">
                  <div class="dpsg-spaceship"></div>
                  <div class="dpsg-front-spaceship"></div>
                  <div class="dpsg-window"></div>
                  <div class="dpsg-wings"></div>
                  <div class="dpsg-engine"></div>
                  <div class="dpsg-flames"></div>
                </div>
              </div>
              <div class="dpsg-contribution-text">
                <h3>Contribuyendo a este proyecto</h3>
                <p>
                  Si queres contribuir a este proyecto, tenes que
                  <strong>seguir las reglas</strong>:
                </p>
                <ul class="dpsg-list">
                  <li>
                    Utilizamos <strong>Conventional Commits</strong> por favor,
                    compruebá su uso aquí:
                    <a
                      href="https://www.conventionalcommits.org/"
                      rel="noopener"
                      target="_blank"
                      >Conventional Commits</a
                    >
                  </li>
                  <li>
                    Los <strong>Commits</strong> son cortos, por lo que pueden
                    ser fáciles de seguir y leer.
                  </li>
                  <li>
                    Los colores, el espaciado y los tamaños de fuente se
                    almacenan en variables para su reutilización.
                  </li>
                  <li>
                    Al hacer un PR (pull request),
                    <strong
                      >verificá el código de compilación del cdn generado
                      automáticamente</strong
                    >, mirá el número de compilación en el enlace de
                    verificación del generador de solicitudes de extracción de
                    jenkins, debería ser algo como
                    <strong
                      >http://docker.fromdoppler.com:8080/job/doppler-ui-system/job/pull-requests/391/</strong
                    >
                    en este ejemplo 391 si construye, tu enlace será
                    <strong
                      >http://cdn.fromdoppler.com/doppler-ui-library/build391/index.html</strong
                    >
                    vos podes usar este enlace para incluirlo y probarlo en tu
                    web, apuntando a css y js, como se explicó anteriormente.
                  </li>
                  <li>
                    Considerá obtener la aprobación de
                    <strong
                      >al menos uno de nuestros colaboradores
                      habituales.</strong
                    >
                  </li>
                  <li>
                    Tene en cuenta que esta biblioteca puede tener muchos
                    clientes, pensamos en la
                    <strong>retrocompatibilidad</strong> antes de realizar
                    cambios.
                  </li>
                  <li>
                    Hace un <strong>Fork</strong> de este proyecto para comenzar
                    a contribuir.
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <!-- dpsg-contribution-content -->
          <section class="dpsg-worktocode-content">
            <div class="dpsg-blockgrey">
              <h3>¿Cómo trabajar con el código?</h3>
              <p>Una vez que lo hayas descargado:</p>
              <ul class="dpsg-list">
                <li>
                  <span class="dpsg-code">npm install</span> para instalar
                  dependencias.
                </li>
                <li>
                  <span class="dpsg-code">npm run watch</span> para ejecutar el
                  servidor de desarrollo y la vista previa.
                </li>
                <li>
                  <span class="dpsg-code">npm run prettier</span> para formatear
                  nuestro código, nos ahorra tiempo y energía.
                </li>
                <li>
                  <span class="dpsg-code">npm run prettier-check</span> para
                  asegurarnos de que nuestro código este correcto.
                </li>
                <li>
                  <span class="dpsg-code">npm run dist</span> para la tarea de
                  generación (Implementar).
                </li>
                <li>
                  <span class="dpsg-code">gulp build</span> para definir tarea
                  de construcción.
                </li>
                <li>
                  <span class="dpsg-code">gulp doc</span> para crear
                  documentación
                </li>
              </ul>
              <p>
                Este proyecto utiliza <strong>Sass</strong>,
                <strong>SassDocs</strong>, <strong>javascript</strong> y
                <strong>JQuery</strong>. En este momento estamos basando todos
                nuestros diseños en Flexbox.
              </p>
            </div>
          </section>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
