<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doppler UI Team</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="https://www.fromdoppler.com/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
  </head>
  <body data-active-menu="2">
    <div class="intro-open">
        <div class="layer"></div>
        <div class="layer"></div>
    </div><!-- Layers -->
    <main role="main" class="wrapper-main">
    <header class="wrapper-header">
      <div class="dp-logo"><img src="img/iso-doppler.gif" alt="iso doppler"></div>
        <div class="banner-text">
          <h2>User Interface</h2>
          <h3>Doppler Styles Guides</h3>
      </div>
    </header><!-- header -->
    <div class="wrapper-container">
        <aside class="wrapper-aside">
            <h3>Componentes UI</h3>
            <nav class="nav-aside">
            <ul>
                <li><a href="#">Colores</a></li>
                <li><a href="#">Botones</a></li>
                <li><a href="#">Tablas</a></li>
                <li><a href="#" class="active">Tooltip</a></li>
                <li><a href="#">Breadcrumb</a></li>
                <li><a href="#">Mensajes para el usuario</a></li>
                <li><a href="#">Modales</a></li>
                <li><a href="#">Preload</a></li>
                <li><a href="#">Mensajes header</a></li>
                <li><a href="#">Animaciones</a></li>
                <li><a href="#">Componente</a></li>
            </ul>
        </nav>
        <h3>Layouts</h3>
        <nav class="nav-aside">
            <ul>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Confirmación Email</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Forgot Password</a></li>
                <li><a href="#">Integration Shopify</a></li>
            </ul>
            </nav>
        </aside>
    <div class="wrapper-content">
        <section class="dp-content-module">
            <h3>Colores</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor est, sequi expedita nulla omnis provident. Non eos ea nam repellendus laborum suscipit repellat fuga nemo sint, commodi inventore molestiae quibusdam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor est, sequi expedita nulla omnis provident. Non eos ea nam repellendus laborum suscipit repellat fuga nemo sint, commodi inventore molestiae quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor est, sequi expedita nulla omnis provident. Non eos ea nam repellendus laborum suscipit repellat fuga nemo sint, commodi inventore molestiae quibusdam.</p>
        </section>
    </div>
  </div><!-- wrapper-container -->
    <footer class="wrapper-footer">
        <p>Colaboradores: Ignacio Rodrigues, Cecilia Bernat, Federico Coronel, Andres Moschini, Santiago Paolucci y Gustavo Baamonde.</p>
        <p>© 2019 Doppler LLC. Todos los derechos reservados.</p>
    </footer>
    </main>
  </body>
  </html>
