<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Login layout</title>
    <meta name="keywords" content="UI library Doppler - Login layout" />
    <meta name="description" content="First layout of Login" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Login layout" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Login layout" />
    <meta property="og:url" content="Login layout" />
    <meta property="og:description" content="Login layout" />
    <meta property="og:site_name" content="Login layout" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="14" class="dp-library">
    <div class="dp-container-fluid">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
              >Back</a
            >
          </header>
        </div>
      </div>
    </div>
    <main class="panel-wrapper">
      <article class="main-panel">
        <header>
          <h1 class="logo-doppler-new"><a href="#">Doppler</a></h1>
          <div class="dp-c-dropdown language-selector">
            <button
              class="lang--es"
              id="menubutton"
              aria-haspopup="true"
              aria-controls="menu2"
            >
              ES
            </button>
            <ul id="menu2" role="menu" aria-labelledby="menubutton">
              <li role="none">
                <a role="menuitem" href="#" class="lang--en"> EN </a>
              </li>
            </ul>
          </div>
        </header>
        <!-- header -->
        <h5>INGRESA A DOPPLER</h5>
        <p class="content-subtitle">
          Disfruta los beneficios del Email Marketing.
        </p>
        <!-- Title -->
        <p class="content-subtitle">
          ¿Aún no tienes una cuenta?
          <a href="#" rel="noopener" target="_blank">REGÍSTRATE GRATIS</a>
        </p>
        <form class="login-form">
          <fieldset>
            <ul class="field-group">
              <legend>Usuario y contraseña</legend>
              <li class="field-item dp-error error">
                <label for="email">Nombre de Usuario:</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="¡Psst! Es tu Email."
                />
                <div class="wrapper-errors dp-message dp-error-form">
                  <p>¡Ouch! Este campo está vacío</p>
                </div>
              </li>
              <li class="field-item">
                <label for="password"
                  >Contraseña:
                  <a
                    toggle="#password-field"
                    class="ms-icon icon-view show-hide"
                  >
                    <span class="content-eye">Mostrar</span></a
                  ></label
                >
                <input
                  type="password"
                  name="password"
                  id="password-field"
                  placeholder="Escribe tu clave secreta"
                />
                <div class="wrapper-errors dp-message dp-error-form">
                  <p>¡Ouch! Este campo está vacío</p>
                </div>
              </li>
            </ul>
          </fieldset>
          <!-- user and password -->
          <fieldset class="field">
            <div class="form-message dp-error error">
              <div class="wrapper-errors dp-message dp-error-form">
                <p>Espera un segundo. Aún no has activado tu cuenta.</p>
                <p>
                  <button type="button">
                    Reenviar el Email de Activación.
                  </button>
                </p>
              </div>
            </div>
            <button
              type="button"
              class="dp-button button--round button-medium primary-green"
            >
              ingresa
            </button>
            <a href="#" class="forgot-link">¿No recuerdas tu contraseña?</a>
          </fieldset>
        </form>
        <footer>
          <p>©2018 Doppler LLC. Todos los derechos reservados.</p>
        </footer>
      </article>
      <section class="feature-panel">
        <div
          class="feature-panel--bg"
          style="background-image: urL('img/violet-yellow.png'); color: #fff"
        >
          <article class="feature-content">
            <h6>Formularios de suscripción</h6>
            <h1>Suma contactos a tus Listas con Formularios personalizados</h1>
            <p>
              Clásicos y pop-ups con suscripción Simple o Doble Opt-In. ¡Tú
              eliges cómo quieres que luzcan, qué datos solicitar y dónde
              ubicarlos!
            </p>
          </article>
          <!-- article -->
          <figure class="content-img">
            <img src="img/login-es.png" alt="Formularios" />
          </figure>
        </div>
      </section>
      <!-- feature panel-->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
    <script type="text/javascript">
      window.onload = function () {
        var menubutton = new Menubutton(document.getElementById('menubutton'));
        menubutton.init();
      };
    </script>
  </body>
</html>
