<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Doppler | Login</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="" />
  <!-- Open Graph metatags -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  <!-- Stylesheets and polyfills -->
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="https://www.fromdoppler.com/apple-touch-icon.png" />
  <link rel="icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
</head>
<body>

<main role="main" class="login">
<section class="form-login">
  <div class="wrapper">
    <div class="form-container"> <!-- Login form container left -->
      
      <div class="header">
      <span class="ms-icon icon-doppler-logo-iso"></span>
      <div class="register-account">¿Aún no tienes una cuenta? <a href="#" target="_blank">REGÍSTRATE GRATIS</a></div>
      </div>

      <div class="form--login-title">INGRESA A DOPPLER</div>
      <div class="form--login-subtitle">Disfruta los beneficios del Email Marketing.</div>

      <form id="form--login"> 
        <span class="holder big">
          <label for="name-input">Nombre de Usuario:</label>
          <input type="text" id="name-input" name="name-input"class="required" placeholder="¡Psst! Es tu Email.">
        </span>
        <span class="holder big">
          <label for="password-input">Contraseña: <span>(Recuerda: contiene más de 7 caracteres y mínimo 1 dígito)</span></label>
          <input type="text" id="password-input" name="password-input" class="required" placeholder="Escribe tu clave secreta">
        </span>
        <div class="loader">
          <input type="submit" value="INGRESA" class="dp-button button-medium primary-green">
        </div>
      </form>
      <div class="form--login-password">
        <a href="#">¿No recuerdas tu contraseña?</a>
      </div>
      <div class="form--login-footer">
      &copy; 2019 Doppler LLC. Todos los derechos reservados.
      </div>
    </div>
    <div class="login-image-container"> <!-- Image right -->
      
    </div>
  </div>
</section><!-- section-module -->
</main>

<!-- build:js:dist js/app.js -->
<script src="./js/main.js"></script>
<!-- /build -->
</body>
</html>
