<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Messages component</title>
    <meta name="keywords" content="UI library Doppler - Messages component" />
    <meta
      name="description"
      content="We have four types of messages so far, Error message, warning message, confirmation message, and generic message."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Messages component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Messages component" />
    <meta property="og:url" content="Messages component" />
    <meta property="og:description" content="Messages component" />
    <meta property="og:site_name" content="Messages component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="7" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Mensajes para nuestros usuarios</h3>
            <p>
              Tenemos 4 tipos de mensages hasta el momento, Mensaje de error,
              mensaje de warning, mensaje de confirmación, y mensage genérico.
            </p>
            <hr class="dpsg-break" />
            <div class="dp-msj-error dpsg-slow-animation bounceIn">
              <p>
                Ouch! These aren't VTEX api data connection ( Message Error )
                <a href="#">contact Support</a>
              </p>
            </div>
            <div class="dp-msj-warning dpsg-slow-animation bounceIn">
              <p>
                Ouch! These aren't VTEX api data connection ( Message Warning )
                <a href="#">contact Support</a>
              </p>
            </div>
            <div class="dp-msj-succes dpsg-slow-animation fadeInUp">
              <p>
                Ouch! These aren't VTEX api data connection ( Message Succes )
                <a href="#">contact Support</a>
              </p>
            </div>
            <div class="dp-msj-user dpsg-slow-animation fadeInDown">
              <p>
                Ouch! These aren't VTEX api data connection ( Message for User )
                <a href="#">contact Support</a>
              </p>
            </div>

            <div class="dp-container m-t-42">
              <div class="dp-rowflex">
                <div class="col-md-4 m-b-12">
                  <h4 class="m-b-24">Success message</h4>
                  <div class="dp-wrap-message dp-wrap-success">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>Cambios guardados con éxito.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-b-12">
                  <h4 class="m-b-24">Warning MEssage</h4>
                  <div class="dp-wrap-message dp-wrap-warning">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>Ten cuidado.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-b-12">
                  <h4 class="m-b-24">Error Message</h4>
                  <div class="dp-wrap-message dp-wrap-cancel">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>¡Ouch! Ha habido un problema.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-t-42 m-b-12">
                  <h4 class="m-b-24">INFORMATION message</h4>
                  <div class="dp-wrap-message dp-wrap-info">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>Cambios guardados con éxito.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-t-42 m-b-12"></div>
                <div class="col-md-4 m-t-42 m-b-12"></div>

                <div class="col-md-4 m-b-12">
                  <h4 class="m-t-24 m-b-24">
                    Success message - EDITORS - WITH LINK
                  </h4>
                  <div class="dp-wrap-message dp-wrap-success">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>
                        Utilizar dominios públicos como Hotmail, Gmail, Yahoo u
                        otros, afecta la Tasa de Apertura. Si tienes dudas,
                        presiona Help.
                      </p>
                      <a href="#" class="dp-message-link">ENTENDIDO</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-b-12">
                  <h4 class="m-t-24 m-b-24">
                    Warning MEssage - EDITORS - WITH LINK
                  </h4>
                  <div class="dp-wrap-message dp-wrap-warning">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>
                        Utilizar dominios públicos como Hotmail, Gmail, Yahoo u
                        otros, afecta la Tasa de Apertura. Si tienes dudas,
                        presiona Help.
                      </p>
                      <a href="#" class="dp-message-link">ENTENDIDO</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-b-12">
                  <h4 class="m-t-24 m-b-24">
                    Error Message - EDITORS - WITH LINK
                  </h4>
                  <div class="dp-wrap-message dp-wrap-cancel">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>
                        ¡Ouch! Debido a la cantidad de Suscriptores, debes
                        configurar un dominio propio para hacer este envío. Si
                        tienes dudas, presiona Help.
                      </p>
                      <a href="#" class="dp-message-link"
                        >CONFIGURA TU DOMINIO</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-b-12">
                  <h4 class="m-t-24 m-b-24">
                    Success message - EDITORS - WITH LINK
                  </h4>
                  <div class="dp-wrap-message dp-wrap-info">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message">
                      <p>
                        Utilizar dominios públicos como Hotmail, Gmail, Yahoo u
                        otros, afecta la Tasa de Apertura. Si tienes dudas,
                        presiona Help.
                      </p>
                      <a href="#" class="dp-message-link">ENTENDIDO</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-b-12"></div>
                <div class="col-md-4 m-b-12"></div>
                <div class="col-md-12 m-b-12 m-t-42">
                  <h4 class="m-t-24 m-b-24">
                    Success message - FULL WIDTH - WITH LINK
                  </h4>
                  <div class="dp-wrap-message dp-wrap-success">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message dp-content-full">
                      <p>
                        Utilizar dominios públicos como Hotmail, Gmail, Yahoo u
                        otros, afecta la Tasa de Apertura. Si tienes dudas,
                        presiona Help.
                      </p>
                      <a href="#" class="dp-message-link">ENTENDIDO</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 m-b-12">
                  <h4 class="m-t-24 m-b-24">Warning MEssage - FULL WIDTH</h4>
                  <div class="dp-wrap-message dp-wrap-warning">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message dp-content-full">
                      <p>
                        Utilizar dominios públicos como Hotmail, Gmail, Yahoo u
                        otros, afecta la Tasa de Apertura. Si tienes dudas,
                        presiona Help.
                      </p>
                      <a href="#" class="dp-message-link">ENTENDIDO</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 m-b-12">
                  <h4 class="m-t-24 m-b-24">Error Message - FULL WIDTH</h4>
                  <div class="dp-wrap-message dp-wrap-cancel">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message dp-content-full">
                      <p>
                        ¡Ouch! Debido a la cantidad de Suscriptores, debes
                        configurar un dominio propio para hacer este envío. Si
                        tienes dudas, presiona Help.
                      </p>
                      <a href="#" class="dp-message-link"
                        >CONFIGURA TU DOMINIO</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 m-b-12">
                  <h4 class="m-t-24 m-b-24">
                    Success message - FULL WIDTH - WITH LINK
                  </h4>
                  <div class="dp-wrap-message dp-wrap-info">
                    <span class="dp-message-icon"></span>
                    <div class="dp-content-message dp-content-full">
                      <p>
                        Has configurado correctamente tu dominio. Para mas
                        información, presiona Help.
                      </p>
                      <a href="#" class="dp-message-link"
                        >CONFIGURA TU DOMINIO</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
