<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doppler UI Team</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="https://www.fromdoppler.com/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
  </head>

  <body>
    <main role="main">
      <section class="section-module">
        <ul class="nav">
          <li class="nav-item"><span class="ms-icon icon-doppler-logo"></span></li>
          <li class="nav-item"><a href="index.html" class="nav-link">Doppler UI</a></li>
          <li class="nav-item"><a href="header.html" class="nav-link">Header</a></li>
          <li class="nav-item"><a href="footer.html" class="nav-link">Footer</a></li>
          <li class="nav-item"><a href="messages-header.html" class="nav-link">Messages header</a></li>
          <li class="nav-item"><a href="modal.html" class="nav-link active">Modals</a></li>
        </ul><!-- nav -->
      </section><!-- section-module -->
      <ul class="content">
        <li><button id="btn-modal-large" type="button" class="dp-button button-small button--primary">Large modal</button></li>
        <li><button id="btn-modal-medium" type="button" class="dp-button button-small button--primary">Medium modal</button></li>
        <li><button id="btn-modal-small" type="button" class="dp-button button-small button--primary">Small modal</button></li>
      </ul>
    </main>
    <div class="modal" id="modal-large">
      <div class="modal-content--large">
        <span class="close"></span>
        <h2 class="modal-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend est vitae sem mollis, in pretium enim bibendum. In eleifend, augue vitae pellentesque pulvinar, neque nisi suscipit lorem, sed facilisis sem leo vel diam. Fusce vitae
          quam libero. Vestibulum ut faucibus quam. Ut ante quam, aliquet nec dictum euismod, tristique ut lorem. Aenean in tellus ligula. Pellentesque malesuada, purus at egestas rutrum, metus erat varius tellus, a vulputate est massa vel velit.</p>
        <P>Ut ante quam, aliquet nec dictum euismod, tristique ut lorem. Aenean in tellus ligula. Pellentesque malesuada, purus at egestas rutrum, metus erat varius tellus, a vulputate est massa vel velit.</P>
      </div><!-- modal__content -->
    </div><!-- modal -->
    <div class="modal" id="modal-medium">
      <div class="modal-content--medium">
        <span class="close"></span>
        <h2 class="modal-title">Solicita una actualización de tu plan</h2>
        <form action="#" class="form-request">
          <fieldset>
            <legend>Solicita una actualización de tu plan</legend>
            <ul>
              <li>
                <label for="plan">Selecciona el Plan</label>
                <span class="dropdown-arrow"></span>
                <select id="plan" name="plan">
                  <option value=""></option>
                  <option value="">501-1500</option>
                  <option value="">1501-2500</option>
                  <option value="">2501-5000</option>
                  <option value="">5001-10000</option>
                  <option value="">10001-15000</option>
                  <option value="">15001-25000</option>
                  <option value="">25001-50000</option>
                  <option value="">50001-75000</option>
                  <option value="">75001-100000</option>
                </select>
              </li>
              <li>
                <label for="message">Mensaje</label>
                <textarea id="message" name="message" placeholder="Tu mensage"></textarea>
              </li>
            </ul>
          </fieldset>
          <fieldset class="fieldset-cta">
            <button type="button" name="cancel" class="dp-button primary-brown button-small">Cancelar</button>
            <button type="button" name="submit" class="dp-button primary-green button-small">Enviar</button>
          </fieldset>
        </form>
      </div><!-- modal__content -->
    </div><!-- modal -->
    <div class="modal" id="modal-small">
      <div class="modal-content--small">
        <span class="close"></span>
        <h2 class="modal-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend est vitae sem mollis, in pretium enim bibendum. In eleifend, augue vitae pellentesque pulvinar, neque nisi suscipit lorem, sed facilisis sem leo vel diam. Fusce vitae
          quam libero. Vestibulum ut faucibus quam. Ut ante quam, aliquet nec dictum euismod, tristique ut lorem. Aenean in tellus ligula. Pellentesque malesuada, purus at egestas rutrum, metus erat varius tellus, a vulputate est massa vel velit.</p>
        <P>Ut ante quam, aliquet nec dictum euismod, tristique ut lorem. Aenean in tellus ligula. Pellentesque malesuada, purus at egestas rutrum, metus erat varius tellus, a vulputate est massa vel velit.</P>
      </div><!-- modal__content -->
    </div><!-- modal -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>

</html>
