<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Breadcrumb component</title>
    <meta name="keywords" content="UI library Doppler - Breadcrumb component" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Breadcrumb component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Breadcrumb component" />
    <meta property="og:url" content="Breadcrumb component" />
    <meta property="og:description" content="Breadcrumb component" />
    <meta property="og:site_name" content="Breadcrumb component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="31" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Nav User Menu</h3>
            <p>
              Aca se muestra el menú de usuario de doppler con las distintas
              variantes
            </p>

            <hr class="dpsg-break" />
            <p><strong>Cuenta Mensual - Solicitud enviada.</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Cuenta Mensual</strong> (2.500 Suscriptores)
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      comprar
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p><strong>498</strong> Suscriptores disponibles</p>
                    <div class="dp-request-sent">
                      <button
                        class="user-plan close-user--menu dp-tooltip-left"
                        type="button"
                      >
                        solicitud enviada
                        <div class="tooltiptext">
                          Estamos diseñando un Plan a la medida de tus
                          necesidades.¡Te contactaremos pronto!
                        </div>
                      </button>
                      <span class="ms-icon icon-info-icon"></span>
                      <div class="dp-tooltip-container"></div>
                    </div>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Cuenta Gratis.</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Cuenta Gratis</strong> (500 Suscriptores)
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      comprar
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p><strong>250</strong> Suscriptores disponibles</p>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Plan Prepago.</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Plan Prepago</strong>
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      MEJORAR PLAN
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p><strong>99989</strong> Creditos Disponibles</p>
                    <button class="user-plan close-user--menu" type="button">
                      Comprar
                    </button>
                    <p><strong>u$s 50.60</strong> Disponible para SMS</p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                    <p class="user-plan--remaining">
                      <strong>u$s 20.60</strong> Disponible para PUSH
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Plan Standard. Suscriptores</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Plan Standard</strong> (500.000 Suscriptores)
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      MEJORAR PLAN
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p>
                      <strong>495.547</strong> Suscriptores (<strong
                        >4.654</strong
                      >
                      disponibles)
                    </p>
                    <p><strong>u$s 50.60</strong> Disponible para SMS</p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                    <p class="user-plan--remaining">
                      <strong>u$s 20.60</strong> Disponible para PUSH
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Plan Enterprise. Suscriptores</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Plan Enterprise</strong> (15M Suscriptores)
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      MEJORAR PLAN
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p>
                      <strong>11.495.547</strong> Suscriptores (<strong
                        >434.654</strong
                      >
                      disponibles)
                    </p>
                    <p><strong>u$s 50.60</strong> Disponible para SMS</p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                    <p class="user-plan--remaining">
                      <strong>u$s 20.60</strong> Disponible para PUSH
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Plan High Volume. Envíos.</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Plan High Volume</strong> (10M Envíos)
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      MEJORAR PLAN
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p>
                      <strong>20.495.547</strong> Envíos realizados (<strong
                        >10.495.547</strong
                      >
                      excedentes)
                    </p>
                    <p><strong>u$s 50.60</strong> Disponible para SMS</p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                    <p class="user-plan--remaining">
                      <strong>u$s 20.60</strong> Disponible para PUSH
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Cuenta Demo.</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">
                      <strong>Cuenta Demo</strong> (500 Suscriptores)
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      MEJORAR PLAN
                    </button>
                  </div>
                  <div class="user-plan--type">
                    <p><strong>436</strong> Suscriptores disponibles</p>
                    <p><strong>u$s 50.60</strong> Disponible para SMS</p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                    <p class="user-plan--remaining">
                      <strong>u$s 20.60</strong> Disponible para PUSH
                    </p>
                    <button class="user-plan close-user--menu" type="button">
                      Cargar
                    </button>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Client Manager. User</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <div class="user-plan--type">
                    <p class="user-plan--monthly-text">Envío de Emails</p>
                    <p class="user-plan-enabled">HABILITADO</p>
                    <p>Envío de SMS</p>
                    <button class="user-plan close-user--menu" type="button">
                      SOLICITAR
                    </button>
                  </div>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>

            <hr class="dpsg-break" />
            <p><strong>Client Manager. Profile</strong></p>
            <div class="dgsg-nav-user-menu">
              <div class="user-menu open">
                <header>
                  <span class="user-avatar--menu">GB</span>
                  <p>
                    <span class="name">Gus Baamonde</span
                    ><span class="email">gbaamonde@makingsense.com</span>
                  </p>
                </header>
                <div class="user-plan--container m-t-18">
                  <p class="user-plan--monthly-text">
                    Perfil: <strong>Manuel Di Rago</strong>
                  </p>
                </div>
                <ul class="options-user">
                  <li><a href="">Panel de Control</a></li>
                  <li><a href="">Centro de descargas</a></li>
                  <li><a href="">Primeros pasos en Doppler</a></li>
                  <li><a href="">Salir</a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
