<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Notification POC</title>
    <meta name="keywords" content="UI library Doppler - Notification POC" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Notification POC" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Notification POC" />
    <meta property="og:url" content="Notification POC" />
    <meta property="og:description" content="Notification POC" />
    <meta property="og:site_name" content="Notification POC" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="22">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>POC Web Push Notifications</h3>
            <br />
            <p>Configuración de push para este sitio:</p>
            <p>
              Clickear en el botón para habilitar/deshabilitar las push <br />
              <label
                >Clave publica para suscribirse a notificaciones (hay una por
                default) </label
              ><input
                type="text"
                id="public-key"
                placeholder="Clave publica que tiene que conincidir con la privada del server"
              />
              <br /><br />
              <button
                type="button"
                class="dp-button button-big primary-green js-push-btn"
              >
                Suscribirse
              </button>
              <br /><br />
              Desde aca se puede crear una notificacion customizada con titulo y
              mensaje <br />
              <label>Título: </label
              ><input type="text" id="notification-title" />
              <label>Mensaje: </label
              ><input type="text" id="notification-message" />
              <label
                >Push Server URL(http://appint.fromdoppler.net:5001, default:
                http://localhost:5000): </label
              ><input
                type="text"
                id="server-url"
                placeholder="http://appint.fromdoppler.net:5001"
              />
              <br />
              <br />
              <button
                type="button"
                class="dp-button button-big primary-green js-send-notification"
              >
                Enviar notificación ahora
              </button>
              (usar server local en /assets --> node pushServer.js o estar
              seguro de tener un server corriendo, para usar int conectar vpn y
              activar contenido no seguro para esta pagina**)
              <br /><br />
              En caso de querer realizar el post por postman pegar en el cuerpo
              del post el codigo de la suscripcion (es por browser y depende
              desde donde nos suscribimos)
              <textarea id="user-subscription-code"></textarea>
              **
              <img
                src="/img/habilitarContenidoNoSeguro.png"
                style="max-width: 1000px;"
              />
            </p>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
    <script src="./firebasePush.js"></script>
  </body>
</html>
