<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Notification POC</title>
    <meta name="keywords" content="UI library Doppler - Notification POC" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Notification POC" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Notification POC" />
    <meta property="og:url" content="Notification POC" />
    <meta property="og:description" content="Notification POC" />
    <meta property="og:site_name" content="Notification POC" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-messaging.js"></script>
  </head>
  <body data-active-menu="22">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>POC Web Push Notifications</h3>
            <br />
            <p>
              Clickear en el botón para habilitar/deshabilitar las push <br />
              <button
                type="button"
                class="dp-button button-big primary-green js-push-btn"
              >
                Suscribirse
              </button>
              <br /><br />
              Desde aca se puede crear una notificacion customizada con titulo y
              mensaje <br />
              <label>Título: </label
              ><input type="text" id="notification-title" />
              <label>Mensaje: </label
              ><input type="text" id="notification-message" />
              <br />
              <br />
              <button
                type="button"
                class="dp-button button-big primary-green js-send-notification"
              >
                Enviar notificación local
              </button>
              <button
                type="button"
                class="dp-button button-big primary-green js-send-notification-int"
              >
                Enviar notificación a int
              </button>
              (usar server local en puerto 5000 o en int puerto 5001 en /assets
              --> node pushServer.js o estar seguro usar uno en int conectar vpn
              y activar contenido no seguro para esta pagina)
              <br /><br />
              En caso de querer realizar el post por postman ver codigo por
              consola
            </p>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: 'AIzaSyBKwB7k2mf_vtn4ygDDUPpevVgn_2MdhTw',
        authDomain: 'datahub-test-3b639.firebaseapp.com',
        databaseURL: 'https://datahub-test-3b639.firebaseio.com',
        projectId: 'datahub-test-3b639',
        storageBucket: 'datahub-test-3b639.appspot.com',
        messagingSenderId: '947453659155',
        appId: '1:947453659155:web:72885de47d1e36f4fb17e6',
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    <script src="./firebasePush.js"></script>
  </body>
</html>
