<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Notification POC</title>
    <meta name="keywords" content="UI library Doppler - Notification POC" />
    <meta
      name="description"
      content="Locate the user within the structure, whether physical or conceptual, of the website, so that he knows where he is"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Notification POC" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Notification POC" />
    <meta property="og:url" content="Notification POC" />
    <meta property="og:description" content="Notification POC" />
    <meta property="og:site_name" content="Notification POC" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="22" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>POC Web Push Notifications</h3>
            <p>Prueba de concepto de Push Notification</p>
            <hr class="dpsg-break" />
            <form class="col-sm-8">
              <fieldset>
                <legend>POC Web Push Notifications</legend>
                <ul class="field-group">
                  <li class="field-item">
                    <p>
                      Clickear en el botón para habilitar/deshabilitar las push
                    </p>
                  </li>
                  <li class="field-item">
                    <button
                      type="button"
                      class="dp-button button-medium primary-green js-push-btn"
                    >
                      Suscribirse
                    </button>
                  </li>
                  <li class="field-item">
                    <p>
                      Desde aca se puede crear una notificacion customizada con
                      titulo y mensaje
                    </p>
                  </li>
                  <li class="field-item">
                    <label>Título: </label
                    ><input type="text" id="notification-title" />
                  </li>
                  <li class="field-item">
                    <label>Mensaje: </label
                    ><input type="text" id="notification-message" />
                  </li>
                  <li class="field-item">
                    <ul class="field-group">
                      <li class="field-item col-sm-6">
                        <button
                          type="button"
                          class="
                            dp-button
                            button-medium
                            primary-green
                            js-send-notification
                          "
                        >
                          Enviar notificación local
                        </button>
                      </li>
                      <li class="field-item col-sm-6">
                        <button
                          type="button"
                          class="
                            dp-button
                            button-medium
                            primary-green
                            js-send-notification-int
                          "
                        >
                          Enviar notificación a int
                        </button>
                      </li>
                    </ul>
                  </li>
                  <li class="field-item">
                    <p>
                      <strong
                        >Usar server local en puerto 5000 o en int puerto
                        5001</strong
                      >
                      en <span class="dpsg-code">/assets --> node</span>
                      <span class="dpsg-code">pushServer.js</span> o estar
                      seguro usar uno en
                      <span class="dpsg-code">int</span> conectar
                      <span class="dpsg-code">vpn</span> y activar contenido no
                      seguro para esta página.
                    </p>
                  </li>
                  <li class="field-group">
                    <p>
                      En caso de querer realizar el post por postman ver código
                      por consola.
                    </p>
                  </li>
                </ul>
              </fieldset>
            </form>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
    <script src="./firebasePush.js"></script>
  </body>
</html>
