<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Layout Plan Calculator</title>
    <meta
      name="keywords"
      content="UI library Doppler - Layout Plan Calculator"
    />
    <meta name="description" content="Layout Plan Calculator" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Layout Plan Calculator" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Layout Plan Calculator" />
    <meta property="og:url" content="Layout Plan Calculator" />
    <meta property="og:description" content="Layout Plan Calculator" />
    <meta property="og:site_name" content="Layout Plan Calculator" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="32" class="dp-library">
    <div class="dp-app-container">
      <header class="m-t-30 m-b-30 m-l-30">
        <a
          href="index.html"
          class="dp-button button-medium secondary-green button--round"
        >
          Back
        </a>
      </header>

      <section class="dp-gray-page p-t-54 p-b-54">
        <div class="dp-container">
          <div class="dp-rowflex">
            <div class="dp-align-center dp-header-text">
              <h1 class="dp-tit-plans">Plan STANDARD</h1>
              <p>
                Elige el tipo de plan y utiliza el slider para calcular el costo
                final de tu Plan.
              </p>
            </div>

            <div class="dp-align-center dp-tabs-plans col-sm-9">
              <nav class="tabs-wrapper">
                <ul class="tabs-nav" data-tab-active="1">
                  <li class="tab--item">
                    <a href="#" class="tab--link active"
                      >por Contactos
                      <div class="dp-tooltip-container">
                        <span class="ms-icon icon-info-icon dp-iconinfo"></span>

                        <div class="dp-tooltip-top">
                          <span
                            >¿Realizas envíos frecuentes? Escoge un Plan basado
                            en la cantidad de Suscriptores que posees, sin
                            límite de envíos. Si pagas 3, 6 o 12 meses por
                            adelantado, ¡ahorras hasta un 25%!.</span
                          >
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="tab--item">
                    <a href="#" class="tab--link"
                      >por Envíos
                      <div class="dp-tooltip-container">
                        <span class="ms-icon icon-info-icon dp-iconinfo"></span>

                        <div class="dp-tooltip-top">
                          <span
                            >¿Realizas envíos frecuentes? Escoge un Plan basado
                            en la cantidad de Suscriptores que posees.</span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="tab--item">
                    <a href="#" class="tab--link"
                      >por Créditos
                      <div class="dp-tooltip-container">
                        <span class="ms-icon icon-info-icon dp-iconinfo"></span>

                        <div class="dp-tooltip-top">
                          <span
                            >Si pagas 3, 6 o 12 meses por adelantado, ¡ahorras
                            hasta un 25%!.</span
                          >
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <section class="tab--container col-sm-12">
              <article class="tab--content active">
                <div class="dp-container">
                  <div class="dp-rowflex">
                    <div class="dp-calc-box">
                      <div class="col-md-6 col-sm-12">
                        <article class="dp-box-shadow dp-bgplan">
                          <div class="dp-calc-quantity">
                            <h3>100.000</h3>
                            <h4>Contactos</h4>
                          </div>

                          <div class="dp-calc-slider progress-bar">
                            <input
                              class="range-slider"
                              type="range"
                              min="0"
                              value="0"
                              max="5"
                              step="1"
                            />
                            <div class="progress-anchor"></div>
                            <div class="dp-indicator">
                              <span><strong>1500</strong></span
                              ><span><strong>100k</strong></span>
                            </div>
                          </div>
                          <div class="dp-calc-message dp-show">
                            <p>
                              ¿Tienes más de 100.000 contactos?
                              <a href="#"
                                ><strong
                                  >Contáctanos para crear un plan a tu
                                  medida.</strong
                                ></a
                              >
                            </p>
                          </div>
                          <hr />

                          <div class="dp-wrap-subscription">
                            <h4>Suscripción</h4>
                            <ul>
                              <li>
                                <button
                                  type="button"
                                  class="dp-button button-medium"
                                >
                                  Mensual
                                </button>
                              </li>
                              <li>
                                <button
                                  type="button"
                                  class="dp-button button-medium"
                                >
                                  Trimestral
                                </button>
                                <span class="dp-discount">5% off</span>
                              </li>
                              <li>
                                <button
                                  type="button"
                                  class="dp-button button-medium"
                                >
                                  Semestral
                                </button>
                                <span class="dp-discount">15% off</span>
                              </li>
                              <li>
                                <button
                                  type="button"
                                  class="dp-button button-medium btn-active"
                                >
                                  Anual
                                </button>
                                <span class="dp-discount">25% off</span>
                              </li>
                            </ul>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <!--uno -->
                        <div class="dp-price--wrapper">
                          <span class="dp-price-old"
                            ><span class="dp-price-old-money">US$</span
                            ><span class="dp-price-old-amount">15</span></span
                          >
                          <h2 class="dp-price-large">
                            <span class="dp-price-large-money">US$</span
                            ><span class="dp-price-large-amount">11,25</span>
                          </h2>
                          <!--<h2 class="dp-price-small">
                          <span class="dp-price-small-money">Bs</span
                          ><span class="dp-price-small-amount">85.728.236,58</span>
                        </h2>-->
                          <span class="dp-for-time">Por mes</span>
                          <div class="dp-agreement">
                            <p>
                              El pago anual será de
                              <strong>US$1.028.738.839</strong>
                            </p>
                            <p class="dp-plan-disclaimer">
                              La renovación es automática y puedes cancelarla
                              cuando quieras. Estos valores no incluyen
                              impuestos.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dp-container">
                  <div class="dp-rowflex">
                    <div class="dp-align-center dp-cta-plans">
                      <button
                        type="button"
                        class="dp-button button-medium primary-grey"
                      >
                        Volver a Planes
                      </button>
                      <button
                        type="button"
                        class="dp-button button-medium primary-green"
                      >
                        Continuar
                      </button>
                    </div>
                  </div>
                </div>
              </article>

              <article class="tab--content">
                <div class="dp-container">
                  <div class="dp-rowflex">
                    <div class="dp-calc-box">
                      <div class="col-md-6 col-sm-12">
                        <article class="dp-box-shadow dp-bgplan">
                          <div class="dp-calc-quantity">
                            <h3>100.000</h3>
                            <h4>Contactos</h4>
                          </div>

                          <div class="dp-calc-slider progress-bar">
                            <input
                              class="range-slider"
                              type="range"
                              min="0"
                              value="0"
                              max="5"
                              step="1"
                            />
                            <div class="progress-anchor"></div>
                            <div class="dp-indicator">
                              <span><strong>1500</strong></span
                              ><span><strong>100k</strong></span>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <!-- dos -->
                        <div class="dp-price--wrapper">
                          <!--<h2 class="dp-price-large">
                          <span class="dp-price-large-money">US$</span
                          ><span class="dp-price-large-amount">11,25</span>
                        </h2>-->
                          <span class="dp-price-old"
                            ><span class="dp-price-old-money">Bs</span
                            ><span class="dp-price-old-amount"
                              >85.728.236,58</span
                            ></span
                          >
                          <h2 class="dp-price-small">
                            <span class="dp-price-small-money">Bs</span
                            ><span class="dp-price-small-amount"
                              >85.728.236,58</span
                            >
                          </h2>
                          <span class="dp-for-time">Por mes</span>
                          <div class="dp-agreement">
                            <p class="dp-plan-disclaimer">
                              La renovación es automática y puedes cancelarla
                              cuando quieras. Estos valores no incluyen
                              impuestos.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dp-container">
                    <div class="dp-rowflex">
                      <div class="dp-align-center dp-cta-plans">
                        <button
                          type="button"
                          class="dp-button button-medium primary-grey"
                        >
                          Volver a Planes
                        </button>
                        <button
                          type="button"
                          class="dp-button button-medium primary-green"
                        >
                          Continuar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>

              <article class="tab--content">
                <div class="dp-align-center">
                  <p>por Créditos</p>
                </div>
              </article>
            </section>
          </div>
        </div>
      </section>

      <!-- build:js:dist js/app.js -->
      <script src="./js/main.js"></script>
      <!-- /build -->
    </div>
  </body>
</html>
