<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Preload Component</title>
    <meta name="keywords" content="UI library Doppler - Preload Component" />
    <meta
      name="description"
      content="Our Preload component is a @mixin that receives three parameters, $ color, $ size and $ background and can adapt it to any environment we need."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Preload Component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Preload Component" />
    <meta property="og:url" content="Preload Component" />
    <meta property="og:description" content="Preload Component" />
    <meta property="og:site_name" content="Preload Component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="9" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Preload</h3>
            <p>
              Nuestro componente Preload es un @mixin que recibe tres
              parametros, $color, $size y $background pudiendo asi adaptarlo a
              cualquier entorno que necesitemos.
            </p>
            <div class="dp-container">
              <div class="dp-rowflex">
                <div class="col-sm-12 col-md-8 col-lg-4 m-b-12">
                  <div class="wrapper-loading">
                    <div class="loading-page"></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
