<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Promotional Page</title>
    <meta name="keywords" content="UI library Doppler - Promotional Page" />
    <meta name="description" content="Promotional Page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Promotional Page" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Promotional Page" />
    <meta property="og:url" content="Promotional Page" />
    <meta property="og:description" content="Promotional Page" />
    <meta property="og:site_name" content="Promotional Page" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link
      rel="stylesheet"
      href="https://use.typekit.net/fbq8dbp.css"
      disabled
    />
    <!-- Styles -->
    <link
      rel="stylesheet"
      media="all"
      type="text/css"
      href="./css/styles.css"
    />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="38" class="dp-library dp-bg-softgrey">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12">
          <div class="dp-icon-promotion">
            <img src="img/icon-pcontacto.svg" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="dp-content-promotion">
            <h1>¡Parece que no tienes listas creadas!</h1>
            <p>
              Una Base de Datos es el pilar fundamental de toda estrategia de
              Email Marketing, comienza creando una lista, elige un nombre y
              selecciona la forma que prefieras para agregar Suscriptores.
            </p>
            <ul class="dp-list-promo">
              <li>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </li>
              <li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </li>
              <li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </li>
            </ul>
            <span class="dp-cta-paragraph"
              >¡Comienza a nutrir tu base contactos!</span
            >
            <div class="dp-actions">
              <button type="button" class="dp-button button-big primary-green">
                Crea tu primer Lista
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <figure class="dp-img-promotion">
            <img
              src="img/no-list.jpg"
              alt="¡Parece que no tienes listas creadas!"
            />
            <figcaption>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
              officiis atque velit quas libero sunt.
            </figcaption>
          </figure>
        </div>
      </div>
    </section>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-12 col-md-6 col-sm-12 m-b-24">
          <!-- wrapper-reports-box -->
        </div>
      </div>
    </section>
    <!-- container-kpi -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
