<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Layout Reports</title>
    <meta name="keywords" content="UI library Doppler - Layout Reports" />
    <meta name="description" content="First layout of Reports" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Layout Reports" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Layout Reports" />
    <meta property="og:url" content="Layout Reports" />
    <meta property="og:description" content="Layout Reports" />
    <meta property="og:site_name" content="Layout Reports" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>

  <body data-active-menu="21" class="dp-library">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
      </div>
    </div>

    <header class="report-filters">
      <div class="dp-container">
        <div class="dp-rowflex">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Optimiza tu estrategia de Marketing Digital</h2>
            <p>
              Encuentra oportunidades de conversión, analiza cada pieza dentro
              de tu estrategia. Sigue los pasos que tus usuarios realizan dentro
              de tu journey y corrige aquellos que presentan inconvenientes.
            </p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <form action="#" class="form-filters">
              <div class="col-sm-12 col-md-4 col-lg-4 m-b-12">
                <fieldset class="filter">
                  <legend>
                    Optimiza tu estrategia de Marketing Digital - Dominio
                  </legend>
                  <label for="domain">Dominio</label>
                  <span class="dropdown-arrow"></span>
                  <select id="domain" class="" name="">
                    <option value="">www.fromdoppler.com</option>
                    <option value="">www.fromdoppler.com</option>
                    <option value="">www.fromdoppler.com</option>
                    <option value="">www.fromdoppler.com</option>
                  </select>
                  <span class="verified--domain"
                    >Dominio verificado 17/12/2017<a
                      href="#"
                      class="dp-button check--again"
                      >verificar nuevamente</a
                    ></span
                  >
                </fieldset>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 m-b-12">
                <fieldset class="filter" disabled>
                  <legend>
                    Optimiza tu estrategia de Marketing Digital - Páginas
                  </legend>
                  <label for="pages">Páginas</label>
                  <span class="dropdown-arrow"></span>
                  <select id="pages" class="" name="">
                    <option value="">Todas las páginas</option>
                    <option value="">Todas las páginas</option>
                    <option value="">Todas las páginas</option>
                    <option value="">Todas las páginas</option>
                  </select>
                </fieldset>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 m-b-12">
                <fieldset class="filter">
                  <legend>
                    Optimiza tu estrategia de Marketing Digital - Rango de
                    tiempo
                  </legend>
                  <label for="range_time">Rango de tiempo</label>
                  <span class="dropdown-arrow"></span>
                  <select id="range_time" class="" name="Último mes">
                    <option value="">Último mes</option>
                    <option value="">Último mes</option>
                    <option value="">Último mes</option>
                    <option value="">Último mes</option>
                  </select>
                </fieldset>
              </div>
            </form>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <!-- hero-wrapper -->
    </header>
    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-4 col-md-6 col-sm-12 m-b-24">
          <div class="dp-box-shadow">
            <div class="box-border--bottom">
              <h3 class="number-kpi">80</h3>
              <h6 class="subtitle-kpi">Usuarios sin Email</h6>
              <small class="date-range"><div>14/2/2020</div></small>
            </div>
            <p class="text-kpi">
              Número total de usuarios que visitaron tu Sitio Web y cuyo Correo
              Electrónico no ha sido identificado por Doppler. Si un usuario
              ingresó varias veces, solo se contabilizará una.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 m-b-24">
          <div class="dp-box-shadow">
            <div class="loading-box"></div>
            <div class="box-border--bottom">
              <h3 class="number-kpi">42</h3>
              <h6 class="subtitle-kpi">Usuarios con Email</h6>
              <small class="date-range"><div>14/2/2020</div></small>
            </div>
            <p class="text-kpi">
              Número total de usuarios que visitaron tu Sitio Web y cuyo Correo
              Electrónico ha sido identificado por Doppler. Si un usuario
              ingresó varias veces, solo se contabilizará una.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 m-b-24">
          <div class="dp-box-shadow warning--kpi">
            <div class="box-border--bottom">
              <h3 class="number-kpi">170</h3>
              <h6 class="subtitle-kpi">Usuarios sin Email</h6>
              <small class="date-range"><div>14/2/2020</div></small>
            </div>
            <p class="text-kpi">
              Número total de usuarios que visitaron tu Sitio Web y cuyo Correo
              Electrónico no ha sido identificado por Doppler. Si un usuario
              ingresó varias veces, solo se contabilizará una.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-lg-12 col-md-6 col-sm-12 m-b-24">
          <div class="wrapper-reports-box">
            <div class="reports-box">
              <small class="title-reports-box">Top paginas mas visitadas</small>
              <div class="page-ranking--item">
                <p class="text-ranking">1</p>
                <a
                  class="link-ranking"
                  href="https://www.fromdoppler.com/email-marketing"
                  rel="noopener"
                  target="_blank"
                  >https://www.fromdoppler.com/email-marketing</a
                >
                <p class="text-ranking">
                  <strong>9.070</strong> Visitas Totales
                </p>
              </div>
              <div class="page-ranking--item">
                <p class="text-ranking">1</p>
                <a
                  class="link-ranking"
                  href="https://www.fromdoppler.com/email-marketing"
                  rel="noopener"
                  target="_blank"
                  >https://www.fromdoppler.com/email-marketing</a
                >
                <p class="text-ranking">
                  <strong>350.758</strong> Visitas Totales
                </p>
              </div>
            </div>
            <!-- reports-box -->
          </div>
          <!-- wrapper-reports-box -->
        </div>
      </div>
    </section>
    <!-- container-kpi -->
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
