<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doppler UI Team</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="https://www.fromdoppler.com/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.fromdoppler.com/favicon.ico" />
  </head>

  <body>
    <section class="section-module">
      <ul class="nav">
        <li class="nav-item"><span class="ms-icon icon-doppler-logo"></span></li>
        <li class="nav-item"><a href="index.html" class="nav-link">Doppler UI</a></li>
        <li class="nav-item"><a href="header.html" class="nav-link">Header</a></li>
        <li class="nav-item"><a href="footer.html" class="nav-link">Footer</a></li>
        <li class="nav-item"><a href="messages-header.html" class="nav-link">Messages header</a></li>
        <li class="nav-item"><a href="modal.html" class="nav-link">Modals</a></li>
        <li class="nav-item"><a href="reports-filters.html" class="nav-link active">Reports filters</a></li>
      </ul><!-- nav -->
    </section>
    <header class="hero-filters">
      <div class="hero-wrapper">
        <h3>Optimiza tu estrategia de Marketing Digital</h3>
        <p>Encuentra oportunidades de conversión, analiza cada pieza dentro de tu estrategia. Sigue los pasos que tus usuarios realizan dentro de tu journey y corrige aquellos que presentan inconvenientes. </p>
        <form action="#" class="form-filters">
          <fieldset class="filter">
            <legend>Optimiza tu estrategia de Marketing Digital - Dominio</legend>
            <label for="domain">Dominio</label>
            <select id="domain" class="" name="">
              <option value="">www.fromdoppler.com</option>
              <option value="">www.fromdoppler.com</option>
              <option value="">www.fromdoppler.com</option>
              <option value="">www.fromdoppler.com</option>
            </select>
            <span class="verified--domain">Dominio verificado 17/12/2017<a href="#" class="dp-button check--again">verificar nuevamente</a></span>
          </fieldset><!-- filter -->
          <fieldset class="filter" disabled>
            <legend>Optimiza tu estrategia de Marketing Digital - Páginas</legend>
            <label for="pages">Páginas</label>
            <select id="pages" class="" name="">
              <option value="">Todas las páginas</option>
              <option value="">Todas las páginas</option>
              <option value="">Todas las páginas</option>
              <option value="">Todas las páginas</option>
            </select>
          </fieldset><!-- filter -->
          <fieldset class="filter">
            <legend>Optimiza tu estrategia de Marketing Digital - Rango de tiempo</legend>
            <label for="range_time">Rango de tiempo</label>
            <select id="range_time" class="" name="Último mes">
              <option value="">Último mes</option>
              <option value="">Último mes</option>
              <option value="">Último mes</option>
              <option value="">Último mes</option>
            </select>
          </fieldset><!-- filter -->
        </form>
        <span class="arrow"></span>
      </div><!-- hero-wrapper -->
    </header>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>

</html>
