<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Doppler UI Team</title>
    <meta name="keywords" content="" />
    <meta name="description" content="Signup layout" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Signup layout" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Signup layout" />
    <meta property="og:url" content="Signup layout" />
    <meta property="og:description" content="Signup layout" />
    <meta property="og:site_name" content="Signup layout" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="19">
    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="layout.html"
              class="dp-button button-medium secondary-green button--round"
            >
              Back
            </a>
          </header>
        </div>
        <div class="col-sm-12 m-t-24">
          <div class="dp-block-wlp">
            <form
              class="dp-filters"
              role="search"
              aria-label="Formulario de filtros para buscar Historial de Suscriptores"
              id="searchSubscriberHistory"
            >
              <fieldset>
                <legend>Busqueda avanzada de historial de subscriptores</legend>
                <ul
                  class="field-group dp-rowflex"
                  aria-labelledby="searchSubscriberHistory"
                >
                  <li
                    class="field-item col-lg-6 col-md-6 col-sm-12 dp-t-inputsh error"
                  >
                    <input
                      type="search"
                      placeholder="Busca un subscriptor por su email, nombre o apellido..."
                      aria-label="Ingrese un email para buscar historial de desubscriptor"
                      class="dp-searchemail"
                      aria-required="true"
                    />
                    <button
                      class="dp-button button-medium dp-button--search"
                      aria-label="buscar historial de desubscriptor"
                      title="Buscar"
                    >
                      <span
                        class="ms-icon icon-search"
                        aria-hidden="true"
                      ></span>
                    </button>
                    <div class="dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item col-lg-2 col-md-6 col-sm-12 error">
                    <label for="filtrarPorEstado">Filtrar por Estado:</label>
                    <span class="dropdown-arrow"></span>
                    <select
                      id="filtrarPorEstado"
                      aria-label="Filtrar por estado"
                    >
                      <option>Estado</option>
                      <option>Estado</option>
                      <option>Estado</option>
                    </select>
                    <div class="dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item col-lg-2 col-md-6 col-sm-12">
                    <label for="filtrarPorOrigen">Filtrar por Origen:</label>
                    <span class="dropdown-arrow"></span>
                    <select
                      id="filtrarPorOrigen"
                      aria-label="Filtrar por origen"
                    >
                      <option>Estado</option>
                      <option>Estado</option>
                      <option>Estado</option>
                    </select>
                    <div class="dp-message dp-error-form">
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                  <li class="field-item col-lg-2 col-md-6 col-sm-12">
                    <label for="filtrarPorCalificacion"
                      >Filtrar por Calificacion:</label
                    >
                    <span class="dropdown-arrow"></span>
                    <select
                      id="filtrarPorCalificacion"
                      aria-label="filtrar por calificación"
                    >
                      <option>Estado</option>
                      <option>Estado</option>
                      <option>Estado</option>
                    </select>
                    <div
                      class="dp-message dp-error-form"
                      aria-label="Mensajes de validación"
                    >
                      <p>¡Ouch! Este campo está vacío</p>
                    </div>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
          <div class="dp-block-wlp m-b-36">
            <div class="dp-table-responsive">
              <table
                class="dp-c-table"
                aria-label="Resultado de historial de suscriptores"
                summary="Resultado de historial de suscriptores"
              >
                <caption>
                  Mostrando
                  <strong>15 de 25.732</strong>
                  resultados
                </caption>
                <thead>
                  <tr>
                    <th aria-label="Email" scope="col">
                      <a href="#">Email </a>
                    </th>
                    <th aria-label="Nombre" scope="col">
                      <a href="#">Nombre </a>
                    </th>
                    <th aria-label="Apellido" scope="col">
                      <a href="#">Apellido </a>
                    </th>
                    <th aria-label="Estado del suscriptor" scope="col">
                      <a href="#">Estado del suscriptor </a>
                    </th>
                    <th aria-label="Fecha de creación" scope="col">
                      <a href="#">Fecha de creación </a>
                    </th>
                    <th aria-label="Origen" scope="col">
                      <a href="#">Origen </a>
                    </th>
                    <th aria-label="calificación" scope="col">
                      <a href="#">calificación </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td aria-label="Email">
                      <a href="#" role="link" target="_blank"
                        >fcoronel@makingsense.com</a
                      >
                    </td>
                    <td aria-label="Nombre">Federico</td>
                    <td aria-label="Apellido">Coronel</td>
                    <td aria-label="Estado de Usuario">
                      <span
                        class="user-active"
                        aria-label="Estado Activo"
                      ></span>
                    </td>
                    <td aria-label="Fecha">22/12/2019</td>
                    <td>Importado Manual</td>
                    <td aria-label="Calificacion">
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" role="link" target="_blank"
                        >cbernat@makingsense.com</a
                      >
                    </td>
                    <td>Cecilia</td>
                    <td>Bernat</td>
                    <td><span class="user-active-with-no-list"></span></td>
                    <td>22/12/2019</td>
                    <td>Formularios</td>
                    <td>
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" role="link" target="_blank"
                        >amoschini@makingsense.com</a
                      >
                    </td>
                    <td>Andres</td>
                    <td>Moschini</td>
                    <td><span class="user-removed-client"></span></td>
                    <td>22/12/2019</td>
                    <td>Formularios</td>
                    <td>
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" role="link" target="_blank"
                        >ssanchez@makingsense.com</a
                      >
                    </td>
                    <td>Silvia</td>
                    <td>Sanchez</td>
                    <td><span class="user-subscriber-removed"></span></td>
                    <td>22/12/2019</td>
                    <td>Formularios</td>
                    <td>
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" role="link" target="_blank"
                        >gbaamonde@makingsense.com</a
                      >
                    </td>
                    <td>Gustavo</td>
                    <td>Baamonde</td>
                    <td><span class="user-removed-hard-bounces"></span></td>
                    <td>22/12/2019</td>
                    <td>Prestashop</td>
                    <td>
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" role="link" target="_blank"
                        >jasas@makingsense.com</a
                      >
                    </td>
                    <td>Juan</td>
                    <td>Asas</td>
                    <td><span class="user-removed-no-openings"></span></td>
                    <td>22/12/2019</td>
                    <td>Formularios</td>
                    <td>
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" role="link" target="_blank"
                        >mvillaseco@makingsense.com</a
                      >
                    </td>
                    <td>Mauro</td>
                    <td>Villaseco</td>
                    <td><span class="user-removed-soft-bounces"></span></td>
                    <td>22/12/2019</td>
                    <td>Importado Manual</td>
                    <td>
                      <div class="dp-calification">
                        <span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span
                        ><span
                          class="ms-icon icon-star"
                          aria-label="Una estrella"
                        ></span>
                        <span
                          class="ms-icon icon-star-filled"
                          aria-label="Sin estrella"
                        ></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
