<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Table component</title>
    <meta name="keywords" content="UI library Doppler - Table component" />
    <meta
      name="description"
      content="Zebra table and its hover status plus a small sync animation."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Table component" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Table component" />
    <meta property="og:url" content="Table component" />
    <meta property="og:description" content="Table component" />
    <meta property="og:site_name" content="Table component" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="4" class="dp-library">
    <!-- Layers -->
    <main role="main" class="dpsg-main-wrap">
      <!-- build:include partials/_header.html -->
      This will be replaced by the content of header.html
      <!-- /build -->
      <!-- header -->
      <div class="dpsg-wrapper">
        <!-- build:include partials/_navigation.html -->
        This will be replaced by the content of navigation.html
        <!-- /build -->
        <div class="dpsg-content-wrap">
          <article class="dpsg-content">
            <h3>Tablas</h3>
            <p>
              Nuestro componente de tablas esta en desarrollo. Hasta el momento
              tenemos un solo ejemplo de tabla cebra y su estado
              <span class="dpsg-code">hover</span> más una pequeña animación de
              sincronización.
            </p>
            <hr class="dpsg-break" />
            <table class="dp-c-table">
              <caption></caption>
              <thead>
                <tr>
                  <th>
                    <a href="#">Email <span class="ms-icon icon-AZ"></span></a>
                  </th>
                  <th>
                    <a href="#">Nombre <span class="ms-icon icon-AZ"></span></a>
                  </th>
                  <th>
                    <a href="#"
                      >Apellido <span class="ms-icon icon-AZ"></span
                    ></a>
                  </th>
                  <th>
                    <a href="#"
                      >Estado del suscriptor
                      <span class="ms-icon icon-AZ"></span
                    ></a>
                  </th>
                  <th>
                    <a href="#"
                      >calificación <span class="ms-icon icon-AZ"></span
                    ></a>
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="5">Single column for footer</td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>
                    <a href="#">fcoronel@makingsense.com</a>
                  </td>
                  <td>Federico</td>
                  <td>Coronel</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--active"
                        aria-label="Estado Activo"
                        title="Activo"
                      ></span>
                      Activo
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star-filled"
                        aria-label="Sin estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star-filled"
                        aria-label="Sin estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">cbernat@makingsense.com</a></td>
                  <td>Cecilia</td>
                  <td>Bernat</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--active-with-no-list"
                        title="Activo no asociado a lista"
                        aria-label="Activo no asociado a lista"
                      ></span>
                      Activo no asociado a lista
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star-filled"
                        aria-label="Sin estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star-filled"
                        aria-label="Sin estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">amoschini@makingsense.com</a></td>
                  <td>Andres</td>
                  <td>Moschini</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--stand-by"
                        title="Standby"
                        aria-label="StandBy"
                      ></span>
                      StandBy
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star-filled"
                        aria-label="Sin estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">ssanchez@makingsense.com</a></td>
                  <td>Silvia</td>
                  <td>Sanchez</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--removed-hard-bounced"
                        title="Removido por Rebotes Hard"
                        aria-label="Removido por Rebotes Hard"
                      ></span>
                      Removido por Rebotes Hard
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star-filled"
                        aria-label="Sin estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">gbaamonde@makingsense.com</a></td>
                  <td>Gustavo</td>
                  <td>Baamonde</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--removed-soft-bounced"
                        title="Removido por Rebotes Soft"
                        aria-label="Removido por Rebotes Soft"
                      ></span>
                      Removido por Rebotes Soft
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">jasas@makingsense.com</a></td>
                  <td>Juan</td>
                  <td>Asas</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--removed-client"
                        title="Removido por el cliente"
                        aria-label="Removido por el cliente"
                      ></span>
                      Removido por el cliente
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">mvillaseco@makingsense.com</a></td>
                  <td>Mauro</td>
                  <td>Villaseco</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--removed-subscriber"
                        title="Removido por el suscriptor"
                        aria-label="Removido por el suscriptor"
                      ></span>
                      Removido por el suscriptor
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Content 1</td>
                  <td>Content 2</td>
                  <td>Content 3</td>
                  <td>
                    <div class="dp-icon-wrapper">
                      <span
                        class="ms-icon icon-user user--removed-no-openings"
                        title="Removido por no aperturas"
                        aria-label="Removido por no aperturas"
                      ></span>
                      Removido por no aperturas
                    </div>
                  </td>
                  <td>
                    <div class="dp-calification">
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span
                      ><span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                      <span
                        class="ms-icon icon-star"
                        aria-label="Una estrella"
                      ></span>
                    </div>
                  </td>
                </tr>
                <tr class="sync">
                  <td colspan="1">Enderec (dplrvetex)</td>
                  <td colspan="1">Lista nueva</td>
                  <td colspan="3">
                    <span class="text-sync">
                      <i class="ms-icon icon-clock"></i> Synchronizing...
                    </span>
                  </td>
                </tr>
                <tr class="sync">
                  <td colspan="1">Enderec (dplrvetex)</td>
                  <td colspan="1">Lista nueva</td>
                  <td colspan="3">
                    <span class="text-sync">
                      <i class="ms-icon icon-clock"></i> Synchronizing...
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </article>
        </div>
      </div>
      <!-- wrapper-container -->
      <!-- build:include partials/_footer.html -->
      This will be replaced by the content of footer.html
      <!-- /build -->
    </main>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
