<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UI library Doppler - Integration Shopify layout</title>
    <meta
      name="keywords"
      content="UI library Doppler - Integration Shopify layout"
    />
    <meta name="description" content="First Integration Shopify layout" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="Integration Shopify layout" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="Integration Shopify layout" />
    <meta property="og:url" content="Integration Shopify layout" />
    <meta property="og:description" content="Integration Shopify layout" />
    <meta property="og:site_name" content="Integration Shopify layout" />
    <!-- Stylesheets and polyfills -->
    <!-- Font Proxima Nova -->
    <link rel="stylesheet" href="https://use.typekit.net/fbq8dbp.css" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Themes-->
    <link rel="stylesheet" type="text/css" href="./css/theme-dark.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.fromdoppler.com/apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.fromdoppler.com/apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.fromdoppler.com/apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://www.fromdoppler.com/apple-touch-icon-57x57-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.fromdoppler.com/apple-touch-icon-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.fromdoppler.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.fromdoppler.com/favicon.ico"
    />
  </head>
  <body data-active-menu="23" class="dp-library">
    <section class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 m-t-24">
          <header class="m-b-30">
            <a
              href="index.html"
              class="dp-button button-medium secondary-yellow button--round"
            >
              Back
            </a>
          </header>
          <nav class="dp-breadcrumb">
            <ul>
              <li><a href="#">Panel de Control</a></li>
              <li>Integraciones y Preferencias Avanazadas</li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-12">
          <div class="dp-integration">
            <div class="dp-box-shadow">
              <div class="dp-block">
                <h2>Conecta Doppler con tu tienda Shopify</h2>
                <p>
                  <span
                    >Envía automáticamente los Contactos de tu tienda y toda su
                    información a una Lista de Doppler. Además, podrás importar
                    los productos de tu tienda en Plantillas de Email y crear
                    Automations de Carrito Abandonado y Producto Visitado.
                    ¿Tienes dudas? Presiona
                    <a target="_blank" href="#" rel="noopener noreferrer"
                      >HELP</a
                    >.</span
                  >
                </p>
              </div>
              <hr />
              <div class="dp-block dp-integration__status">
                <div class="dp-rowflex">
                  <div class="col-sm-12 col-md-1 col-lg-1 m-b-24"></div>
                  <div class="col-sm-12 col-md-8 col-lg-8 m-b-24">
                    <div class="status__data">
                      <ul>
                        <li>
                          <p>
                            Fecha de última sincronización:
                            <strong>16/12/2017</strong>
                          </p>
                          <p>
                            Nombre de la cuenta: <strong> myshop.com </strong>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-3"></div>
                </div>
              </div>
            </div>
            <div class="dp-box-shadow m-t-24 dp-integration--info m-b-36">
              <header class="dp-block">
                <div>
                  <h2>Listas creadas</h2>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et
                    praesentium distinctio obcaecati.
                  </p>
                </div>
                <button class="dp-button button--has-icon">
                  <span class="ms-icon icon-reload"></span>
                </button>
              </header>
              <hr />
              <header class="dp-block">
                <div>
                  <h2>Lista sincronizada</h2>
                  <p>Puedes sincronizar los datos manualmente cuando gustes.</p>
                </div>
              </header>
              <hr />
              <div class="dp-block">
                <ul>
                  <li>
                    <table class="dp-c-table">
                      <thead>
                        <tr>
                          <th>Nombre de la Lista</th>
                          <th>Suscriptores</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>MyList</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td>MyList</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td>MyList</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td>MyList</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td>MyList</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- build:js:dist js/app.js -->
    <script src="./js/main.js"></script>
    <!-- /build -->
  </body>
</html>
