/// @content [This mixin help you generate classes the colors for text and backgrounds, without having to write one by one for each color.]
/// @author Ignacio Rodrigues
/// @example
///   .sylver-color {
///     color: #CCCCCC;
///   }
///
///   .sylver-background {
///     color: #CCCCCC;
///   }
///
$colours: (
  ghostwhite: $dp-color-ghostwhite,
  lightgrey: $dp-color-lightgrey,
  grey: $dp-color-grey,
  darkgrey: $dp-color-darkgrey,
  lightgreen: $dp-color-lightgreen,
  green: $dp-color-green,
  darkgreen: $dp-color-darkgreen,
  brightness-green: $dp-color-green-brightness,
  sylver: $dp-color-sylver,
  snow: $dp-color-snow,
  lightyellow: $dp-color-lightyellow,
  lemonyellow: $dp-color-lemonyellow,
  yellow: $dp-color-yellow,
  darkyellow: $dp-color-darkyellow,
  brightness-yellow: $dp-color-yellow-brightness,
  lightred: $dp-color-lightred,
  red: $dp-color-red,
  darkred: $dp-color-darkred,
  white: $dp-color-white,
  border-grey: $dp-border-grey,
  default: $dp-color-default,
  lightbrown: $dp-color-lightbrown,
  brown: $dp-color-brown,
  brown-hover: $dp-color-brown--hover
);

@each $i in $colours {
  .#{nth($i, 1)}-color {
    color: nth($i, 2);
  }

  .#{nth($i, 1)}-background {
  	background: nth($i, 2);
  }
}
